
// styled

input[type="checkbox"]:not(.unstyled), input[type="radio"]:not(.unstyled) {
  position: absolute !important;
  z-index: -1 !important;
  opacity: 0 !important;
}

input[type="checkbox"]:not(.unstyled) {
  & ~ .form-label {
    .checkbox();
  }
}

input[type="radio"]:not(.unstyled) {
  & ~ .form-label {
    .radio();
  }
}

// pseudo

input[type="checkbox"]:not(.unstyled) {
  // focus
  &:focus ~ .form-label {
    .checkbox.focus();
  }
  // active
  &:checked ~ .form-label {
    .checkbox.active();
  }
  // disabled
  &:disabled ~ .form-label {
    .disabled();
  }
}

input[type="radio"]:not(.unstyled) {
  // focus
  &:focus ~ .form-label {
    .radio.focus();
  }
  // active
  &:checked ~ .form-label {
    .radio.active();
  }
  // disabled
  &:disabled ~ .form-label {
    .disabled();
  }
}

// unstyled

input[type="checkbox"].unstyled, input[type="radio"].unstyled {
  display: block;
  float: left;
  & ~ .form-label {
    display: block;
    overflow: hidden;
  }
  & ~ .form-label {
    .checkradio-label-unstyled() !important;
  }
}
