/**
 * form-group
 */

.form-group {
  position: relative;
}

// selectors

.form-groups(@rules) {
  .form-group:not(.xt-custom) {
    @rules();
  }
}

.form-labels(@rules) {
  .form-label:not(.xt-custom) {
    @rules();
  }
}

.form-items(@rules) {
  .form-item:not(.xt-custom) {
    @rules();
  }
}

/**
 * label
 */

.form-label {
  display: block;
  position: relative;
  cursor: pointer;
}

/**
 * item
 */

.form-item {
  .block();
}

// textarea

.form-item {
  textarea {
    overflow: hidden;
    resize: none;
  }
}

// select

.form-item {
  select:not([multiple])& {
    .padding(right, @select-space-size) !important;
    white-space: normal;
    background-position: calc(~'100% - ' @select-space-size / 2) 50%, calc(~'100% - (' @select-space-size / 2~') + '@select-arrow-size) 50%, 100% 0;
    background-size: @select-arrow-size @select-arrow-size, @select-arrow-size @select-arrow-size, @select-space-size 100%;
    background-repeat: no-repeat;
  }
}

/**
 * check and radio
 */

.checkbox, .radio {
  position: relative !important;
  &:not(.disabled) {
    cursor: pointer;
  }
  // label
  .form-label();
  .checkradio-label();
  // check and radio styled design
  &:before, &:after {
    content: '';
    position: absolute !important;
    top: 0;
    left: 0;
  }
  &:before {
    pointer-events: none;
  }
  &:after {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

// styled

input[type="checkbox"]:not(.unstyled), input[type="radio"]:not(.unstyled) {
  position: absolute !important;
  z-index: -1 !important;
  opacity: 0 !important;
}

input[type="checkbox"]:not(.unstyled) {
  & ~ .form-label {
    .checkbox();
  }
}

input[type="radio"]:not(.unstyled) {
  & ~ .form-label {
    .radio();
  }
}

// unstyled

input[type="checkbox"].unstyled, input[type="radio"].unstyled {
  display: block;
  float: left;
  & ~ .form-label {
    display: block;
    overflow: hidden;
  }
  & ~ .form-label {
    .checkradio-label();
  }
}
