@import 'xtend-library/src/core/form/_form.less';

/**
 * vars
 */

/**
 * check and radio
 */

// label

.checkradio-label {
  .margin(all, auto);
}

// unstyled

.checkradio-label-unstyled {
  .checkradio-label() !important;
  .padding(left, small) !important; // space from checkbox/radio
  top: -3px !important;
}

// validation

input[type="checkbox"], input[type="radio"] {
  &.valid {
    & ~ .form-label:before {
      border-color: @success !important;
    }
  }
  &.invalid {
    & ~ .form-label:before {
      border-color: @error !important;
    }
  }
}

// animation

.checkbox, .radio {
  &:before {
    transform: scale(.9);
    transition: all @time-sm @ease-out;
  }
  &:after {
    opacity: 0;
    transform: scale(.9);
    transition: all @time-sm @ease-out;
  }
  &.active {
    &:before {
      transform: scale(1);
      transition: all @time-sm @ease-in;
    }
    &:after {
      opacity: 1;
      transform: scale(1);
      transition: all @time-sm @ease-in;
    }
  }
  &.focus, &:focus {
    &.form-label.form-label-default, .form-default & {
      &:before {
        border: 1px solid @accent;
      }
    }
    &.form-label.form-label-inverse, .form-inverse & {
      &:before {
        border: 1px solid fade(@white, 50%);
      }
    }
  }
}

/**
 * form-note
 */

.form-note {
  .note();
  .note-default();
  .note-sm();
  .muted();
  .margin(y, small);
  .margin(y, layout);
}

/**
 * validation
 */

.form-item {
  &:invalid {
    box-shadow: none !important;
  }
}
