/**
 * form-group
 */

.form-group {
  position: relative;
}

// selectors

.form-groups(@rules) {
  .form-group {
    @rules();
  }
}

// addons

.form-group--row {
  display: flex;
}

.form-group--horizontal {
  display: flex;
  .form-label {
    .margin(all, none);
  }
}

.form-group--inline {
  display: flex;
  flex-wrap: nowrap;
  .form-item {
    width: auto;
  }
}

/**
 * label
 */

.form-label {
  display: block;
  position: relative;
  cursor: pointer;
  .user-select--none();
}

/**
 * item
 */

.form-item {
  .block();
  // select arrow
  select:not([multiple])& {
    .padding(right, @select-space--size) !important;
    white-space: normal;
    background-position: calc(~'100% - '@select-space--size / 2) 50%, calc(~'100% - ('@select-space--size / 2~') + '@select-arrow--size) 50%, 100% 0;
    background-size: @select-arrow--size @select-arrow--size, @select-arrow--size @select-arrow--size, @select-space--size 100%;
    background-repeat: no-repeat;
  }
}

// others

textarea {
  overflow: hidden;
  resize: none;
}

/**
 * check and radio
 */

.checkbox, .radio {
  position: relative !important;
  &:not(.disabled) {
    cursor: pointer;
  }
  // label
  .form-label();
  .checkradio-label();
  // check and radio styled design
  &:before, &:after {
    content: '';
    position: absolute !important;
    top: 0;
    left: 0;
  }
  &:before {
    pointer-events: none;
  }
  &:after {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

// styled

input[type="checkbox"]:not(.unstyled), input[type="radio"]:not(.unstyled) {
  position: absolute !important;
  z-index: -1 !important;
  opacity: 0 !important;
}

input[type="checkbox"]:not(.unstyled) {
  & ~ .form-label {
    .checkbox();
  }
}

input[type="radio"]:not(.unstyled) {
  & ~ .form-label {
    .radio();
  }
}

// unstyled

input[type="checkbox"].unstyled, input[type="radio"].unstyled {
  display: block;
  float: left;
  & ~ .form-label {
    display: block;
    overflow: hidden;
  }
  & ~ .form-label {
    .checkradio-label();
  }
}
