@import '~xtend-library/src/core/form/_form.less';

/**
 * vars
 */

// select

@select-arrow-size: 4px; // in px
@select-space-size: 24px; // in px

/**
 * fieldset
 */

fieldset, .fieldset {
  & + & {
    .margin(top, medium);
  }
}

/**
 * legend
 */

legend, .legend {
  .full();
  .h4();
  .header-line();
}

/**
 * form-group
 */

.form-group {
  position: relative;
}

// set variant (for specificity must be before classes used)

.form-default {
  .form-groups({ .form-group-medium(); });
}

.form-inverse {
  .form-groups({ .form-group-medium(); });
}

// size

.form-group-small {
  .margin(bottom, 1.5rem);
  font-size: 1.2rem;
}

.form-small {
  .form-groups({ .form-group-small(); });
  button[type='submit'] {
    .btn-medium();
    .btn-wide();
  }
}

.form-group-medium {
  .margin(bottom, 1.5rem);
  font-size: 1.4rem;
}

.form-medium {
  .form-groups({ .form-group-medium(); });
  button[type='submit'] {
    .btn-large();
    .btn-wide();
  }
}

.form-group-large {
  .margin(bottom, 1.5rem);
  font-size: 1.6rem;
}

.form-large {
  .form-groups({ .form-group-large(); });
  button[type='submit'] {
    .btn-big();
    .btn-wide();
  }
}

// mode

.form-group-horizontal {
  display: flex;
  .row-space-x(medium);
  align-items: center;
  text-align: right;
  .form-label {
    margin: 0;
  }
}

.form-group-horizontal-sm {
  @media @min-sm {
    .form-group-horizontal();
  }
}

.form-group-inline {
  display: flex;
  flex-wrap: wrap;
  .list-space-x(medium);
  align-items: baseline;
  .form-item {
    width: auto;
  }
}

.form-group-inline-sm {
  @media @min-sm {
    .form-group-inline();
  }
}

/**
 * form-label
 */

.form-label {
  .margin(bottom, 1em); // size in em inherit .form-group size
  .font-sans-semibold();
  font-size: 0.9em; // size in em inherit .form-group size
  line-height: 1.2;
  letter-spacing: .025em;
  text-transform: uppercase;
}

// set variant (for specificity must be before classes used)

.form-default {
  .form-labels({ .form-label-default(); });
}

.form-inverse {
  .form-labels({ .form-label-inverse(); });
}

// variant

.form-label-default {
  color: @shade-500;
}

.form-label-inverse {
  color: @text-inverse;
}

/**
 * form-item
 */

.form-item {
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  padding: .75em 1.2em; // size in em inherit .form-group size
  .font-sans-regular();
  font-size: 1em; // size in em inherit .form-group size
  line-height: 1.4;
}

// set variant (for specificity must be before classes used)

.form-default {
  .form-items({ .form-item-default(); });
}

.form-inverse {
  .form-items({ .form-item-inverse(); });
}

// variant

.form-item-default {
  border-radius: .5em;
  border-width: 1px;
  border-color: @shade-200;
  background-color: @shade-200; // @FIX no background: or it overrides background-image
  color: @text;
  &:focus, &.active {
    border-color: @shade-200-dark;
    background-color: @shade-200-dark; // @FIX no background: or it overrides background-image
  }
  // placeholder
  &:-ms-input-placeholder {
    color: @shade-500;
  }
  &:-moz-placeholder {
    color: @shade-500;
  }
  &::-webkit-input-placeholder {
    color: @shade-500;
  }
  &::-ms-input-placeholder {
    color: @shade-500;
  }
  &::-moz-placeholder {
    color: @shade-500;
  }
  &::placeholder {
    color: @shade-500;
  }
  // validation
  &.valid {
    border-color: @success !important;
  }
  &.invalid {
    border-color: @error !important;
  }
}

.form-item-inverse {
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: transparent;
  background-color: fade(@shade-900, 25%); // @FIX no background: or it overrides background-image
  color: @text-inverse-dark;
  &:focus, &.active {
    border-color: @white;
    background-color: fade(@shade-900, 50%); // @FIX no background: or it overrides background-image
  }
  // placeholder
  &:-ms-input-placeholder {
    color: @text-inverse;
  }
  &:-moz-placeholder {
    color: @text-inverse;
  }
  &::-webkit-input-placeholder {
    color: @text-inverse;
  }
  &::-ms-input-placeholder {
    color: @text-inverse;
  }
  &::-moz-placeholder {
    color: @text-inverse;
  }
  &::placeholder {
    color: @text-inverse;
  }
  // validation
  &.valid {
    border-color: @success !important;
  }
  &.invalid {
    border-color: @error !important;
  }
}

// animation

.form-item {
  transition: color @time-small @ease-out, border @time-small @ease-out, background-color @time-small @ease-out;
  &:focus, &.active {
    transition: color @time-small @ease-in, border @time-small @ease-in, background-color @time-small @ease-in;
  }
}

/**
 * textarea
 */

.form-item {
  textarea& {
    height: 10rem;
  }
}

/**
 * select
 */

.form-item {
  select:not([multiple])& {
    .form-item-default&, .form-default & {
      @select-arrow-color: @text;
      @select-space-color: fade(@shade-900, 10%);
      background-image: linear-gradient(45deg, transparent 50%, @select-arrow-color 50%), linear-gradient(135deg, @select-arrow-color 50%, transparent 50%), linear-gradient(to right, @select-space-color, @select-space-color);
    }
    .form-item-inverse&, .form-inverse & {
      @select-arrow-color: @text-inverse;
      @select-space-color: fade(@shade-900, 10%);
      background-image: linear-gradient(45deg, transparent 50%, @select-arrow-color 50%), linear-gradient(135deg, @select-arrow-color 50%, transparent 50%), linear-gradient(to right, @select-space-color, @select-space-color);
    }
  }
  select[multiple]& {
    option {
      padding: .5rem 1rem;
    }
  }
}

/**
 * check and radio
 */

// label

.checkradio-label {
  .margin(all, none); // reset .form-label
  .padding(left, small); // space from checkbox/radio
  .font-sans-regular();
  font-size: 0.9em; // size in em inherit .form-group size
  line-height: 1.4;
  letter-spacing: 0;
  text-transform: none;
  // disabled
  &.disabled {
    opacity: 1;
    &:before {
      background: darken(@shade-200, 2.5%) !important;
      border: 1px solid darken(@shade-200, 2.5%) !important;
    }
    &:after {
      color: darken(@shade-200, 25%) !important;
    }
  }
}

// styled

.checkbox, .radio {
  padding-left: 3rem;
  &:before, &:after {
    width: 1.8rem;
    height: 1.8rem;
  }
  &:before {
    background: @shade-200;
    border: 1px solid @shade-300;
  }
  &:after {
    color: @accent;
  }
}

.checkbox {
  &:before {
    border-radius: 2px;
  }
  &:after {
    .icon-xt();
    content: @icon-xt-check;
    font-size: 100%;
  }
}

.radio {
  &:before {
    border-radius: 50%;
  }
  &:after {
    .icon-xt();
    content: @icon-xt-circle;
    font-size: 50%;
  }
}

// pseudo

input[type="checkbox"]:not(.unstyled) {
  // focus
  &:focus ~ .form-label {
    .checkbox.focus();
  }
  // active
  &:checked ~ .form-label {
    .checkbox.active();
  }
  // disabled
  &:disabled ~ .form-label {
    .checkradio-label.disabled();
  }
}

input[type="radio"]:not(.unstyled) {
  // focus
  &:focus ~ .form-label {
    .radio.focus();
  }
  // active
  &:checked ~ .form-label {
    .radio.active();
  }
  // disabled
  &:disabled ~ .form-label {
    .checkradio-label.disabled();
  }
}

// validation

input[type="checkbox"], input[type="radio"] {
  &.valid {
    & ~ .form-label:before {
      border-color: @success !important;
    }
  }
  &.invalid {
    & ~ .form-label:before {
      border-color: @error !important;
    }
  }
}

// animation

.checkbox, .radio {
  &:before {
    transform: scale(.9, .9);
    transition: all @time-small @ease-out;
  }
  &:after {
    opacity: 0 !important;
    transform: scale(.9, .5);
    transition: all @time-small @ease-out;
  }
  &.focus, &:focus {
    &:before {
      border: 1px solid @accent;
    }
  }
  &.active {
    &:before {
      transform: scale(1, 1);
      transition: all @time-small @ease-in;
    }
    &:after {
      opacity: 1 !important;
      transform: scale(1, 1);
      transition: all @time-small @ease-in;
    }
  }
}

/**
 * form-note
 */

.form-note {
  .note();
  .note-default();
  .note-small();
  .muted();
  .margin(y, small);
  .margin(y, layout);
}

/**
 * validation
 */

.form-item {
  &:invalid {
    box-shadow: none !important;
  }
}
