.demo--slider-progress {
  > .loader {
    /* touch */
    @media (hover: none) {
      transform: none !important;
      position: absolute;
      overflow: visible;
      top: auto;
      right: auto;
      left: 0;
      bottom: 12px;
      margin: 0;
    }
    /* mouse */
    @media (hover: hover) {
      @apply mouse-follow overflow-visible;
      .spinner {
        @apply -mt-1 ml-4;
      }
    }
  }
}
