.demo--ripple-animation-v1 {
  .xt-ripple-inner {
    opacity: .075;
  }
  /* color */
  .xt-ripple {
    background: var(--color-black);
  }
  [class*="text-white"] {
    > .xt-ripple-inner {
      opacity: .15;
      > .xt-ripple {
        background: var(--color-white);
      }
    }
  }
}
