@import '~xtend-library/src/core/overlay/overlay-setup.less';
@import '~xtend-library/src/core/overlay/overlay.less';

/**
 * vars
 */

// space

@generate-overlay-space: @generate-container-space; // overlay external spacing

// size

@generate-overlay-size: tiny, small, medium, big, giant, full; // overlay internal spacing
@overlay--tiny: @breakpoint-xs - 60;
@overlay--small: @breakpoint-sm - 60;
@overlay--medium: @breakpoint-md - 60;
@overlay--big: @breakpoint-lg - 60;
@overlay--giant: @breakpoint-xl - 60;
@overlay--full: none;
