@import '~xtend-library/src/core/overlay/overlay-setup.less';

/**
 * vars
 */

// space

@overlay--space: @container--space; // overlay side spacing

// size

@overlays: tiny, small, medium, big, giant, full; // if you change this change also variables names below
@overlay--tiny: @breakpoint--xs - 60;
@overlay--small: @breakpoint--sm - 60;
@overlay--medium: @breakpoint--md - 60;
@overlay--big: @breakpoint--lg - 60;
@overlay--giant: @breakpoint--xl - 60;
@overlay--full: none;

/**
 * overlay
 */

.overlay {
  .overlay-inner {
    border-radius: 4px;
  }
  .overlay-design {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
  }
  .overlay-content {
    padding: 3rem;
    @media @min-sm {
      padding: 4rem;
    }
    & + .overlay-content {
      padding-top: 0 !important;
    }
  }
  .btn--close {
    position: absolute;
    top: 0;
    right: 0;
    .btn--giant();
  }
  // default options
  .overlay-size(small);
}

// variant

.overlay--default {
  .overlay-design {
    border-color: @gray--300;
    background: @white;
    box-shadow: @shadow--light;
  }
  .overlay-inner {
    color: @text;
  }
  .btn--close {
    .btn--text();
  }
}

.overlay--dark {
  .overlay-design {
    border-color: @gray--800;
    background: @gray--800;
    box-shadow: @shadow--dark;
  }
  .overlay-inner {
    .text--inverse();
  }
  .btn--close {
    .btn--text();
  }
}

// special

.overlay--squared {
  .overlay-inner {
    border-radius: 0;
  }
}

.overlay--noborder {
  .overlay-design {
    border: 0;
  }
}

.overlay--none {
  .overlay-content {
    padding: 0 !important;
  }
}

// addons

.overlay--disable {
  // disable custom animation
  .overlay-inner, .overlay-content {
    opacity: 1 !important;
    .trans-anim-none() !important;
  }
}

.overlay-container {
  // override @overlay--space side spacing
  @media @max-sm {
    padding: 0 !important;
  }
}

// animation

.overlay {
  animation-duration: @time--medium + @time--small; // needed for .out animation timing, put max animation time
  &.active {
    .overlay-design {
      .anim-zoom.active();
    }
    .overlay-content, .btn--close {
      .anim-y.active();
      animation-delay: @time--small;
    }
    > .backdrop {
      .backdrop.active();
    }
  }
  &.out {
    .overlay-design {
      .anim-zoom.out();
      animation-delay: @time--small;
    }
    .overlay-content, .btn--close {
      .anim-y.out();
    }
    > .backdrop {
      .backdrop.out();
    }
  }
}
