/**
 * overlay
 */

.overlay {
  .overlay-inner {
    border-radius: 4px;
  }
  .overlay-design {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
  }
  // default on mobile
  @media @max-sm {
    .overlay-container {
      padding: 0 !important;
    }
    .box-overlay {
      .box--squared();
    }
  }
  // default options
  .overlay-size(small);
}

// addons

.overlay--disable {
  // disable custom animation
  .overlay-inner, .box-overlay > .box-inner > * {
    opacity: 1 !important;
    .trans-anim-none() !important;
  }
}

// animation

.overlay {
  animation-duration: @time-medium + @time-small; // needed for .out animation timing, put max animation time
  &.active {
    .box-overlay > .box-design {
      .anim-zoom.active();
    }
    .box-overlay > .box-inner > * {
      .anim-y.active();
      animation-delay: @time-small;
    }
    > .backdrop {
      .backdrop.active();
    }
  }
  &.out {
    .box-overlay > .box-design {
      .anim-zoom.out();
      animation-delay: @time-small;
    }
    .box-overlay > .box-inner > * {
      .anim-y.out();
    }
    > .backdrop {
      .backdrop.out();
    }
  }
}
