@import '~xtend-library/src/core/javascript/javascript.less';
@import '~xtend-library/src/core/overlay/_overlay.less';

/**
 * vars
 */

// space

@generate-overlay-space: @generate-container-space; // overlay external spacing

// size

@generate-overlay-size: tiny, small, medium, big, giant, full; // overlay internal spacing
@overlay-tiny: @breakpoint-xs - 60;
@overlay-small: @breakpoint-sm - 60;
@overlay-medium: @breakpoint-md - 60;
@overlay-big: @breakpoint-lg - 60;
@overlay-giant: @breakpoint-xl - 60;
@overlay-full: none;

/**
 * overlay
 */

.overlay {
  .overlay-inner {
    border-radius: .5em;
  }
  .overlay-design {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
  }
  .btn-close {
    .btn-giant();
    .btn-icon();
  }
  // default on mobile
  @media @max-sm {
    .overlay-container {
      padding: 0 !important;
    }
    .card-overlay {
      .card-squared();
    }
  }
  // default options
  .overlay-size(small);
}

// special

.overlay-disable {
  // disable custom animation
  .overlay-inner, .card-overlay > .card-inner > * {
    opacity: 1 !important;
    .trans-anim-none() !important;
  }
}

// animation

.overlay {
  animation-duration: @time-medium + @time-small; // needed for .out animation time and backdrop animation time, put max animation time
  &.active {
    .card-overlay > .card-design,
    .card-overlay > .card-inner > * {
      .anim-zoom.active();
      animation-delay: initial;
    }
    .card-overlay > .card-inner > .card-content {
      .anim-y.active();
      animation-delay: @time-small;
    }
    > .backdrop {
      .backdrop.active();
    }
  }
  &.out {
    .card-overlay > .card-design,
    .card-overlay > .card-inner > * {
      .anim-zoom.out();
      animation-delay: @time-small;
    }
    .card-overlay > .card-inner > .card-content {
      .anim-y.out();
      animation-delay: initial;
    }
    > .backdrop {
      .backdrop.out();
    }
  }
}
