@import '~xtend-library/src/core/overlay/position-setup.less';

/**
 * overlay-position
 */

.overlay-position {
  .overlay--squared();
  .overlay--noborder();
  .overlay-container {
    .overlay-position--left& {
      width: 88% !important;
      max-width: 500px !important;
    }
    .overlay-position--right& {
      width: 88% !important;
      max-width: 500px !important;
    }
  }
}

// animation

.overlay-position {
  animation-duration: @time--medium + @time--small; // needed for .out animation timing, put max animation time
  &.active {
    &.overlay-position--left {
      .overlay-design {
        .anim-x.active();
      }
      .overlay-content, .btn-close {
        .anim-x.active();
        animation-delay: @time--small;
      }
    }
    &.overlay-position--right {
      .overlay-design {
        .anim-x-inverse.active();
      }
      .overlay-content, .btn-close {
        .anim-x-inverse.active();
        animation-delay: @time--small;
      }
    }
  }
  &.out {
    &.overlay-position--left {
      .overlay-design {
        .anim-x-inverse.out();
        animation-delay: @time--small;
      }
      .overlay-content, .btn-close {
        .anim-x-inverse.out();
      }
    }
    &.overlay-position--right {
      .overlay-design {
        .anim-x.out();
        animation-delay: @time--small;
      }
      .overlay-content, .btn-close {
        .anim-x.out();
      }
    }
  }
}
