@import (reference) "../../../../../../../dist/styles/xtend.less";

//##START
.group-number-line {
  .form-item {
    width: 5.5rem;
  }
}

.group-number-stack {
  .form-item {
    width: 5.5rem;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
//##END
