/**
 * backdrop
 */
/*
.backdrop {
  position: fixed;
  z-index: @index-backdrop;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
*/
/**
 * xt-
 */

.xt-pointer-events-none {
  pointer-events: none;
}

.xt-links-none {
  a&, a {
    pointer-events: none;
  }
}

.xt-jump {
  &:not(.active) {
    cursor: pointer;
  }
  &.xt-jumps-none, .xt-jumps-none & {
    cursor: inherit;
  }
}

.xt-grab {
  .user-select-none();
  cursor: grab;
  a, img {
    // prevent browser drag
    -webkit-user-drag: none;
    user-drag: none;
    // prevent browser selection
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.xt-disable {
  &:after {
    display: none;
    content: 'xt-disable';
  }
}

.xt-disable-after-init {
  &:after {
    display: none;
    content: 'xt-disable-after-init';
  }
}

.xt-hide {
  position: absolute !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.xt-show {
  position: relative !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.xt-calculating {
  display: block !important;
  visibility: hidden !important;
  opacity: 0 !important;
  .trans-anim-none() !important;
}

.xt-container {
  position: relative;
  width: 100%;
}

/*
html.xt-scrollbar {
  body {
    overflow-y: hidden !important;
  }
  .overlay {
    overflow-y: scroll !important;
  }
}
*/
/**
 * pag nav
 */

[data-xt-pag].xt-ignore {
  display: none !important;
}

[data-xt-nav] {
  cursor: pointer;
}

/**
 * xt-indicator
 */

.xt-indicator {
  pointer-events: none;
  position: fixed;
  right: 0;
  margin-top: -9px;
  width: 100px;
  height: 18px;
  z-index: @index-indicator;
  line-height: 0;
  text-align: right;
  &:before {
    display: inline-block;
    position: relative;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
  }
}

.xt-indicator-trigger {
  right: 100px;
  background-color: purple;
  &:before {
    content: 'trigger';
    color: white;
    background-color: purple;
  }
}

.xt-indicator-start {
  background-color: red;
  &:before {
    content: 'start';
    color: white;
    background-color: red;
  }
}

.xt-indicator-end {
  background-color: blue;
  &:before {
    content: 'end';
    color: white;
    background-color: blue;
  }
}

.xt-indicator-start-real {
  background-color: red;
  opacity: .3;
  z-index: @index-indicator - 1;
  &:before {
    content: 'start real';
    color: white;
    background-color: red;
  }
}

.xt-indicator-end-real {
  background-color: blue;
  opacity: .3;
  z-index: @index-indicator - 1;
  &:before {
    content: 'end real';
    color: white;
    background-color: blue;
  }
}
