@import '~xtend-library/src/core/javascript/_javascript.less';

/**
 * vars
 */

@backdrop-opacity: .25;

/**
 * backdrop
 */

.backdrop {
  background: @shade-900;
}

// animation

.backdrop {
  opacity: 0;
  &.in {
    animation-name: anim-backdrop-in;
    animation-duration: inherit;
    animation-timing-function: @ease-in;
    animation-fill-mode: forwards;
  }
  &.out {
    animation-name: anim-backdrop-out;
    animation-duration: inherit;
    animation-timing-function: @ease-off;
    animation-fill-mode: forwards;
  }
}

@keyframes anim-backdrop-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: @backdrop-opacity;
  }
}

@keyframes anim-backdrop-out {
  0% {
    opacity: @backdrop-opacity;
  }
  100% {
    opacity: 0;
  }
}
