//////////////////////
// javascript
//////////////////////

// .xt-disable

.xt-disable {
  &::after {
    display: none;
    content: 'xt-disable';
  }
}

// .xt-hide

.xt-hide {
  visibility: hidden !important;
  opacity: 0 !important;
}

// .xt-calculating

.xt-calculating {
  display: block !important;
  visibility: hidden !important;
  .duration-none() !important;
  opacity: 0 !important;
}

// .xt-container

.xt-container {
  position: relative;
  width: 100%;
}

// .xt-scrollbar

html.xt-scrollbar {
  body {
    overflow-y: hidden;
  }
  .overlay_outer {
    overflow-y: scroll;
  }
}

// data-xt-pag

[data-xt-pag].xt-clone {
  display: none !important;
}

// data-xt-nav

[data-xt-nav] {
  cursor: pointer;
}
