/**
 * breadcrumbs
 */

.breadcrumbs {
  .padding(y, big);
}

.breadcrumbs-background {
  background: @shade-300;
}

.breadcrumbs-inner {
  .btn {
    .btn-text();
    .padding(x, none);
    // ellipsis
    display: inline;
    max-width: 20rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .separator {
    .separator-slash();
  }
}

.breadcrumbs-list {
  .list-reset();
  > li {
    display: inline;
  }
  // ellipsis
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breadcrumbs-title {
  .h2();
  .spacing-tiny();
}
