@import '~xtend-library/src/extensions/separator/separator.less';

/**
 * breadcrumbs
 */

.breadcrumbs {
  .padding(y, big);
  width: 100%;
}

.breadcrumbs-background {
  background: @shade-300;
}

.breadcrumbs-inner {
  .btn {
    .btn-text();
    .padding(x, none);
  }
  div.btn {
    .pointer-events-none();
  }
  .separator {
    .separator-slash();
  }
}

.breadcrumbs-list {
  .list-reset();
  // ellipsis
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  > li {
    display: inline;
  }
  .btn {
    display: inline;
  }
}

.breadcrumbs-title {
  .h2();
  .spacing-tiny();
}
