.demo--ripple-animation-v1, .demo--ripple-animation-v1-react {
  .xt-ripple-inner {
    opacity: .075;
  }
  .xt-ripple {
    background: theme('colors.black');
  }
  /* custom */
  .bg-primary-500 {
    .xt-ripple-inner {
      opacity: .15;
    }
    /* custom background */
    .xt-ripple {
      background: theme('colors.white');
    }
  }
}
