.demo--slider-automaticscroll {

  /* slider */

  .slider {
    &.xt-overflow-auto {
      .slides-inner {
        justify-content: center;
      }
    }
  }

  .slider--img {
    .slide_item {
      width: 300px;
      @apply transform transition;
      &:hover, &:active, &.active {
        transform: scale(0.98);
      }
    }
  }

  .slider--text {
    .slide_item {
      @apply transform transition;
      &:hover, &:active, &.active {
        color: theme('colors.accent.500');
      }
    }
  }

}
