.demo--javascript-animation-css, .demo--javascript-animation-css-react {
  [data-target] {
    /* initial */
    @apply transition opacity-0 -translate-x-4;
    /* in */
    &.in {
      @apply opacity-100 translate-x-0;
    }
    /* out */
    &.out {
      @apply opacity-0 translate-x-4;
    }
  }
}
