.demo--products-gallery-v1, .demo--products-gallery-v1-react {
  .product-gallery {
    @apply overflow-y-auto overflow-x-hidden xt-overflow-sub xt-container-remove;
    height: 65vh;
    height: calc(var(--vh, 1vh) * 65);
    @screen md {
      margin: 0 !important;
      overflow: initial !important;
      height: auto !important;
    }
  }

  .product-dot {
    div {
      width: 7px;
      height: 7px;
      @apply transition-all;
    }
    &.on {
      div {
        width: 9px;
        height: 9px;
      }
    }
  }
}
