@import (reference) "../../../../../dist/styles/xtend.less";

.slides_inner {
  .flex();
  .flex--nowrap();
  // animations
  &:not(.dragging) {
    .transition-default.out();
    transition-duration: @time--big;
  }
}

.slide {
  .col(6);
  .col(4, sm);
  &:nth-child(1) {
    .col--custom(80%);
  }
  &:nth-child(5) {
    .card {
      .padding(y, big);
    }
  }
  // animations
  > * {
    .transition-default.out();
    transition-duration: @time--big;
    opacity: .5;
  }
  &.active {
    > * {
      .transition-default.active();
      transition-duration: @time--big;
      opacity: 1;
    }
  }
}