@import (reference) "../../../../../dist/styles/xtend.less";

.slides {
  // mask
  &:not(.dragging) {
    .transition-default.out();
    transition-duration: @time--big;
    > * {
      .transition-default.out();
      transition-duration: @time--big;
    }
  }
}

.slide {
  // content
  > * > * {
    .anim-left.out();
    animation-duration: @time--big;
    > .card > .card_content > * {
      .anim-left.out();
      animation-duration: @time--big;
      // delay
      animation-delay: 300ms; // @start + @child * @increment
      .nth-child(@child: 2, @start: 0ms, @increment: 150ms, @decrement: 0ms, {
        @animation-delay(); });
    }
  }
  &.xt-inverse {
    > * > * {
      .anim-right.out();
      animation-duration: @time--big;
      > .card > .card_content > * {
        .anim-right.out();
        animation-duration: @time--big;
      }
    }
  }
  &.active {
    > * > * {
      .anim-right.active();
      animation-duration: @time--big;
      > .card > .card_content > * {
        .anim-right.active();
        animation-duration: @time--big;
      }
    }
    &.xt-inverse {
      > * > * {
        .anim-left.active();
        animation-duration: @time--big;
        > .card > .card_content > * {
          .anim-left.active();
          animation-duration: @time--big;
        }
      }
    }
  }
}

@keyframes anim-special--in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes anim-special-in-inverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
