.demo--row-overflow, .demo--row-overflow-react {
  .xt-row {
    @apply xt-overflow-sub;
    @media (max-width: calc(theme('screens.md') - 1px)) {
      overflow-x: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      > * {
        flex: none;
        width: 280px !important;
      }
    }
  }
}
