//////////////////////
// btn
//////////////////////

.btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  padding: 0;
  z-index: @index--base; // fix :before negative z-index
  &:hover, &.hover, &:active, &.active, &:focus {
    z-index: @index--active;
  }
  &.out {
    z-index: @index--active - 1;
  }
  // styles
  > span {
    position: relative;
  }
  // text overflow
  > span {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-width: 100%;
  }
}

// custom

div.btn {
  // non interactive when div
  cursor: default;
  pointer-events: none;
}

.btn--close {
  z-index: @index--btn-close;
}
