//////////////////////
// btn
//////////////////////

.btn {
  .user-select--none();
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  z-index: @index--base; // fix ::before negative z-index
  &:hover, &.hover, &:active, &.active {
    z-index: @index--active;
  }
  &.out {
    z-index: @index--active - 1;
  }
  // text overflow
  > span {
    .display(inline-flex);
    .flex-direction--row();
    .align-items--baseline();
    width: 100%;
  }
}

// custom

div.btn {
  // non interactive when div
  cursor: default;
  pointer-events: none;
}

.btn--close {
  z-index: @index--btn-close;
}