//////////////////////
// general
//////////////////////

// link

a:not(.btn), .btn--link {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// disabled

[disabled], .disabled {
  cursor: default;
  pointer-events: none;
}
