//////////////////////
// general
//////////////////////

// links

a, .alink, .btn--link {
  .user-select-none();
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// disabled

[disabled], .disabled {
  cursor: default;
  pointer-events: none;
}
