//////////////////////
// overlay
//////////////////////

.overlay_outer {
  .toggle--flex();
  position: fixed;
  z-index: @index--overlay;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // scroll
  overflow: hidden;
  .overflow-style();
}

.overlay {
  .display(flex);
  .flex-direction--column();
  .flex--nowrap();
  .justify-content--center();
  margin: auto; // @FIX http://stackoverflow.com/questions/33454533/cant-scroll-to-top-of-flex-item-that-is-overflowing-container
  width: 100%;
  min-height: 100vh;
  // styles
  .overlay_design, .overlay_content {
    border-radius: @overlay--border-radius;
    border-width: @overlay--border-width;
    border-style: solid;
    border-color: transparent;
  }
  .overlay_design {
    .design-setup();
  }
}

.overlay_inner {
  position: relative;
  z-index: @index--overlay;
  width: 100%;
  .align-self--center();
}

// addons

.overlay--screen {
  .overlay {
    position: relative;
    z-index: @index--overlay;
    max-width: none !important;
    .padding(all, none) !important;
    .overlay_inner {
      position: static;
    }
  }
  > .xt-backdrop {
    .trans-anim-none() !important;
    opacity: 0 !important;
  }
}

.overlay--pos {
  .overlay {
    position: relative;
    z-index: @index--overlay;
    .justify-content--start();
    .padding(all, none) !important;
    .overlay_inner {
      position: static;
    }
  }
  .overlay--left& {
    .overlay {
      margin-left: 0;
      margin-right: auto;
    }
  }
  .overlay--right& {
    .overlay {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

// .overlay--disabled

.overlay--disabled {
  .xt-disabled();
  .display(flex) !important;
  overflow: auto !important;
  position: static;
  z-index: initial;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  .overlay {
    padding: 0;
    width: auto;
    min-height: auto;
    .overlay_inner {
      z-index: initial;
      .overlay_design {
        display: none;
      }
      > .btn--close {
        display: none !important;
      }
      .overlay_content {
        padding: 0 !important;
      }
    }
  }
  > .xt-backdrop {
    display: none !important;
  }
}
