.demo--multilevel {
  /**
  * multilevel
  */
  .multilevel-title-wrapper {
    .full();
    .margin(y, layout) !important;
    .margin(top, medium);
    .margin(bottom, tiny);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .multilevel-list {
    // btn
    .list-btns({
      .full();
      .btn-text();
      .btn-tall();
      .btn-none-x();
      margin-bottom: -1px !important;
      border-top-color: @shade-100 !important;
      border-bottom-color: @shade-100 !important;
    });
    // caret
    > li {
      > button {
        .caret();
        .caret.caret-horizontal();
      }
    }
  }
  .multilevel-reset {
    .caret.caret-horizontal.caret-inverse();
  }
  .multilevel-tab {
    .full();
    .toggle-block();
    // animation
    .anim-x-inverse();
    animation-duration: @time-tiny !important;
    &.inverse {
      .anim-x();
      animation-duration: @time-tiny !important;
    }
    &.initial {
      opacity: 1 !important;
      .animation-none() !important;
    }
  }
}
