@import 'xtend-library/src/core/row/_row.less';

/**
 * vars
 */

// generate class: [false], [true] non responsive only, [sm, md, lg] responsive @breakpoints

@generate-row: true;

// row

@row-spaces: none, mini, tiny, small, medium, large, big, giant; // if you change this change also variables names below
@row-space-none: 0 0; // vertical horizontal
@row-space-mini: .25rem .25rem;
@row-space-tiny: .5rem .5rem;
@row-space-small: 1rem 1rem;
@row-space-medium: 1.5rem 1.5rem;
@row-space-large: 2rem 2rem;
@row-space-big: 3rem 3rem;
@row-space-giant: 4rem 4rem;
@row-space-huge: 6rem 6rem;

/**
 * row
 */

// variant

.row-default {
  .row-space(medium);
}

.row-form {
  .row-space-x(medium);
}

// other

.row-touch-overflow {
  @media (hover: none) {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .overflow-style(@mode: inner);
    > * {
      .col-custom(30rem) !important;
    }
  }
}
