/**
 * box--group
 */

.box-group {
  display: flex;
}

.box-items {
  margin: 0 !important;
  padding: 0 !important;
}

/**
 * @generate-box-group
 */

// generate

& when not (@generate-box-group = false) {

  // generate-box--horizontal-responsive

  .generate-box--horizontal-responsive();
  .generate-box--horizontal-responsive(@i: length(@generate-box-group)) when (@i > 0) {
    .generate-box--horizontal-responsive(@i - 1);
    @breakpoint: extract(@generate-box-group, @i);
    & when (@breakpoint = none) {
      .box-group {
        .box--group() !important;
      }
    }
    & when not (@breakpoint = none) {
      @query-min: 'min-@{breakpoint}';
      @media @@query-min {
        .box-group--@{breakpoint} {
          .box-group() !important;
        }
      }
    }
  }

}
