@media (min-width: 1200px ) {
}@media (max-width: 767px ) {
}.overlay-message {
  position: fixed;
  z-index: 200 !important;
  top: 50%;
  width: calc(100vw - 510px);
  text-align: center;
}
@media (max-width: 767px ) {
  .overlay-message {
    display: none;
  }
}
.overlay-message .overlay-dismiss::before {
  box-shadow: 3px 3px 15px rgba(52, 58, 64, 0.1);
}
.overlay-left .overlay-message {
  right: 0;
  margin-right: 3rem;
}
.overlay-right .overlay-message {
  left: 0;
  margin-left: 3rem;
}
.overlay-left.active .overlay-message {
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: initial;
  animation-name: anim-right-in;
  opacity: 0;
  opacity: 1;
}
.overlay-left.out .overlay-message {
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: initial;
  animation-name: anim-right-out;
  opacity: 1;
  opacity: 0;
}
.overlay-right.active .overlay-message {
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: initial;
  animation-name: anim-left-in;
  opacity: 0;
  opacity: 1;
}
.overlay-right.out .overlay-message {
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: initial;
  animation-name: anim-left-out;
  opacity: 1;
  opacity: 0;
}
