<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">

    <!-- seo -->
    <title>Xtend demo</title>
    <meta name="description" content="Xtend demo" />

    <!-- icons -->
    <link rel="icon" href="/assets/images/favicon.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon-152x152.png" />

    <!-- styles -->
    <link rel="stylesheet" href="/assets/styles/demo.css?v=0.6.5" />

    <!-- demo styles -->
    <link rel="stylesheet" href="flex-custom.css?v=0.6.5" />

  </head>
  <body class="full">

    <div id="body-outer">
<div id="body-inner" class="demo-source-from">
<div class="demo-cols demo-source-from">
  <div class="flex">
    <div class="col-custom"></div>
    <div class="col col-custom-sm col-md col-6-md"></div>
    <div class="col"></div>
  </div>
</div>
</div>
    </div>

    <!-- demos source less -->
    
    <less-style>@import (reference) "../../../../../dist/styles/xtend.less";

.col-custom {
  width: 100px; max-width: 100px;
}

.col-custom-sm {
  @media @min-sm and @max-md {
    width: 100px;
    max-width: 100px;
  }
}</less-style>
    

    <!-- demos source js -->
    

    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="/assets/scripts/greensock/easing/CustomEase.min.js?v=0.6.5"></script>
    <script src="/assets/scripts/polyfill.min.js"></script>

    <!-- theme scripts -->
    <script src="/assets/scripts/theme.min.js?v=0.6.5"></script>

    <!-- demo scripts -->
    

    <!-- demo utils -->
    <script>
      // add id
      document.body.setAttribute('id', document.location.href.match(/[^\/]+$/)[0]);
      // init iframe
      window.parent.initIframe(window.name);
    </script>

  </body>
</html>