{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [">0.25%", "Explorer 11", "not op_mini all"]
      },
      "useBuiltIns": true,
      "debug": false
    }]
  ],
  "plugins":  [
    ["transform-es2015-for-of", "transform-es2015-arrow-functions", "transform-object-rest-spread"]
  ]
}