{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "Explorer 11"]
      },
      "useBuiltIns": true,
      "debug": true
    }]
  ],
  "plugins":  [
    ["transform-es2015-for-of", "transform-es2015-arrow-functions", "transform-object-rest-spread"]
  ]
}