//////////////////////
// card
//////////////////////

.card {
  .block();
  position: relative;
  z-index: @index--base; // fix ::before negative z-index
  // styles
  > .card_design, > .card_content {
    border-radius: @card--border-radius;
    border-width: @card--border-width;
    border-style: solid;
    border-color: transparent;
  }
  > .card_design {
    .design-setup();
  }
  > .card_content {
    position: relative;
    overflow: hidden;
  }
}
