//////////////////////
// card
//////////////////////

.card {
  .block();
  position: relative;
  z-index: @index--base; // fix :before negative z-index
  // styles
  > .card_design {
    .design-setup();
  }
  > .card_content {
    position: relative;
    overflow: hidden;
  }
}
