//////////////////////
// card
//////////////////////

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: @index--base; // fix :before negative z-index
  // styles
  > .card_design {
    .design-setup();
  }
  > .card_content {
    position: relative;
    overflow: hidden;
  }
}
