//////////////////////
// container
//////////////////////

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: @container--fluid;
}

//////////////////////
// grid
//////////////////////

// col

.col(@breakpoint:none) when (@breakpoint = none) {
  flex: 1 0 auto;
}

.col(@breakpoint:none) when (default()) {
  @query-min: 'min-@{breakpoint}';
  @media @@query-min {
    flex: 1 0 auto;
  }
}

// col--auto

.col--auto(@breakpoint:none) when (@breakpoint = none) {
  flex-basis: auto;
  max-width: none;
  width: auto;
}

.col--auto(@breakpoint:none) when (default()) {
  @query-min: 'min-@{breakpoint}';
  @media @@query-min {
    flex-basis: auto;
    max-width: none;
    width: auto;
  }
}

// grid

.col(@number, @breakpoint:none) when (@breakpoint = none) {
  @val: (percentage(@number / @columns));
  flex-shrink: 0;
  max-width: @val;
  width: @val;
}

.col(@number, @breakpoint:none) when (default()) {
  @query-min: 'min-@{breakpoint}';
  @val: (percentage(@number / @columns));
  @media @@query-min {
    flex-shrink: 0;
    max-width: @val;
    width: @val;
  }
}
