//////////////////////
// list
//////////////////////

.list--base {
  display: flex;
  .list-reset();
  // list
  > li {
    display: flex;
    align-items: flex-start;
    > * {
      .flex--auto();
    }
  }
  .list_btn({ .btn(); });
}

// selectors

.list_btn--all(@rules) {
  > li {
    > .btn {
      @rules();
    }
  }
}

.list_btn(@rules) {
  > li:not(.custom) {
    > .btn {
      @rules();
    }
  }
}

// .list

.list {
  .list--base();
  flex-wrap: wrap;
  flex-direction: row;
}

.list--block {
  flex-wrap: nowrap;
  flex-direction: column;
}
