.demo--slider-automaticscroll {

  /* slider */

  .slider {
    &.xt-overflow-auto {
      .slides-inner {
        justify-content: center;
      }
    }
  }

  .slider--img {
    .slide_item {
      width: 300px;
      transition-property: transform;
      transition-duration: theme('transitionDuration.500');
      transition-timing-function: theme('transitionTimingFunction.out');
      &:hover, &:active, &.active {
        transform: scale(0.98);
        transition-timing-function: theme('transitionTimingFunction.in');
      }
    }
  }

  .slider--text {
    .slide_item {
      transition-property: color;
      transition-duration: theme('transitionDuration.500');
      transition-timing-function: theme('transitionTimingFunction.out');
      &:hover, &:active, &.active {
        color: theme('colors.accent.500');
        transition-timing-function: theme('transitionTimingFunction.in');
      }
    }
  }

}
