@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/overlay/overlay.less';

.overlay.demo--overlay--2020-euroricambi {
  .collapse-height();
  .card-overlay {
    opacity: 0;
    transform: translateY(-2rem);
  }
  .card-overlay > .card-inner > .card-content {
    opacity: 0;
    transform: translateY(1rem);
  }
  > .backdrop {
    opacity: @backdrop-opacity;
    height: 0;
  }
  &.in {
    transition: height @time-medium @ease-in;
    .card-overlay {
      opacity: 1;
      transform: none;
      transition: transform @time-medium @ease-in, opacity @time-tiny @ease-in;
    }
    .card-overlay > .card-inner > .card-content {
      opacity: 1;
      transform: none;
      transition: transform @time-medium @ease-in, opacity @time-tiny @ease-in;
    }
    > .backdrop {
      opacity: @backdrop-opacity;
      height: 100vh;
      transition: height @time-medium @ease-in, width @time-medium @ease-in;
      .animation-none();
    }
  }
  &.out {
    transition: height @time-small @ease-out, width @time-small @ease-out;
    .card-overlay {
      opacity: 0;
      transform: translateY(2rem);
      transition: transform @time-small @ease-out, opacity @time-tiny @ease-out @time-tiny;
    }
    .card-overlay > .card-inner > .card-content {
      opacity: 0;
      transform: translateY(-2rem);
      transition: transform @time-small @ease-out, opacity @time-tiny @ease-out @time-tiny;
    }
    > .backdrop {
      opacity: @backdrop-opacity;
      height: 0;
      transition: height @time-small @ease-out;
      .animation-none();
    }
  }
}
