@import '~xtend-library/src/core/animation/animation-setup.less';
@import '~xtend-library/src/core/animation/animation.less';

/**
 * vars
 */

// time

@time-tiny: 100ms;
@time-small: 250ms;
@time-medium: 500ms;
@time-big: 1000ms;
@time-giant: 2000ms;

// beziers

@bez-cheetah: ~'cubic-bezier(0.14, 0.63, 0, 1)';
@bez-tiger: ~'cubic-bezier(0.96, 0.1, 0.14, 0.88)';
@bez-cat: ~'cubic-bezier(0.77, 0, 0.17, 1)';
@bez-penguin--in: ~'cubic-bezier(0.36, 0, 0, 1)';
@bez-penguin--out: ~'cubic-bezier(1, 0, 0.64, 1)';
@bez-penguin--in-out: ~'cubic-bezier(0.68, 0.13, 0.25, 1)';

@bez-in: @bez-cheetah;
@bez-out: @bez-cheetah;
@bez-in-out: @bez-cheetah;
