.card--overlay {
  .card-block--custom {
    background: @gray-200--dark;
  }
}

.card--slide {
  .card-block--custom {
    background: @gray-200--dark;
  }
}

.card--drop {
  .card-block--custom {
    background: @gray-200--dark;
  }
}

.card--default {
  .card-block--custom {
    background: @gray-200--dark;
  }
}

.card--primary {
  .card-block--custom {
    background: @accent--dark;
  }
}
