@import (reference) "../../../../../dist/styles/xtend.less";

//////////////////////
// xtend group-number
//////////////////////

.group-number-line {
  .group-input();
  max-width: 14rem;
}

.group-number-stack {
  .group-input();
  max-width: 9rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}