//////////////////////
// imports
//////////////////////

@import '../../../../dist/xtend.less';
@import (less) "highlight/github.css";

//////////////////////
// structure
//////////////////////

// sticky footer

.site-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-flow: column;
  min-height: 100%;
}
.site-wrapper-inside {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-flow: column;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%;
}
.site-main {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

//////////////////////
// header
//////////////////////

// .site-header

.site-header {
  background-color: @primary;
}

// .logo

.logo {
  display: inline-block;
  .margin(y, small);
  .font-sans-semibold();
  color: fade(@white, 75%);
  font-size: 2.25rem;
  text-decoration: none !important;
  &:hover,
  &:active, &.active {
    color: @white;
  }
  &:focus {
    color: fade(@white, 75%);
  }
}

// .site-header-top
.site-header-top {
  background-color: @primary;
  color: @white;
}

// .site-hero

.site-hero {
  color: @white;
  > .contain-fluid {
    // min-height
    > .flex {
      min-height: 300px;
    }
    // flex parent required for min-height ie10
    .display(flex);
    .flex-row();
    .flex-wrap();
  }
  @media @max-sm {
    .site-hero-img,
    .site-hero-text {
      width: 100%;
    }
  }
  @media @min-sm {
    .site-hero-img,
    .site-hero-text {
      max-width: 50%;
    }
  }
  p {
    color: fade(@white, 75%);
  }
}

// .site-breadcrumbs

.site-breadcrumbs {
  cursor: default;
  background-color: @primary;
  .site-breadcrumbs-inside {
    .padding(y, medium);
    background-color: @primary;
    color: @white;
  }
}
.site-breadcrumbs-body-main {
  &:first-child {
    margin-left: -1.2em;
  }
  .site-breadcrumbs-body-sub {
    position: relative;
    z-index: 1;
    background-color: @primary;
    .padding(y, small);
    .btn {
      float: left;
      clear: both;
      .padding(y, tiny);
      font-size: 1rem;
    }
  }
}

//////////////////////
// btn-menu
//////////////////////

// .btn-menu

@button-menu-pixels: 1px;

.btn-menu {
  box-shadow: none !important;
  .site-header-top & {
    .margin(y, small);
    margin-right: -1.2em;
    width: auto !important;
  }
  /* @TODO after scroll
  .site-breadcrumbs & {
    //padding: .718em 1em !important;
    margin-top: .06rem;
    margin-right: -.5rem;
  }
  */
  // .icon-menu-custom
  .icon-menu-custom {
    position: relative;
    vertical-align: top;
    .icon-right();
    width: 1em;
    height: .75em;
    top: .05em;
    font-size: 2rem;
    span {
      display: block;
      position: absolute;
      height: @button-menu-pixels;
      width: 100%;
      background-color: fade(@white, 75%);
      border-radius: 0;
      left: 0;
      transform: rotate(0deg);
      transition: all 1100ms cubic-bezier(.19, 1, .22, 1);
    }
    span:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }
    span:nth-child(2) {
      top: calc(~'.4em - '@button-menu-pixels * 1);
      transform-origin: left center;
    }
    span:nth-child(3) {
      top: calc(~'.8em - '@button-menu-pixels * 2);
      transform-origin: left center;
    }
  }
  &.active {
    .icon-menu-custom {
      span:nth-child(1) {
        transform: rotate(45deg);
        top: 0;
        left: 0;
      }
      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
        top: calc(~'.8em - '@button-menu-pixels * 2);
        left: 0;
      }
    }
  }
  &:hover,
  &:active, &.active {
    .icon-menu-custom {
      span {
        background-color: @white;
      }
    }
  }
}

//////////////////////
// site-menu
//////////////////////

// .site-menu

.site-menu.overlay {
  .site-menu-content {
    padding-top: 52px; // add space for menu
  }
  .site-menu-content .btn {
    .padding(y, tiny);
    .block();
    background-color: transparent !important;
    .font-sans-regular();
    font-size: 4rem;
    text-align: left;
    text-transform: capitalize;
    .line-container {
      .line {
        background-color: @primary;
      }
      .line:after {
        background-color: fade(@white, 75%);
      }
    }
    opacity: .75;
    &:hover,
    &:active, &.active {
      color: @white;
      opacity: 1;
    }
  }
}

// .site-menu

.site-menu {
  z-index: 69 !important;
  .site-header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.site-breadcrumbs,
.site-header-top {
  // @TODO after scroll
  // below demos overlay...
  z-index: 68 !important;
}
.site-menu.active {
  .site-menu-content {
    .btn {
      .line-container {
        opacity: 0;
        animation: anim-left-in 600ms cubic-bezier(.19, 1, .22, 1);
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      &:nth-child(1) {
        .line-container {
          animation-delay: 100ms;
        }
      }
      &:nth-child(2) {
        .line-container {
          animation-delay: 150ms;
        }
      }
      &:nth-child(3) {
        .line-container {
          animation-delay: 200ms;
        }
      }
      &:nth-child(4) {
        .line-container {
          animation-delay: 250ms;
        }
      }
      &:nth-child(5) {
        .line-container {
          animation-delay: 300ms;
        }
      }
      &:nth-child(6) {
        .line-container {
          animation-delay: 350ms;
        }
      }
    }
  }
}
.site-menu.fade-out {
  opacity: 1 !important;
  transform: none !important;
  .site-menu-content {
    .btn {
      .line-container {
        opacity: 1;
        animation: anim-right-out 300ms cubic-bezier(.19, 1, .22, 1);
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      &:nth-child(1) {
        .line-container {
          animation-delay: 6ms;
        }
      }
      &:nth-child(2) {
        .line-container {
          animation-delay: 5ms;
        }
      }
      &:nth-child(3) {
        .line-container {
          animation-delay: 4ms;
        }
      }
      &:nth-child(4) {
        .line-container {
          animation-delay: 3ms;
        }
      }
      &:nth-child(5) {
        .line-container {
          animation-delay: 2ms;
        }
      }
      &:nth-child(6) {
        .line-container {
          animation-delay: 1ms;
        }
      }
    }
  }
}

//////////////////////
// footer
//////////////////////

// .site-footer

.site-footer {
  .padding(y, medium);
  background-color: @primary;
  .separator {
    .margin(x, tiny);
  }
}

// .site-footer-top

.site-footer-top {
  .site-footer-top-links {
    .btn {
      &:first-child {
        margin-left: -1.2em;
      }
    }
  }
}

// .site-footer-bottom

.site-footer-bottom {
  .padding(y, medium);
  .font-small();
  color: fade(@white, 75%);
  a {
    color: @white;
    &:hover {
      color: @white;
      text-decoration: underline;
    }
  }
}

//////////////////////
// main
//////////////////////

.site-main-inside {
  .block;
  .float(left);
  background-color: @white;
}

// .site-article

.site-article {
  .margin(y, giant);
}

// .site-aside

.site-aside {
  .margin(y, giant);
}
.site-aside-text {
  line-height: 0;
  .btn {
    width: 100%;
  }
  > .btn:not(.site-aside-sub) {
    &.different {
      display: none;
    }
  }
  > .btn.site-aside-sub {
  }
  .site-aside-subsub {
    .margin(top, medium);
    > .btn {
      .padding(left, small);
    }
  }
  // @TODO after xtend plugin
  .site-aside-subsub {
    display: none;
  }
  .btn.site-aside-sub.active + .site-aside-subsub {
    display: block;
  }
}

// .make-line

.make-line {
  position: relative;
  z-index: 1;
  .line-container {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    .line {
      display: inline-block;
      padding-right: 15px;
      background-color: @white;
      text-decoration: none !important;
    }
    .line:after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: .5em;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: fade(@primary, 25%);
      h2 & {
        height: 1px;
      }
    }
  }
  // animations
  .line:after {
    left: 100%;
    width: 0;
    opacity: 0;
    transition: opacity 600ms cubic-bezier(.19, 1, .22, 1) 100ms;
    animation: line-out 600ms cubic-bezier(.19, 1, .22, 1);
  }
  &:hover {
    .line:after {
      left: 0;
      width: 100%;
      opacity: 1;
      transition: opacity 600ms cubic-bezier(.19, 1, .22, 1) 100ms;
      animation: line-in 600ms cubic-bezier(.19, 1, .22, 1);
    }
  }
}
@keyframes line-out {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@keyframes line-in {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

// .make-anchor

.make-anchor {
  position: relative;
  width: 100%;
  a {
    color: @text !important;
    text-decoration: none !important;
  }
  .site-article-anchor {
    pointer-events: none;
    opacity: 0;
    transition: opacity 1000ms cubic-bezier(.19, 1, .22, 1);
    transition-delay: 200ms;
  }
  &:hover,
  &:active, &.active {
    .site-article-anchor {
      opacity: 1;
      transition-delay: 0ms;
    }
  }
}
.site-article-anchor {
  position: absolute;
  z-index: 2;
  bottom: -1px;
  @media @min-sm {
    bottom: 3px;
  }
  right: 12px;
  .btn {
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: @white !important;
    font-size: 17px;
    color: @primary;
    line-height: 1;
    &:hover,
    &:active, &.active {
      color: @primary;
    }
  }
}

//////////////////////
// demos
//////////////////////

// .hljs

.hljs,
pre code {
  padding: 0;
  width: 100%;
  margin-top: -.238rem;
}
pre {
  position: relative;
  width: 100%;
  line-height: 0;
  .demo & {
    margin-top: 0;
  }
}

// code colors

.demo {
  border-radius: 2px;
  border: 3px solid @grey-250;
}
.demo-tabs,
.demo-code-tabs {
  background-color: @grey-250;
}
.demo-tabs-inside {
  margin-top: -3px;
}
.hljs,
.demo-code-body {
  background-color: @grey-250;
}
.hljs,
pre code {
  .padding(x, small);
  .padding(bottom, small);
}
.demo-text {
  background-color: @grey-250;
  font-size: 13px;
  line-height: 1.6;
}
.demo-text code {
  background-color: darken(@grey-250, 2.5%);
}

// .demo

.demo {
  .margin(top, medium);
  // code
  .demo-item {
    line-height: 0;
    .toggle-block();
  }
  .demo-source {
    //.float;
    line-height: 1.8;
  }
  .demo-item.populated .demo-code-body-item {
    .toggle-block();
  }
  .demo-code-body {
    z-index: 1;
  }
  // iframe + .demo-source
  iframe {
    width: 100%;
    height: 370px;
  }
  .demo-source {
    .padding(all, medium);
  }
  .demo-source {
    &:not([data-lang="html"]) {
      display: none;
    }
  }
  // .hljs
  pre {
    margin-bottom: 0 !important;
  }
  .hljs {
    margin: 0;
    padding: 0;
  }
  // others
  .btn-fullscreen {
    display: none;
  }
}

// .demo max height

pre {
  max-height: 370px;
  overflow: auto;
}
.demo-item:not(.populated) .demo-code-body {
  height: 370px;
}

// .demo paddings

.demo {
  .demo-tabs,
  .demo-code-tabs {
    z-index: 2;
    .display(flex);
    .justify-content-between();
    .padding(all, small);
  }
  .demo-code-body-item {
    pre {
      .padding(all, small);
    }
  }
  .demo-text {
    .padding(y, tiny);
    .padding(x, small);
  }
}

// .demo-highlight
.demo-highlight {
  .column {
    &:before {
      content: '';
      position: relative;
      float: left;
      width: 100%;
      height: 1.5rem;
      background-color: lighten(@primary, 25%);
    }
    .column {
      &:before {
        background-color: @primary;
      }
    }
  }
  /*
  .flex {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: lighten(@color-primary, 45%);
  }
  .column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: @size-tiny;
    margin-bottom: @size-tiny;
    min-height: @size-small;
    background-color: lighten(@color-primary, 25%);
    background-clip: content-box !important;
    .column {
      background-color: @color-primary;
    }
    .flex {
      background-color: transparent;
    }
  }*/
}
