/**
 * separator
 */

.separator {
  display: inline-block;
  position: relative;
  .margin(x, mini);
  font-size: 1em;
  .align-uppercase();
  vertical-align: baseline;
}

.separator-dash {
  &:after {
    content: '-';
  }
}

.separator-slash {
  &:after {
    content: '/';
  }
}

.separator-backslash {
  &:after {
    content: '\\';
  }
}

.separator-pipe {
  &:after {
    content: '|';
  }
}

.separator-point {
  &:after {
    content: '•';
  }
}

.separator-arrow {
  &:after {
    content: '>';
  }
}
