@import (reference) "~xtend-library/dist/styles/xtend.less";

//##START
#toggle-restart {
  margin-bottom: 2rem;
}

.btn.class-example-1 {
  color: red;
}

.alert.class-example-1 > .content {
  color: red;
}
//##END
