@import (reference) "~xtend-library/dist/styles/xtend.less";

//##START
.alert {
  // animation
  &.active {
    animation-duration: @time--giant !important;
  }
  &.out {
    animation-duration: @time--giant !important;
  }
}

.in {
  > * {
    color: green !important;
  }
}

.out {
  > * {
    color: red !important;
  }
}
//##END
