.CCC--overlay-disable, .CCC--overlay-disable-react {
  a.xt-overlay-disabled, button.xt-overlay-disabled {
    display: none;
  }
  .xt-overlay.xt-overlay-disabled {
    display: flex !important;
    position: static;
    z-index: initial;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: auto;
    height: auto;
    overflow-y: initial;
    .xt-overlay-container {
      padding: 0;
      width: 100%;
      min-height: auto;
      max-width: none;
    }
    .xt-overlay-inner {
      > .xt-card {
        border-width: 0;
        background-color: transparent;
        box-shadow: none;
        color: inherit;
        > * {
          padding: 0;
        }
        > .xt-dismiss {
          display: none;
        }
      }
    }
    .xt-backdrop {
      display: none;
    }
  }
}
