#iframe--fashion-listing-v2 {
  //##START
  body { // add your own selector instead of body to contain the code

    /**
      * vars
      */

    // ease

    @ease-in: @ease-out-quint;
    @ease-out: @ease-out-quint;

    /**
      * .block-listing
      */

    .block-listing_inner {
      > .row {
        .row-default();
        .row-stretch();
      }
    }

    .block-listing_col {
      .col(12);
      .col(6, sm);
      .col(4, lg);
    }

    .block-listing_item {
      .link-none();
      .full();
      .text-default() !important;
      .btn-close {
        .btn-squared();
        .btn-primary();
      }
    }

    .card-asset {
      text-align: center;
      .media-container {
        .padding(bottom, 50%);
      }
      .media {
        .media-cover();
      }
    }

    .block-listing_subtitle {
      .spacing-medium();
      .font-sans-semibold();
      font-size: 2rem;
      line-height: 1.2;
      letter-spacing: 0;
      text-transform: none;
    }

    .block-listing_address {
      .full();
      font-size: 1.5rem;
      line-height: 1.8;
    }

    .block-listing_additional {
      .full();
      font-size: 1.4rem;
      line-height: 1.8;
    }

    .block-listing_btns {
      .list-block();
      .list-space(tiny);
      margin-top: auto;
      .padding(top, medium);
      .btn {
        .full();
        .align-center();
      }
    }

    // front and back

    .block-listing_front {
      position: relative;
      z-index: 2;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      // card
      .card-small();
      .text-default();
      .card-design {
        border-color: @shade-200;
        background: @shade-200;
      }
      .card-block {
        .flex-full();
      }
      .block-listing_btns {
        margin-top: auto;
      }
    }

    .block-listing_back {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transform: rotateY(180deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      // card
      .card-small();
      .text-default();
      .card-design {
        border-color: @shade-200;
        background: @shade-200;
      }
    }

    .block-listing_item {
      perspective: 1400px;
      .block-listing_item_inner {
        height: 100%;
        transform-style: preserve-3d;
        transition-duration: @time-big;
        transition-delay: initial;
        transition-timing-function: @ease-out;
      }
      &.active {
        .block-listing_item_inner {
          transform: rotateY(180deg);
          transition-duration: @time-big;
          transition-delay: initial;
          transition-timing-function: @ease-in;
        }
        .block-listing_back {
          z-index: 3;
        }
      }
    }

  }
  //##END
}
