@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/extensions/slider/slider.less';
@import '~xtend-library/src/addons/animation/mouse-follow.less';

/**
 * slider-navigation-sides
 */

.slider-navigation-sides {
  cursor: none;
  position: absolute;
  z-index: @index-top;
  top: 0;
  width: 5rem;
  height: 100%;
  color: @black;
  // disable
  .slider.xt-disable & {
    display: none;
  }
  // not touch
  @media (hover: hover) {
    width: 10rem;
    opacity: 0;
    &.in {
      opacity: 1;
    }
    &.out {
      opacity: 0;
    }
  }
  // animation
  .slider-navigation-sides-btn {
    transition: opacity @time-small @ease-off, transform @time-small @ease-off;
  }
  &:active {
    .slider-navigation-sides-btn {
      opacity: .75;
      transform: scale(0.8, 0.8);
      transition: opacity @time-small @ease-on, transform @time-small @ease-on;
    }
  }
}

.slider-navigation-sides-prev {
  left: 0;
}

.slider-navigation-sides-next {
  right: 0;
}

.slider-navigation-sides-btn {
  padding: 0;
  line-height: 0;
  font-size: 2rem;
  // not touch
  @media (hover: hover) {
    .mouse-follow();
  }
  // touch
  @media (hover: none) {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    margin-top: -1rem;
    margin-left: -1rem;
    .transform-none() !important;
  }
}
