@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/extensions/slider/slider.less';
@import '~xtend-library/src/addons/slider/navigation-sides.less';

.demo--2020-aniyeby-hero {
  position: relative;
  background: @shade-200;
  .slides-inner {
    .row-space(none);
    .transition-none() !important;
    .transform-none() !important;
  }
  .slide {
    position: relative;
    .col(12);
    // activation
    display: none;
    &.active, &.out {
      display: block;
      z-index: @index-active;
    }
    &.next {
      display: block;
      z-index: @index-active + 1;
    }
    &:not(.active) {
      position: absolute;
    }
  }
  .slider-pagination {
    display: none;
  }
  // item
  .slide_item {
    .link-none();
    .full();
    display: block;
    overflow: hidden;
  }
  .slide_item_asset {
    .media-container {
      height: 55rem;
      @media @min-md {
        height: 65rem;
      }
    }
  }
  // .slider-navigation-sides
  .slider-navigation-sides {
    color: @white;
  }
}
