@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/extensions/slider/slider.less';

.demo--2020-brands-infinite {
  .slider-nodrag();
  .margin(y, giant);
  .slides-inner {
    .row-space(giant); // same as .slide_item
    // dragger animations
    transition-timing-function: linear;
  }
  .slide_item {
    .list();
    .list-space(giant); // same as .slides-inner
    flex-wrap: nowrap;
  }
  .slide_item_content {
    .font-sans-semibold();
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    @media @min-sm {
      font-size: 1.6rem;
    }
  }
  &.slider-nooverflow {
    .slides-inner {
      justify-content: center;
    }
  }
  // horizontal gradient
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4rem;
    background: linear-gradient(90deg, @white 0%, fade(@white, 0%) 100%);
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4rem;
    background: linear-gradient(90deg, fade(@white, 0%) 0%, @white 100%);
  }
}
