@import '~xtend-library/src/addons/animation/mouse-follow.less';

.demo--slider-progress {
  .loader-mouse {
    // disable on touch
    @media (hover: none) {
      top: 100% !important;
      left: 0 !important;
      margin-top: -25px !important;
      margin-left: 0 !important;
    }
  }
}
