#iframe--brands-featured-v1 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    /**
      * vars
      */

    // ease

    @ease-in: @ease-out-quint;
    @ease-out: @ease-out-quint;

    /**
      * slider
      */
    .slider {
      .padding(y, medium);
      .slides-inner {
        // dragger animations
        .transition-none() !important;
      }
      // .brand
      .brand {
        .list();
        flex-wrap: nowrap;
      }
      &.xt-overflow-auto {
        .slides-inner {
          justify-content: center;
        }
      }
    }

    // .slider--img

    .slider--img {
      .slides-inner {
        .row(medium); // same as .brand
      }
      .brand {
        .list(medium); // same as .slides-inner
      }
      .brand_content {
        .col-custom(300px);
        // animation
        transition: transform @time-sm @ease-out;
        &:hover, &:active, &.active {
          transform: scale(1.05);
          transition: transform @time-sm @ease-in;
        }
      }
    }

    // .slider--text

    .slider--text {
      .slides-inner {
        .row(giant); // same as .brand
      }
      .brand {
        .list(giant); // same as .slides-inner
      }
      .brand_content {
        .font-sans-semibold();
        font-size: 12px;
        color: @text !important;
        text-transform: uppercase;
        white-space: nowrap;
        @media @min-sm {
          font-size: 1rem;
        }
        // animation
        transition: color @time-sm @ease-out;
        &:hover, &:active, &.active {
          color: @accent !important;
          transition: color @time-sm @ease-in;
        }
      }
      // gradient on left and right
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4rem;
        background: linear-gradient(90deg, @white 0%, fade(@white, 0%) 100%);
      }
      &:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
        width: 4rem;
        background: linear-gradient(90deg, fade(@white, 0%) 0%, @white 100%);
      }
    }

  }
  /*##END*/
}
