#iframe--collapse-v1 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    /**
      * vars
      */

    // ease

    @ease-in: @ease-out-quint;
    @ease-out: @ease-in-out-quint;

    /**
      * drop
      */

    .drop-default {
      > .drop-inner {
        box-shadow: @shadow-light;
        > .drop-design {
          box-shadow: none;
        }
      }
    }

    .drop-primary {
      > .drop-inner {
        box-shadow: @shadow-dark;
        > .drop-design {
          box-shadow: none;
        }
      }
    }

    // animation

  .drop {
    > .drop-inner {
      .collapse-height();
      transition: height @time-md @ease-in;
        > .drop-design {
          opacity: 0;
          transform: translateY(-0.7rem);
        }
        > .drop-content {
          opacity: 0;
          transform: translateY(-1rem);
        }
      }
      &.in {
        animation-duration: @time-md; // needed for animation time, put max animation time
        > .drop-inner {
          transition: height @time-md @ease-in;
          > .drop-design {
            opacity: 1;
            transform: none;
            transition: height @time-md @ease-in, transform @time-md @ease-in, opacity @time-tiny @ease-in;
          }
          > .drop-content {
            opacity: 1;
            transform: none;
            transition: transform @time-md @ease-in, opacity @time-md @ease-in;
          }
        }
      }
      &.out {
        animation-duration: @time-sm; // needed for animation time, put max animation time
        > .drop-inner {
          transition: height @time-sm @ease-out;
          > .drop-design {
            opacity: 0;
            transform: translateY(0.7rem);
            transition: height @time-sm @ease-out, transform @time-sm @ease-out, opacity @time-tiny @ease-out @time-tiny;
          }
          > .drop-content {
            opacity: 0;
            transform: translateY(1rem);
            transition: transform @time-sm @ease-out, opacity @time-sm @ease-out;
          }
        }
      }
    }

    /**
      * overlay
      */

    .overlay {
      .card-item--menu {
        background: @accent;
      }
    }

    // animation

    .overlay {
      .collapse-height();
      .overlay-design {
        opacity: 0;
        transform: translateY(-2rem);
      }
      .card-overlay {
        > .btn-close {
          opacity: 0;
        }
        .card-block, .card-content {
          opacity: 0;
          transform: translateY(-2.5rem);
        }
      }
      &.in {
        animation-duration: @time-md; // needed for animation time, put max animation time
        transition: height @time-md @ease-in;
        .overlay-design {
          opacity: 1;
          transform: none;
          transition: transform @time-md @ease-in, opacity @time-tiny @ease-in;
        }
        .card-overlay {
          > .btn-close {
            // use animation to not override .btn transitions
            .anim-zoom.in();
            animation-delay: @time-md;
            animation-fill-mode: forwards;
            opacity: 0;
          }
          .card-block, .card-content {
            opacity: 1;
            transform: none;
            transition: transform @time-md @ease-in, opacity @time-tiny @ease-in;
          }
        }
      }
      &.out {
        animation-duration: @time-sm; // needed for animation time, put max animation time
        transition: height @time-sm @ease-out;
        .overlay-design {
          opacity: 0;
          transform: translateY(2rem);
          transition: transform @time-sm @ease-out, opacity @time-tiny @ease-out @time-tiny;
        }
        .card-overlay {
          > .btn-close {
            // use animation to not override .btn transitions
            .anim-zoom.out();
            animation-delay: initial;
          }
          .card-block, .card-content {
            opacity: 0;
            transform: translateY(2.5rem);
            transition: transform @time-sm @ease-out, opacity @time-tiny @ease-out @time-tiny;
          }
        }
      }
    }

    /**
      * group
      */

    .group {
      .collapse-width();
      &.in {
        transition: width @time-md @ease-out;
      }
      &.out {
        transition: width @time-md @ease-out;
      }
    }

  }
  /*##END*/
}
