#iframe--fashion-hero-v2 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    /* hero */

    .hero_cover {
      pointer-events: none;
      position: absolute;
      z-index: theme('zIndex.active');
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: theme('colors.accent.500');
    }


  }
  /*##END*/
}
