#iframe--fashion-listing-v1 {
  //##START
  body { // add your own selector instead of body to contain the code

    /**
      * .block-listing
      */

    .block-listing_inner {
      > .row {
        .row-space(large);
      }
    }

    .block-listing_col {
      .col(12);
      .col(6, sm);
      .col(3, lg);
    }

    .block-listing_col--big {
      .col(12, sm);
      .col(12, lg);
    }

    .block-listing_item {
      .full();
      // card
      .card-white();
      .card-small();
      .card-squared();
      .card-none-x();
      text-align: center;
      .card-title {
        .font-sans-semibold();
        font-size: 2rem;
      }
      .card-asset {
        .media-container {
          .padding(bottom, 150%);
        }
        .media {
          .media-cover();
        }
      }
    }

    .block-listing_col--big {
      .card-asset {
        .media-container {
          @media @min-sm {
            .padding(bottom, 37.5%);
          }
          @media @min-lg {
            .padding(bottom, 25%);
          }
        }
      }
    }

    /**
      * .media_mask
      */

    .media_mask {
      position: absolute;
      z-index: @index-active + 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: @white;
    }

  }
  //##END
}
