#iframe--fashion-hero-v1 {
  //##START
  body { // add your own selector instead of body to contain the code

    @import 'xtend-library/src/addons/slider/navigation-sides.less';

    /**
      * slider
      */

    .slider {
      background: @black;
      .slides-inner {
        .row-space(none);
        // dragger animations
        transition: transform @time-large @ease-out-quart;
      }
      .slide {
        .col(12);
      }
      .slider-navigation {
        color: @white;
      }
      .slider-pagination {
        display: none;
      }
      // .hero
      .hero {
        .full();
        display: block;
        overflow: hidden;
      }
      .hero_asset {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
      }
      .hero_content_outer {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
      }
      .hero_content {
        .container();
      }
      .hero_content_inner {
        .full();
        .text-inverse();
        .padding(y, giant);
        max-width: 70rem;
      }
      .hero_text {
        font-size: 1.7rem;
        .h1 {
          font-size: 4rem;
        }
      }
      .hero_actions {
        display: inline-block;
        .margin(top, medium);
        > .list {
          .list-space(medium)
        }
        .btn {
          .btn-big();
          .btn-none-x();
        }
      }
      // variants
      .hero--big {
        .hero_text {
          .h1 {
            font-size: 6rem;
            @media @min-sm {
              font-size: 9rem;
            }
          }
        }
      }
      .hero--center {
        .hero_content_outer {
          .align-center();
        }
      }
      .hero--middle {
        @media @min-sm {
          .hero_content_outer {
            align-items: center;
          }
        }
      }
      .hero--left {
        @media @min-sm {
          .hero_content_outer {
            background: linear-gradient(90deg, fade(@black, 20%) 0%, fade(@black, 0%) 100%);
          }
          .hero_content_inner {
            margin-right: auto;
            max-width: 55rem;
          }
        }
      }
      .hero--right {
        @media @min-sm {
          .hero_content_outer {
            .align-right();
            background: linear-gradient(-90deg, fade(@black, 20%) 0%, fade(@black, 0%) 100%);
          }
          .hero_content_inner {
            margin-left: auto;
            max-width: 55rem;
          }
        }
      }
      // .slider-navigation-sides
      .slider-navigation-sides {
        color: @white;
      }
    }

  }
  //##END
}
