#iframe--fashion-hero-v2 {
  //##START
  body { // add your own selector instead of body to contain the code

    /**
      * slider
      */

    .slider {
      position: relative;
      background: @shade-100;
      .slides-inner {
        .row-space(none);
        // dragger animations
        .transition-none() !important;
        .transform-none() !important;
      }
      .slide {
        position: relative;
        .col(12);
        // activation
        display: none;
        &.active {
          display: block;
          z-index: @index-active;
        }
        &.out {
          display: block;
        }
        &:not(.active) {
          position: absolute;
        }
      }
      .slider-pagination {
        display: none;
      }
      // .slide_item
      .slide_item {
        .link-none();
        .full();
        display: block;
        overflow: hidden;
      }
      .slide_cover {
        pointer-events: none;
        position: absolute;
        z-index: @index-active;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: @accent-dark;
      }
      .slide_item_asset {
        .media-container {
          height: 100vh;
          height: calc(var(--vh, 1vh) * 100);
        }
      }
      .slide_item_content {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
      }
      .slide_item_content_inner {
        .link-none();
        .full();
        .text-inverse();
        .padding(y, giant);
        text-align: center;
        .btn {
          .btn-primary();
          .btn-big();
          .btn-wide();
        }
      }
      // variants
      .slide--center {
        .slide_item_content {
          align-items: center;
        }
      }
      .slide--big {
        .slide_item_content_inner {
          .h1 {
            font-size: 8rem;
          }
        }
      }
      // .slider-navigation-sides
      .slider-navigation-sides {
        color: @white;
      }
    }

  }
  //##END
}
