#iframe--fashion-listing-v1 {
  //##START
  body { // add your own selector instead of body to contain the code

    /**
      * .listing-page
      */

    .listing-page_inner {
      > .row {
        .row-space(large);
      }
    }

    .listing-page_col {
      .col(12);
      .col(6, sm);
      .col(3, lg);
    }

    .listing-page_col--big {
      .col(12, sm);
      .col(12, lg);
    }

    .listing-page_item {
      .full();
      // card
      .card-white();
      .card-small();
      .card-squared();
      .card-none-x();
      text-align: center;
      .card-title {
        .font-sans-semibold();
        font-size: 2rem;
      }
      .card-asset {
        .media-container {
          .padding(bottom, 150%);
        }
        .media {
          .media-cover();
        }
      }
    }

    .listing-page_col--big {
      .card-asset {
        .media-container {
          @media @min-sm {
            .padding(bottom, 37.5%);
          }
          @media @min-lg {
            .padding(bottom, 25%);
          }
        }
      }
    }

    /**
      * .media_mask
      */

    .media_mask {
      position: absolute;
      z-index: @index-active + 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: @white;
    }

    /**
      * scroll
      */

    // vars

    @anim-scale-size: 1.1;

    // the same css and js
    .scroll-item, .listing-page_item {
      opacity: 0;
      &.fade {
        opacity: 1;
        animation-name: anim-fashion-listing-v1-in;
        animation-duration: @time-medium;
        animation-timing-function: @ease-out-quint;
        transform-origin: center top;
        &.inverse {
          opacity: 1;
          animation-name: anim-fashion-listing-v1-inverse-in;
          animation-duration: @time-medium;
          animation-timing-function: @ease-out-quint;
          transform-origin: center bottom;
        }
      }
      &.fade-out {
        opacity: 0;
        animation-name: anim-fashion-listing-v1-inverse-out;
        animation-duration: @time-medium;
        animation-timing-function: @ease-out-quint;
        transform-origin: center bottom;
        &.inverse {
          opacity: 0;
          animation-name: anim-fashion-listing-v1-out;
          animation-duration: @time-medium;
          animation-timing-function: @ease-out-quint;
          transform-origin: center top;
        }
      }
    }

    // anim-fashion-listing-v1

    @keyframes anim-fashion-listing-v1-in {
      0% {
        opacity: 0;
        transform: translateY(5rem) scaleY(@anim-scale-size);
      }
      100% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }
    }

    @keyframes anim-fashion-listing-v1-out {
      0% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }
      100% {
        opacity: 0;
        transform: translateY(5rem) scaleY(@anim-scale-size);
      }
    }

    // anim-fashion-listing-v1-inverse

    @keyframes anim-fashion-listing-v1-inverse-in {
      0% {
        opacity: 0;
        transform: translateY(-5rem) scaleY(@anim-scale-size);
      }
      100% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }
    }

    @keyframes anim-fashion-listing-v1-inverse-out {
      0% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }
      100% {
        opacity: 0;
        transform: translateY(-5rem) scaleY(@anim-scale-size)
      }
    }

  }
  //##END
}
