#iframe--fashion-hero-v2 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    /**
      * slider
      */

    .slider {
      position: relative;
      background: @shade-100;
      .slides-inner {
        .row(none);
        // dragger animations
        .transition-none() !important;
        .transform-none() !important;
      }
      .slide {
        position: relative;
        .col(12);
        // activation
        display: none;
        &.active {
          display: block;
          z-index: @index-active;
        }
        &.out {
          display: block;
        }
        &:not(.active) {
          position: absolute;
        }
      }
      .slider-pagination {
        display: none;
      }
      // .hero
      .hero {
        .full();
        display: block;
        overflow: hidden;
      }
      .hero_cover {
        pointer-events: none;
        position: absolute;
        z-index: @index-active;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: @accent-dark;
      }
      .hero_asset {
        .media-container {
          height: 100vh;
          height: calc(var(--vh, 1vh) * 100);
        }
      }
      .hero_content_outer {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
      }
      .hero_content {
        .container();
      }
      .hero_content_inner {
        .full();
        .text-white links-inverse();
        .padding(y, giant);
        max-width: 75rem;
      }
      .hero_text {
        font-size: 1.1rem;
        .h1 {
          font-size: 4rem;
        }
      }
      .hero_actions {
        display: inline-block;
        .margin(top, medium);
        > .list {
          .list(medium)
        }
        .btn {
          .btn-big();
          .btn-none-x();
        }
      }
      // variants
      .hero--big {
        .hero_text {
          .h1 {
            font-size: 6rem;
            @media @min-sm {
              font-size: 9rem;
            }
          }
        }
      }
      .hero--center {
        .hero_content_outer {
          .align-center();
        }
      }
      .hero--middle {
        @media @min-sm {
          .hero_content_outer {
            align-items: center;
          }
        }
      }
      .hero--left {
        @media @min-sm {
          .hero_content_outer {
            background: linear-gradient(90deg, fade(@black, 20%) 0%, fade(@black, 0%) 100%);
          }
          .hero_content_inner {
            margin-right: auto;
            max-width: 55rem;
          }
        }
      }
      .hero--right {
        @media @min-sm {
          .hero_content_outer {
            .align-right();
            background: linear-gradient(-90deg, fade(@black, 20%) 0%, fade(@black, 0%) 100%);
          }
          .hero_content_inner {
            margin-left: auto;
            max-width: 55rem;
          }
        }
      }
      // .slider-navigation-sides
      .slider-navigation-sides {
        color: @white;
      }
    }

  }
  /*##END*/
}
