#iframe--furniture-listing-v1 {
  //##START
  body { // add your own selector instead of body to contain the code

    /**
      * .listing-page
      */

    .listing-page_inner {
      > .row {
        .row-space(small);
        .row-space(medium, sm);
      }
    }

    .listing-page_col {
      .col(12);
      .col(6, sm);
      .col(4, lg);
    }

    .listing-page_col--big {
      .col(12, sm);
      .col(12, lg);
    }

    .listing-page_item {
      .full();
      .text-default() !important;
      // card
      .card-white();
      .card-small();
      .card-squared();
      .card-none-x();
      .card-title {
        .font-sans-semibold();
        .line-height-small();
        font-size: 1.8rem;
      }
      .card-asset {
        .media-container {
          .padding(bottom, 75%);
          background: @shade-100;
        }
        .media {
          .media-cover();
        }
      }
    }

    .listing-page_col--big {
      .card-asset {
        .media-container {
          @media @min-sm {
            .padding(bottom, 37.5%);
          }
          @media @min-lg {
            .padding(bottom, 25%);
          }
        }
      }
    }

    .listing-page_content {
      .padding(y, medium);
    }

    .listing-page_price {
      .font-sans-semibold();
      .line-height-small();
      font-size: 1.4rem;
      letter-spacing: 0.1em;
      text-transform: none;
    }

    /**
      * scroll
      */

    // vars

    @anim-scale-size: 1.05;

    // the same css and js
    .scroll-item, .listing-page_item {
      opacity: 0;
      &.fade {
        opacity: 1;
        animation-name: anim-furniture-listing-v1-in;
        animation-duration: @time-medium;
        animation-timing-function: @ease-out-quint;
        &.inverse {
          opacity: 1;
          animation-name: anim-furniture-listing-v1-inverse-in;
          animation-duration: @time-medium;
          animation-timing-function: @ease-out-quint;
        }
      }
      &.fade-out {
        opacity: 0;
        animation-name: anim-furniture-listing-v1-inverse-out;
        animation-duration: @time-medium;
        animation-timing-function: @ease-out-quint;
        &.inverse {
          opacity: 0;
          animation-name: anim-furniture-listing-v1-out;
          animation-duration: @time-medium;
          animation-timing-function: @ease-out-quint;
        }
      }
    }

    // anim-furniture-listing-v1

    @keyframes anim-furniture-listing-v1-in {
      0% {
        opacity: 0;
        transform: translateY(3rem);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes anim-furniture-listing-v1-out {
      0% {
        opacity: 1;
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        transform: translateY(3rem);
      }
    }

    // anim-furniture-listing-v1-inverse

    @keyframes anim-furniture-listing-v1-inverse-in {
      0% {
        opacity: 0;
        transform: translateY(-3rem);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes anim-furniture-listing-v1-inverse-out {
      0% {
        opacity: 1;
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        transform: translateY(-3rem);
      }
    }

  }
  //##END
}
