#iframe--furniture-hero-v1 {
  //##START
  body { // add your own selector instead of body to contain the code
    
    @import 'xtend-library/src/addons/slider/navigation-sides.less';
    
    /**
      * slider
      */

    .slider {
      position: relative;
      background: @shade-100;
      .slides-inner {
        .row-space(none);
        // dragger animations
        .transition-none() !important;
        .transform-none() !important;
      }
      .slide {
        position: relative;
        .col(12);
        // activation
        display: none;
        &.active, &.out {
          display: block;
          z-index: @index-active;
        }
        &.next {
          display: block;
          z-index: @index-active + 1;
        }
        &:not(.active) {
          position: absolute;
        }
      }
      .slider-pagination {
        display: none;
      }
      // .slide_item
      .slide_item {
        .full();
        display: block;
        overflow: hidden;
      }
      .slide_item_asset {
        .media-container {
          height: 100vh;
          height: calc(var(--vh, 1vh) * 100);
        }
        &:before {
          content: '';
          position: absolute;
          z-index: 2;
          left: 0;
          bottom: 0;
          right: 0;
          height: 75%;
          background: linear-gradient(180deg, fade(@black, 0%) 0%, fade(@black, 30%) 100%);
        }
      }
      .slide_item_content {
        .container();
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
      }
      .slide_item_content_inner {
        .link-none();
        .full();
        .text-inverse();
        .padding(y, giant);
      }
      .slide_item_actions {
        display: inline-block;
        .margin(top, medium);
        > .list {
          .list-space(medium)
        }
        .btn {
          .btn-text();
          .btn-big();
          .btn-none-x();
        }
      }
      // variants
      .slide--center {
        .slide_item_content {
          .align-center();
        }
      }
      .slide--big {
        .slide_item_content_inner {
          .font-big();
          @media @min-sm {
            .font-giant();
            .h1 {
              font-size: 7rem;
            }
          }
        }
      }
      // line
      .slide_line {
        .container-space();
        pointer-events: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .slide_line_inner {
        position: relative;
        width: 100%;
        height: 100%;
      }
      .slide_line_small {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 200px;
        width: 1px;
        background: @white;
      }
      .slide_line_big {
        position: absolute;
        margin-right: -1px;
        bottom: 80px;
        right: 0;
        height: 120px;
        width: 3px;
        background: @white;
      }
      // .slider-navigation-sides
      .slider-navigation-sides {
        color: @white;
      }
    }

  }
  //##END
}
