#iframe--furniture-hero-v1 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    @import 'xtend-library/src/addons/slider/navigation-sides.less';

    /**
      * slider
      */

    .slider {
      position: relative;
      background: @shade-100;
      .slides-inner {
        .row-space(none);
        // dragger animations
        .transition-none() !important;
        .transform-none() !important;
      }
      .slide {
        position: relative;
        .col(12);
        // activation
        display: none;
        &.active, &.out {
          display: block;
          z-index: @index-active;
        }
        &.next {
          display: block;
          z-index: @index-active + 1;
        }
        &:not(.active) {
          position: absolute;
        }
      }
      .slider-pagination {
        display: none;
      }
      // .hero
      .hero {
        .full();
        display: block;
        overflow: hidden;
      }
      .hero_asset {
        .media-container {
          height: 100vh;
          height: calc(var(--vh, 1vh) * 100);
        }
        &:before {
          content: '';
          position: absolute;
          z-index: 2;
          left: 0;
          bottom: 0;
          right: 0;
          height: 75%;
          background: linear-gradient(180deg, fade(@black, 0%) 0%, fade(@black, 30%) 100%);
        }
      }
      .hero_content_outer {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
      }
      .hero_content {
        .container();
      }
      .hero_content_inner {
        .full();
        .text-inverse();
        .padding(y, giant);
        .padding(right, big);
        max-width: 70rem;
      }
      .hero_text {
        font-size: 1.1rem;
        .h1 {
          font-size: 4rem;
        }
      }
      .hero_actions {
        display: inline-block;
        .margin(top, medium);
        > .list {
          .list-space(medium)
        }
        .btn {
          .btn-big();
          .btn-none-x();
        }
      }
      // variants
      .hero--big {
        .hero_text {
          .h1 {
            font-size: 6rem;
            @media @min-sm {
              font-size: 9rem;
            }
          }
        }
      }
      .hero--center {
        .hero_content_outer {
          .align-center();
        }
      }
      .hero--middle {
        @media @min-sm {
          .hero_content_outer {
            align-items: center;
          }
        }
      }
      .hero--left {
        @media @min-sm {
          .hero_content_outer {
            background: linear-gradient(90deg, fade(@black, 20%) 0%, fade(@black, 0%) 100%);
          }
          .hero_content_inner {
            margin-right: auto;
            max-width: 55rem;
          }
        }
      }
      .hero--right {
        @media @min-sm {
          .hero_content_outer {
            .align-right();
            background: linear-gradient(-90deg, fade(@black, 20%) 0%, fade(@black, 0%) 100%);
          }
          .hero_content_inner {
            margin-left: auto;
            max-width: 55rem;
          }
        }
      }
      // line
      .hero_line {
        .container-space();
        pointer-events: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .hero_line_inner {
        position: relative;
        width: 100%;
        height: 100%;
      }
      .hero_line_small {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 200px;
        width: 1px;
        background: @white;
      }
      .hero_line_big {
        position: absolute;
        margin-right: -1px;
        bottom: 80px;
        right: 0;
        height: 120px;
        width: 3px;
        background: @white;
      }
      // .slider-navigation-sides
      .slider-navigation-sides {
        color: @white;
      }
    }

  }
  /*##END*/
}
