#iframe--sequential-megamenu-v1 {
  //##START
  body { // add your own selector instead of body to contain the code

    /**
      * .megamenus
      */

    .megamenus {
      display: flex;
      position: relative;
    }

    .megamenus_line {
      position: fixed;
      left: 0;
      top: 0;
      background: @shade-700;
    }

    .btn_megamenus {
      .btn-large();
      .padding(y, 1.5em);
    }

    .megamenu_outer {
      > .drop {
        .drop-nospace();
        .drop-squared();
        > .drop-inner {
          .text-inverse();
          > .drop-design {
            border-color: @shade-700;
            background: @shade-700;
            box-shadow: @shadow-dark;
          }
        }
      }
      // animation
      > .drop {
        > .drop-inner {
          overflow: hidden;
          .transition-none() !important;
          > .drop-design {
            opacity: 1;
          }
          > .drop-content {
            opacity: 1;
          }
        }
      }
      &.in {
        > .drop {
          > .drop-inner {
            .transition-none() !important;
            > .drop-design {
              opacity: 1;
              .transition-none();
            }
            > .drop-content {
              opacity: 1;
              .transition-none();
            }
          }
        }
      }
      &.out {
        > .drop {
          > .drop-inner {
            .transition-none() !important;
            > .drop-design {
              opacity: 1;
              .transition-none();
            }
            > .drop-content {
              opacity: 1;
              .transition-none();
            }
          }
        }
      }
    }

    .megamenu {
      .padding(y, 6rem);
    }

    .megamenu_inner {
      > .row {
        .row-space(medium);
        .row-space(big, lg);
      }
    }

    .megamenu_col_left {
      .col(12);
      .col(4, sm);
      .col(3, lg);
      padding-right: 4rem !important;
    }

    .megamenu_col_right {
      .col(12);
      .col(8, sm);
      .col(9, lg);
      > .row {
        .row-space-y(small);
        .row-space-x(medium);
        .row-space-x(big, lg);
        // max-height set in style
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

    .megamenu_item_col {
      .col(6);
      .col(4, sm);
    }

    .megamenu_item_title {
      .link-none();
      .spacing-tiny();
      .font-sans-semibold();
      .line-height-medium();
      font-size: 1rem;
      color: @white;
      letter-spacing: .025em;
    }

    .megamenu_item_content {
      > .list-block {
        .list-space(none);
      }
      a {
        .link-none();
        .padding(y, .25rem);
        .font-sans-semibold();
        .line-height-medium();
        font-size: 13px;
        color: fade(@white, 50%) !important;
        &:hover, &.hover, &:active, &.active {
          color: @white !important;
        }
      }
    }

  }
  //##END
}
