#iframe--slide-overlay-v1 {
  /*##START*/
  @import 'xtend-library/src/addons/overlay/close-outside.less';

  body { /* add your own selector instead of body to contain the code */

    /**
      * vars
      */

    // ease

    @ease-in: @ease-out-quint;
    @ease-out: @ease-in-out-quint;

    /**
      * overlay
      */

    .overlay {
      .card-item--menu {
        background: @accent;
      }
    }

    // animation

    .overlay {
      .overlay-design {
        opacity: 0;
        transform: translateY(125%);
      }
      .card-overlay {
        .card-block, .card-content {
          opacity: 0;
          transform: translateY(100%);
        }
      }
      &.in {
        animation-duration: @time-medium; // needed for animation time, put max animation time
        .overlay-design {
          opacity: 1;
          transform: none;
          transition: transform @time-medium @ease-in, opacity @time-small @ease-in;
        }
        .card-overlay {
          .card-block, .card-content {
            opacity: 1;
            transform: none;
            transition: transform @time-medium @ease-in, opacity @time-small @ease-in;
          }
        }
      }
      &.out {
        animation-duration: @time-small; // needed for animation time, put max animation time
        .overlay-design {
          opacity: 0;
          transform: translateY(125%);
          transition: transform @time-small @ease-out, opacity @time-small @ease-out;
        }
        .card-overlay {
          .card-block, .card-content {
            opacity: 0;
            transform: translateY(100%);
            transition: transform @time-small @ease-out, opacity @time-small @ease-out;
          }
          > .btn-close {
            .anim-y.out();
          }
        }
      }
    }

    /**
      * overlay position
      */

    // animation

    [class^='overlay-position-'], [class*=' overlay-position-'] {
      &.overlay-position-left {
        .overlay-design {
          opacity: 0;
          transform: translateX(-125%);
        }
        .card-overlay {
          .card-block, .card-content {
            opacity: 0;
            transform: translateX(-100%);
          }
        }
      }
      &.overlay-position-right {
        .overlay-design {
          opacity: 0;
          transform: translateX(125%);
        }
        .card-overlay {
          .card-block, .card-content {
            opacity: 0;
            transform: translateX(100%);
          }
        }
      }
      &.in {
        animation-duration: @time-medium; // needed for animation time, put max animation time
        .overlay-design {
          opacity: 1;
          transform: none;
          transition: transform @time-medium @ease-in, opacity @time-small @ease-in;
        }
        .card-overlay {
          .card-block, .card-content {
            opacity: 1;
            transform: none;
            transition: transform @time-medium @ease-in, opacity @time-small @ease-in;
          }
        }
      }
      &.out {
        animation-duration: @time-small; // needed for animation time, put max animation time
        &.overlay-position-left {
          .overlay-design {
            opacity: 0;
            transform: translateX(-125%);
            transition: transform @time-small @ease-out, opacity @time-small @ease-out;
          }
          .card-overlay {
            .card-block, .card-content {
              opacity: 0;
              transform: translateX(-100%);
              transition: transform @time-small @ease-out, opacity @time-small @ease-out;
            }
            > .btn-close {
              .anim-x-inverse.out();
            }
          }
        }
        &.overlay-position-right {
          .overlay-design {
            opacity: 0;
            transform: translateX(125%);
            transition: transform @time-small @ease-out, opacity @time-small @ease-out ;
          }
          .card-overlay {
            .card-block, .card-content {
              opacity: 0;
              transform: translateX(100%);
              transition: transform @time-small @ease-out, opacity @time-small @ease-out ;
            }
            > .btn-close {
              .anim-x.out();
            }
          }
        }
      }
    }

  }
  /*##END*/
}
