#iframe--stores-listing-v2 {
  //##START
  body { // add your own selector instead of body to contain the code

    /**
      * .listing-page
      */

    // items

    .listing-page_inner {
      .padding(bottom, big);
      > .row {
        .row-space(small);
        .row-space(medium, sm);
      }
    }

    .listing-page_col {
      .col(12);
      .col(6, sm);
      .col(4, lg);
    }

    .listing-page_item {
      position: relative;
      overflow: hidden;
      @media @max-sm {
        .listing-page_front {
          .listing-page_item_content {
            display: none;
          }
        }
      }
      @media @min-sm {
        .listing-page_front {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .listing-page_back {
          pointer-events: none;
          opacity: 0;
        }
        &.active {
          .listing-page_back {
            pointer-events: all;
          }
        }
      }
      .listing-page_front {
        cursor: pointer;
        .card-squared();
      }
      .listing-page_back {
        .card-squared();
        min-height: 40rem;
        .btn-close {
          top: -0.7rem;
          right: -0.7rem;
        }
        @media @max-sm {
          .btn-close {
            display: none;
          }
          .listing-page_content {
            .padding(top, medium);
          }
        }
      }
    }

    // content

    .card-asset {
      .margin(bottom, big);
      .media-container {
        height: 20rem;
        @supports (mix-blend-mode: screen) {
          &:before {
            content: '';
            position: absolute;
            z-index: @index-active + 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000000;
            mix-blend-mode: saturation;
          }
          &:after {
            content: '';
            position: absolute;
            z-index: @index-active + 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #7686FF;
            mix-blend-mode: screen;
            opacity: .25;
          }
        }
      }
      .media {
        .media-cover();
      }
    }

    .listing-page_content {
      .padding(y, 0);
      .padding(x, 4rem);
      border-left: 1px solid @shade-200;
    }

    .listing-page_title {
      .spacing-medium();
      .font-sans-semibold();
      font-size: 3.0.7rem;
      .line-height-mini();
    }

    .listing-page_address {
      .line-height-mini();
    }

    .listing-page_subtitle {
      .spacing-small();
      .font-sans-semibold();
      font-size: 14px;
      .line-height-mini();
      text-transform: uppercase;
    }

    .listing-page_additional {
      .font-small();
      .line-height-big();
    }

    .listing-page_btns {
      display: none;
    }

  }
  //##END
}
