/**
 * background
 */

body {
  background: @white;
}

/**
 * scrollbar
 */

.overflow-style(@mode: none) {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: transparent;
    @media (hover: none) {
      display: none;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: fade(#888888, 40%);
  }
}

/**
 * focus
 */

html.xt-focus:not(.xt-focus--disable) {
  // custom focus
  :focus {
    outline-color: rgb(77, 144, 254);
  }
  // checkbox and radio
  input[type="checkbox"], input[type="radio"] {
    &:focus ~ .form-label:before {
      outline-color: rgb(77, 144, 254);
      outline-offset: -2px;
      outline-style: auto;
      outline-width: 5px;
    }
  }
}

/**
 * disabled
 */

[disabled], .disabled {
  .user-select--none();
  cursor: default;
  pointer-events: none;
  &:not(.active) {
    opacity: .75;
  }
}

/**
 * backdrop
 */

@backdrop--opacity: .1;

.backdrop {
  // styles
  background: darken(@primary, 80%);
  // animation
  opacity: 0;
  &.active {
    animation-name: anim-backdrop--in;
    animation-duration: inherit;
    animation-timing-function: @bez--in;
    animation-fill-mode: forwards;
  }
  &.out {
    animation-name: anim-backdrop--out;
    animation-duration: inherit;
    animation-timing-function: @bez--out;
    animation-fill-mode: forwards;
  }
}

@keyframes anim-backdrop--in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: @backdrop--opacity;
  }
}

@keyframes anim-backdrop--out {
  0% {
    opacity: @backdrop--opacity;
  }
  100% {
    opacity: 0;
  }
}
