@import '~xtend-library/src/core/util/util-setup.less';

/**
 * vars
 */

// util classes generation
// false -> not generate any classes
// true -> only generate non responsive classes
// array of breakpoints -> generate non responsive classes and responsive classes for those breakpoints

@classes--margin: false;
@classes--padding: false;
@classes--util: sm, md, lg;
@classes--icon: true; // only true or false
@classes--layout: true;
@classes--grid: sm, md, lg;
