@import '~xtend-library/src/core/util/util-setup.less';

/**
 * vars
 */

// generate class: [false], [true] non responsive, [sm, md, lg] responsive breakpoints

@generate-class--util: sm, md, lg;
@generate-class--flex: false;
@generate-class--margin: false;
@generate-class--padding: false;
