@import (reference) "../../../../../dist/styles/xtend.less";

//////////////////////
// xtend extension: toggle-levels
//////////////////////

// content

.toggle-levels-title-wrapper {
  .block();
  .margin(y, layout) !important;
  .margin(top, medium);
  .margin(bottom, tiny);
  position: relative;
  .display(flex);
  .align-items-center();
  .justify-content-between();
}

.toggle-levels-title {
  .h4();
}

.toggle-levels-list {
  > li {
    > button {
      .caret();
      .caret.caret-horizontal();
    }
    > a, > button {
      margin-bottom: -1px !important;
      &@{btn-design} {
        border-top-color: @grey-300 !important;
        border-bottom-color: @grey-300 !important;
      }
    }
  }
}

// toggle

.toggle-levels-body {
  .block();
  .toggle-block();
  // animations
  .anim-horizontal();
  animation-duration: @time-small;
  &.direction-inverse {
    .anim-horizontal-inverse();
    animation-duration: @time-small;
  }
}

.toggle-levels-tab {
  .block();
  .toggle-block();
  // animations
  .anim-horizontal();
  animation-duration: @time-small;
  &.direction-inverse {
    .anim-horizontal-inverse();
    animation-duration: @time-small;
  }
}
