#iframe--fashion-gallery-v1 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    .product-gallery {
      @apply overflow-y-auto overflow-x-hidden overflow-sub -container md:mx-0;
      @media (max-width: theme('screens.md')) {
        height: 65vh;
        height: calc(var(--vh, 1vh) * 65);
      }
    }

    .product-dot {
      > * {
        width: 7px;
        height: 7px;
        @apply transition-all;
      }
      &:active, &.active {
        > * {
          width: 9px;
          height: 9px;
        }
      }
    }

  }
  /*##END*/
}
