#iframe--fashion-gallery-v1 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    .product-gallery {
      @apply overflow-y-auto overflow-x-hidden overflow-sub -container md:mx-0;
      @media (max-width: theme('screens.md')) {
        height: 60vh;
        height: calc(var(--vh, 1vh) * 60);
      }
    }

    .product-dot {
      > * {
        width: 7px;
        height: 7px;
        transition-property: all;
        transition-duration: theme('transitionDuration.500');
        transition-timing-function: theme('transitionTimingFunction.in-out');
      }
      &:active > *, &.active > * {
        width: 9px;
        height: 9px;
      }
    }

  }
  /*##END*/
}
