@import (reference) "../../../../../dist/styles/xtend.less";

.toggle--custom {
  .anim-none() !important; // disable default animation
  // animation
  .trans-default.out();
  transition-duration: @time--big;
  opacity: .5 !important;
  &.active {
    .trans-default.active();
    transition-duration: @time--big;
    opacity: 1 !important;
  }
}
