@import (reference) "../../../../../dist/styles/xtend.less";

//////////////////////
// xtend extension: multilevel
//////////////////////

// content

.multilevel-title-wrapper {
  .block();
  .margin(y, layout) !important;
  .margin(top, medium);
  .margin(bottom, tiny);
  position: relative;
  .display(flex);
  .align-items--center();
  .justify-content--between();
}

.multilevel-title {
  .h4();
}

.multilevel-reset {
  .caret.caret--horizontal.caret--inverse();
}

.multilevel-list {
  > li {
    > button {
      .caret();
      .caret.caret--horizontal();
    }
    > a, > button {
      margin-bottom: -1px !important;
      &@{btn--design} {
        border-top-color: @grey--300 !important;
        border-bottom-color: @grey--300 !important;
      }
    }
  }
}

// toggle

.multilevel-body {
  .block();
  .toggle--block();
  // animations
  .anim-horizontal();
  animation-duration: @time--small;
  &.xt-inverse {
    .anim-horizontal-inverse();
    animation-duration: @time--small;
  }
}

.multilevel-tab {
  .block();
  .toggle--block();
  // animations
  .anim-horizontal();
  animation-duration: @time--small;
  &.xt-inverse {
    .anim-horizontal-inverse();
    animation-duration: @time--small;
  }
}
