@import (reference) "../../../../../dist/styles/xtend.less";

.alert {
  // animations
  &.active {
    animation-duration: @time--giant !important;
  }
  &.out {
    animation-duration: @time--giant !important;
  }
}

.in {
  > * {
    color: green !important;
  }
}

.out {
  > * {
    color: red !important;
  }
}
