@import (reference) "~xtend-library/dist/styles/xtend.less";

//##START
/**
 * xtend extension: overlay content
 */

.overlay_outer {
  .btn--close.overlay_dismiss {
    .btn--primary();
  }
  .overlay_menu {
    .list();
    .list-space(none);
    height: 63px;
    background: @primary;
    > .btn {
      display: flex;
      align-items: center;
    }
  }
  // animation
  &.active {
    .overlay_menu {
      .anim-y.active();
      animation-delay: @time--small;
    }
  }
  &.out {
    .overlay_menu {
      .anim-y-inverse.out();
    }
  }
}
//##END
