#iframe--infinitescroll {
  /*##START*/
  /* .infinitescroll-spinner */

  .infinitescroll-spinner {
    @apply transition opacity-0;
    .xt-spinner {
      @apply transition-all opacity-0 scale-75;
    }
  }

  .infinitescroll-loading {
    .infinitescroll-spinner {
      @apply opacity-100;
      .xt-spinner {
        @apply opacity-100 scale-100;
      }
    }
  }

  /* .infinitescroll-trigger .xt-button */

  .infinitescroll-trigger .xt-button {
    .infinitescroll-trigger-content-nomore {
      display: none;
    }
    .infinitescroll-trigger-content {
      @apply transition;
    }
  }

  .infinitescroll-loading {
    .infinitescroll-trigger .xt-button {
      pointer-events: none;
      > .infinitescroll-trigger-content {
        @apply opacity-0;
      }
    }
  }

  /* .infinitescroll-nomore */

  .infinitescroll-nomore {
    .infinitescroll-trigger .xt-button {
      pointer-events: none;
      .infinitescroll-trigger-content {
        display: none;
      }
      .infinitescroll-trigger-content-nomore {
        display: block;
      }
    }
  }

  /* .infinitescroll-pre */

  .infinitescroll-pre {
    display: none;
  }

  .infinitescroll-reset {
    .infinitescroll-pre {
      display: block;
    }
  }
  /*##END*/
}
