@import '~xtend-library/src/core/drop/_drop.less';
@import '~xtend-library/src/core/list/list.less';
@import '~xtend-library/src/core/card/card.less';

/**
 * vars
 */

// space

@drop-space: 6px; // space between button and drop

/**
 * drop
 */

.drop {
  > .drop-inner {
    border-radius: 6px;
    > .drop-content {
      > .list, > .list-block {
        .padding(y, 1.3rem); // vertical space
      }
    }
    > .drop-design, > .drop-content {
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
    }
  }
  // default options
  .drop-left();
  .drop-bottom();
  .drop-size-small();
  .drop-small();
}

// variant

.drop-default {
  > .drop-inner {
    color: @text;
    > .drop-design {
      border-color: @shade-200;
      background: @white;
      box-shadow: @shadow-light;
    }
  }
  > .drop-inner > .drop-content > .list-drop {
    .list-btns({ .btn-text() });
  }
}

.drop-primary {
  > .drop-inner {
    .text-inverse();
    > .drop-design {
      border-color: @accent-dark;
      background: @accent;
      box-shadow: @shadow-dark;
    }
  }
  > .drop-inner > .drop-content > .list-drop {
    .list-btns({ .btn-text() });
  }
}

// size

.drop-size-small {
  .list-drop {
    max-width: 25rem;
  }
  .card-drop {
    max-width: 35rem;
  }
}

.drop-size-medium {
  .list-drop {
    max-width: 35rem;
  }
  .card-drop {
    max-width: 45rem;
  }
}

.drop-size-large {
  .list-drop {
    max-width: 45rem;
  }
  .card-drop {
    max-width: 55rem;
  }
}

// card size

.drop-small {
  .list-drop {
    .list-btns({
      .btn-small();
      .padding(x, 2.5rem);
    });
  }
  .card-drop {
    .card-small();
  }
}

.drop-medium {
  .list-drop {
    .list-btns({
      .btn-medium();
      .padding(x, 3rem);
    });
  }
  .card-drop {
    .card-medium();
  }
}

.drop-large {
  .list-drop {
    .list-btns({
      .btn-large();
      .padding(x, 3.5rem);
    });
  }
  .card-drop {
    .card-large();
  }
}

// special

.drop-squared {
  > .drop-inner {
    border-radius: 0;
  }
}

.drop-noborder {
  > .drop-inner {
    > .drop-design {
      border: 0;
    }
  }
}

.drop-nospace {
  padding: 0;
}

// special

.drop-disable {
  // disable custom animation
  > .drop > .drop-inner {
    > .drop-content {
      opacity: 1 !important;
      .trans-anim-none() !important;
    }
  }
}

.drop-overflow-y {
  > .drop-inner > .drop-content {
    overflow-y: auto;
    max-height: 25rem;
    .overflow-style(@mode: inner);
  }
}

.drop-overflow-x {
  > .drop-inner > .drop-content {
    overflow-x: auto;
    max-width: 25rem;
    .overflow-style(@mode: inner);
  }
}

// animation

.drop-container {
  > .drop {
    > .drop-inner {
      > .drop-design {
        opacity: 0;
      }
      > .drop-content {
        opacity: 0;
      }
    }
  }
  &.in {
    animation-duration: @time-medium + @time-tiny; // needed for animation time and backdrop animation time, put max animation time
    > .drop {
      > .drop-inner {
        > .drop-design {
          opacity: 1;
          transition: opacity @time-medium @ease-in;
        }
        > .drop-content {
          opacity: 1;
          transition: opacity @time-medium @ease-in @time-tiny;
        }
      }
    }
  }
  &.out {
    animation-duration: @time-small + @time-tiny; // needed for animation time and backdrop animation time, put max animation time
    > .drop {
      > .drop-inner {
        > .drop-design {
          opacity: 0;
          transition: opacity @time-small @ease-out @time-tiny;
        }
        > .drop-content {
          opacity: 0;
          transition: opacity @time-small @ease-out;
        }
      }
    }
  }
}
