@import '~xtend-library/src/core/drop/drop-setup.less';

/**
 * vars
 */

@drop--space: 6px; // space between button and drop

/**
 * drop
 */

.drop {
  // styles
  > .drop_inner {
    > .drop_content {
      > .list, > .list-block {
        .padding(y, 1.3rem); // vertical space
        min-width: 18rem;
      }
    }
    > .drop_design, > .drop_content {
      border-radius: 4px;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
    }
  }
  // option
  .drop--light();
  .drop--left();
  .drop--bottom();
}

// addons

.drop--disable {
  // disable custom animation
  > .drop > .drop_inner {
    > .drop_content {
      opacity: 1 !important;
      .trans-anim-none() !important;
    }
  }
}

.drop--overflow-y {
  > .drop_inner > .drop_content {
    overflow-y: auto;
    max-height: 25rem;
    .overflow-style();
  }
}

// variant

.drop--light {
  > .drop_inner {
    color: @text;
    > .drop_design {
      border-color: @gray--300;
      background: @white;
      box-shadow: @shadow--light;
    }
    > .drop_content > .list--drop {
      .list-btn({ .btn--text() });
    }
  }
}

.drop--dark {
  > .drop_inner {
    .text--inverse();
    > .drop_design {
      border-color: @gray--900;
      background: @gray--900;
      box-shadow: @shadow--dark;
    }
    > .drop_content > .list--drop {
      .list-btn({ .btn--text() });
    }
  }
}

// animation

.drop_outer {
  &, > .drop {
    animation-duration: @time--medium + @time--small; // needed for .out animation timing, put max animation time
  }
  &.active {
    > .drop > .drop_inner {
      > .drop_design {
        .anim-zoom.active();
      }
      > .drop_content {
        .anim-y.active();
        animation-delay: @time--small;
      }
    }
    > .backdrop {
      .backdrop.active();
    }
  }
  &.out {
    > .drop > .drop_inner {
      > .drop_design {
        .anim-zoom.out();
        animation-delay: @time--small;
      }
      > .drop_content {
        .anim-y.out();
      }
    }
    > .backdrop {
      .backdrop.out();
    }
  }
}
