@import '~xtend-library/src/core/drop/_drop.less';

/**
 * vars
 */

// space

@drop-space: 6px; // space between button and drop

/**
 * drop
 */

.drop {
  > .drop-inner {
    border-radius: .5em;
    > .drop-content {
      > .list, > .list-block {
        .padding(y, 1.3rem); // vertical space
        min-width: 18rem;
      }
    }
    > .drop-design, > .drop-content {
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
    }
  }
  // default options
  .drop-left();
  .drop-bottom();
}

// variant

.drop-default {
  > .drop-inner {
    color: @text;
    > .drop-design {
      border-color: @shade-300;
      background: @white;
      box-shadow: @shadow-light;
    }
  }
  > .drop-inner > .drop-content > .list-drop {
    .list-btns({ .btn-text() });
  }
}

.drop-primary {
  > .drop-inner {
    .text-inverse();
    > .drop-design {
      border-color: @accent-dark;
      background: @accent;
      box-shadow: @shadow-dark;
    }
  }
  > .drop-inner > .drop-content > .list-drop {
    .list-btns({ .btn-text() });
  }
}

// special

.drop-squared {
  > .drop-inner {
    border-radius: 0;
  }
}

.drop-noborder {
  > .drop-inner {
    > .drop-design {
      border: 0;
    }
  }
}

.drop-nospace {
  padding: 0;
}

// special

.drop-disable {
  // disable custom animation
  > .drop > .drop-inner {
    > .drop-content {
      opacity: 1 !important;
      .trans-anim-none() !important;
    }
  }
}

.drop-overflow-y {
  > .drop-inner > .drop-content {
    overflow-y: auto;
    max-height: 25rem;
    .overflow-style(@mode: inner);
  }
}

.drop-overflow-x {
  > .drop-inner > .drop-content {
    overflow-x: auto;
    max-width: 25rem;
    .overflow-style(@mode: inner);
  }
}

// animation

.drop-container {
  &.active {
    animation-duration: @time-small + @time-tiny; // needed for animation time and backdrop animation time, put max animation time
    > .drop {
      > .drop-inner {
        > .drop-design {
          .anim-zoom.active();
          animation-delay: initial;
        }
        > .drop-content {
          .anim-y.active();
          animation-delay: @time-tiny;
        }
      }
      > .backdrop {
        .backdrop.active();
      }
    }
  }
  &.out {
    animation-duration: @time-small + @time-tiny; // needed for animation time and backdrop animation time, put max animation time
    > .drop {
      > .drop-inner {
        > .drop-design {
          .anim-zoom.out();
          animation-delay: @time-tiny;
        }
        > .drop-content {
          .anim-y.out();
          animation-delay: initial;
        }
      }
      > .backdrop {
        .backdrop.out();
      }
    }
  }
  /*
  &.active {
    animation-duration: @time-small + @time-tiny; // needed for animation time and backdrop animation time, put max animation time
    > .drop {
      > .drop-inner {
        > .drop-design {
          .anim-y.active();
          animation-delay: initial;
        }
        > .drop-content {
          .anim-y.active();
          animation-delay: @time-tiny;
        }
      }
      > .backdrop {
        .backdrop.active();
      }
    }
  }
  &.out {
    animation-duration: @time-small + @time-tiny; // needed for animation time and backdrop animation time, put max animation time
    > .drop {
      > .drop-inner {
        > .drop-design {
          .anim-y.out();
          animation-delay: @time-tiny;
        }
        > .drop-content {
          .anim-y.out();
          animation-delay: initial;
        }
      }
      > .backdrop {
        .backdrop.out();
      }
    }
  }
  */
}
