@import '~xtend-library/src/core/list/_list.less';

/**
 * vars
 */

// generate class: [false], [true] non responsive only, [sm, md, lg] responsive @breakpoints

@generate-list: true;

// space

@list-spaces: none, micro, tiny, small, medium, big, giant, huge; // if you change this change also variables names below
@list-space-none: 0 0; // vertical horizontal
@list-space-micro: .25rem .25rem;
@list-space-tiny: .5rem .5rem;
@list-space-small: .75rem .75rem;
@list-space-medium: 1rem 1rem;
@list-space-big: 1.5rem 1.5rem;
@list-space-giant: 2rem 2rem;
@list-space-huge: 3rem 3rem;

/**
 * list
 */

// variant

.list-default {
  .list-space(small);
  .list-btns({
    .btn();
    .btn-default();
  });
}

.list-drop {
  display: inline-block;
  flex-wrap: nowrap;
  flex-direction: column;
  .list-space(none);
  .list-btns({
    .flex-auto();
    .btn();
    .btn-small();
    .btn-squared();
    .padding(x, 2.2rem);
    white-space: nowrap;
  });
}
