@import '~xtend-library/src/core/list/list-setup.less';

/**
 * vars
 */

// generate class: [false], [true] non responsive, [sm, md, lg] responsive breakpoints

@generate-class--list: true;

// space

@list-spaces: none, micro, tiny, small, medium, big, giant; // if you change this change also variables names below
@list-space--none: 0 0; // vertical horizontal
@list-space--micro: .25rem .25rem;
@list-space--tiny: .5rem .5rem;
@list-space--small: .75rem .75rem;
@list-space--medium: 1rem 1rem;
@list-space--big: 1.5rem 1.5rem;
@list-space--giant: 2rem 2rem;
@list-space--huge: 3rem 3rem;

/**
 * list
 */

// variant

.list--default {
  // default options
  .list-space(small);
  .list-btns({
    .btn();
    .btn--default();
  });
}

.list--drop {
  flex-wrap: nowrap;
  flex-direction: column;
  // default options
  .list-space(none);
  .list-btns({
    .btn();
    .btn--small();
    .btn--squared();
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    white-space: nowrap;
  });
}
