/**
 * list
 */

// variant

.list--default {
  // default options
  .list-space(small);
  .list-btns({
    .btn();
    .btn--default();
  });
}

.list--drop {
  flex-wrap: nowrap;
  flex-direction: column;
  // default options
  .list-space(none);
  .list-btns({
    .btn();
    .btn--small();
    .btn--squared();
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    white-space: nowrap;
  });
}
