@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/drop/drop.less';
@import '~xtend-library/src/core/overlay/overlay.less';
@import '~xtend-library/src/addons/overlay/position.less';

.demo--2020-euroricambi-collapse {
  /**
   * drop
   */

  .drop-container {
    .drop-container-noanim();
    > .drop {
      > .drop-inner {
        .collapse-height();
      }
    }
    &.in {
      animation-duration: @time-medium; // needed for animation time and backdrop animation time, put max animation time
      > .drop {
        > .drop-inner {
          transition: height @time-medium @ease-on;
        }
      }
    }
    &.out {
      animation-duration: @time-small; // needed for animation time and backdrop animation time, put max animation time
      > .drop {
        > .drop-inner {
          transition: height @time-small @ease-off;
        }
      }
    }
  }

  /**
    * overlay
    */

  .overlay-position& {
    .overlay-position-noanim();
  }

  .overlay& {
    .overlay-noanim();
    .collapse-height();
    > .backdrop {
      opacity: @backdrop-opacity;
      height: 0;
    }
    &.in {
      transition: height @time-medium @ease-on;
      > .backdrop {
        opacity: @backdrop-opacity;
        height: 100vh;
        transition: height @time-medium @ease-on;
        .animation-none();
      }
    }
    &.out {
      transition: height @time-small @ease-off;
      > .backdrop {
        opacity: @backdrop-opacity;
        height: 0;
        transition: height @time-small @ease-off;
        .animation-none();
      }
    }
  }

}
