.demo--loader-js-spinner {
  opacity: 0;
  transition-property: opacity;
  transition-duration: theme('transitionDuration.500');
  transition-timing-function: theme('transitionTimingFunction.out');
  .spinner {
    opacity: 0;
    transform: scale(.75);
    transition-property: all;
    transition-duration: theme('transitionDuration.500');
    transition-timing-function: theme('transitionTimingFunction.out');
  }
  &.in {
    opacity: 1;
    transition-timing-function: theme('transitionTimingFunction.in');
    .spinner {
      opacity: 1;
      transform: scale(1);
      transition-timing-function: theme('transitionTimingFunction.in');
    }
  }
}
