.demo--infinitescroll, .demo--infinitescroll-react {
  /* spinner */

  .infinitescroll-spinner {
    @apply transition opacity-0;
    .xt-spinner {
      @apply transition-all opacity-0 scale-75;
    }
  }

  .xt-infinitescroll-loading {
    .infinitescroll-spinner {
      @apply opacity-100;
      .xt-spinner {
        @apply opacity-100 scale-100;
      }
    }
  }

  /* trigger */

  .infinitescroll-trigger .xt-button {
    .infinitescroll-trigger-content-nomore {
      display: none;
    }
    .infinitescroll-trigger-content {
      @apply transition;
    }
  }

  .xt-infinitescroll-loading {
    .infinitescroll-trigger .xt-button {
      pointer-events: none;
      > .infinitescroll-trigger-content {
        @apply opacity-0;
      }
    }
  }

  /* nomore */

  .xt-infinitescroll-nomore {
    .infinitescroll-trigger .xt-button {
      pointer-events: none;
      .infinitescroll-trigger-content {
        display: none;
      }
      .infinitescroll-trigger-content-nomore {
        display: block;
      }
    }
  }

  /* pre */

  .infinitescroll-pre {
    display: none;
  }

  .xt-infinitescroll-reset {
    .infinitescroll-pre {
      display: block;
    }
  }
}
