//////////////////////
// alert
//////////////////////

.alert {
  .display(flex);
  .flex-direction(column);
  .flex--auto();
  width: 100%;
  position: relative;
  z-index: @index--base; // fix ::before negative z-index
}