//////////////////////
// loader
//////////////////////

.loader {
  position: absolute;
  z-index: @index--loader;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// direction

.loader--x {
  .progress {
    > span {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.loader--y {
  .progress {
    > span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}


// js

.loader--js {
  .progress {
    > span {
      .anim-none() !important;
    }
  }
}

/*

.preload {
  position: relative;
  width: 100%;
}

// addons

.loader {
  width: 100%;
}

*/

/*
.loader--relative {
  position: relative;
}

.loader--fixed {
  position: fixed;
  z-index: @index--loader + 1;
}

.loader--html {
  html.loaded & {
    display: none;
  }
}
*/
