//////////////////////
// preload
//////////////////////

.loader_container {
  position: absolute;
  z-index: @index--loader;
  top: 0;
  left: 0;
}

.loader {
  position: relative;
  width: 100%;
}

// addons

.loader_container {
  width: 100%;
}

.loader--full {
  .display(flex);
  .align-items--center();
  .justify-content--center();
  height: 100%;
}

.loader--relative {
  position: relative;
}

.loader--fixed {
  position: fixed;
  z-index: @index--loader + 1;
}

.loader--html {
  html.loaded & {
    display: none;
  }
}
