.demo--overlay-animation-css, .demo--overlay-animation-css-react {
  .xt-overlay {
    /* initial */
    .xt-backdrop {
      @apply transition ease-out duration-500;
      @apply opacity-0;
    }
    .xt-overlay-inner {
      @apply transform transition ease-out duration-500;
      @apply opacity-0 translate-y-4;
    }
    /* active */
    &.xt-in {
      .xt-backdrop {
        @apply opacity-25;
      }
      .xt-overlay-inner {
        @apply opacity-100 translate-y-0;
      }
    }
    /* out */
    &.xt-out {
      .xt-backdrop {
        @apply opacity-0;
      }
      .xt-overlay-inner {
        @apply opacity-0 -translate-y-4;
      }
    }
  }
}
