.demo--media-variant, .demo--media-variant-react {
  .media-container--skeleton {
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 33%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.25) 100%);
    background-size: 300% 300%;
    animation: media-container--skeleton 5000ms linear infinite;
  }
}

@keyframes media-container--skeleton {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
