.demo--tooltip-animation-css, .demo--tooltip-animation-css-react {
  .xt-tooltip {
    /* initial */
    @apply transition duration-300;
    @apply opacity-0;
    &.dir-before {
      @apply translate-x-4;
    }
    &.dir-after {
      @apply -translate-x-4;
    }
    /* in */
    &.in {
      @apply opacity-100 translate-x-0;
    }
    /* out */
    &.out {
      @apply opacity-0;
      &.dir-before {
        @apply -translate-x-4;
      }
      &.dir-after {
        @apply translate-x-4;
      }
    }
  }
}
