/**
 * group
 */

.group {
  .link-none();
  display: inline-flex !important;
  flex-wrap: nowrap;
  position: relative;
  padding: 0 !important;
}

// .group-inner

.group-inner {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  // .btn
  > .form-item {
    .flex-auto();
  }
  > .btn {
    .flex-auto();
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }
  // border inline
  &:first-child {
    > * {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  &:last-child {
    > * {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  &:not(:first-child):not(:last-child) {
    > * {
      border-radius: 0 !important;
    }
  }
  // border stack
  &:first-child {
    > * {
      &:not(:first-child) {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }
      &:not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
      &:not(:first-child):not(:last-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
  &:last-child {
    > * {
      &:not(:first-child) {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
      &:not(:last-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      &:not(:first-child):not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}
