@import '~xtend-library/src/core/group/_group.less';

/**
 * group
 */

// variant

.group-default {
  @group-border-width: 2px;
  @group-border-radius: .5em;
  border-radius: @group-border-radius;
  border-width: @group-border-width;
  border-style: solid;
  border-color: transparent;
  // content
  .group-inner {
    > .btn {
      border-width: @group-border-width;
      border-color: @gray-300 !important;
      &:hover, &.hover, &:active, &.active {
        border-color: @gray-300-dark !important;
      }
    }
    > .form-item {
      border-width: @group-border-width;
      border-color: @gray-300 !important;
      &:focus, &.active {
        border-color: @gray-300-dark !important;
      }
    }
  }
  // collapse border
  .group-inner {
    &:not(:last-child) {
      margin-right: -@group-border-width;
    }
    > * + * {
      margin-top: -@group-border-width;
    }
  }
  // list
  > .list {
    .list-space(small) !important;
    flex-wrap: nowrap;
  }
}
