@import '~xtend-library/src/core/group/group-setup.less';

/**
 * group
 */

.group {
  border-radius: .5em;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

// variant

.group--default {
  .group--collapse();
  .form-item {
    border-color: @gray-300 !important;
  }
  .group-inner {
    > * {
      border-color: @gray-300 !important;
    }
  }
}

// special

.group--collapse {
  .group-inner {
    margin-left: -1px;
    margin-right: -1px;
    > * + * {
      margin-top: -1px;
    }
  }
}
