.demo--stores-listing-v1, .demo--stores-listing-v1-react {
  .listing-item-front {
    backface-visibility: hidden;
  }

  .listing-item-back {
    min-height: 22rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  .listing-item {
    perspective: 1400px;
    .listing-item-inner {
      transform-style: preserve-3d;
      @apply transition ease-in-out-quad duration-500;
    }
    &.xt-active {
      .listing-item-inner {
        transform: rotateY(180deg);
      }
    }
  }
}
