#iframe--stores-listing-v1 {
  /*##START*/
  .listing-item-front {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: theme('zIndex.active');
    backface-visibility: hidden;
  }

  .listing-item-back {
    position: relative;
    min-height: 22rem;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  .listing-item {
    perspective: 1400px;
    .listing-item-inner {
      height: 100%;
      transform-style: preserve-3d;
      @apply transition ease-in-out-quad duration-500;
    }
    &.active {
      .listing-item-inner {
        transform: rotateY(180deg);
      }
      .listing-item-back {
        z-index: theme('zIndex.active');
      }
    }
  }
  /*##END*/
}
