.demo--slider-media-loaded, .demo--slider-media-loaded-react {
  .xt-slide {
    .xt-media-container {
      @apply bg-gray-300;
    }
    /* fixed height */
    img {
      width: auto;
      height: 10rem;
      @screen sm {
        height: 15rem;
      }
      @screen md {
        height: 20rem;
      }
      @screen lg {
        height: 30rem;
      }
    }
    /* full width when loading */
    width: 100%;
    &.xt-medialoaded {
      width: auto;
    }
    /* hide loader on mediaLoaded */
    &.xt-medialoaded {
      .xt-loader {
        @apply transition opacity-0;
      }
    }
    /* animate media on mediaLoaded */
    .xt-media {
      @apply transition opacity-0;
    }
    &.xt-medialoaded {
      .xt-media {
        @apply opacity-100;
      }
    }
  }
}
