.slider--progress {
  .loader--mouse {
    // disable on mobile
    @media @max-sm {
      .loader.active() !important;
      position: absolute !important;
      top: 100% !important;
      left: 0 !important;
      transform: none !important;
      margin-top: -25px !important;
      margin-left: 0 !important;
    }
  }
}
