
#iframe--scroll-to-anchor-nested {
  /*##START*/
  .demo--scroll-to-anchor-nested {
    position: relative;
    overflow-y: auto;
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
    .overflow-style(@mode: inner);
    background: @shade-200;
  }
  /*##END*/
}
