/**
 * demo
 */

#gatsby_body-inner {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

html.gatsby_iframe-inside {
  body {
    @apply overflow-main;
    background: theme('colors.white') !important;
  }
  #gatsby_body-inner {
    height: initial;
    max-width: none;
  }
  &.gatsby_iframe-container {
    #gatsby_body-inner {
      @apply p-4 md:p-6 lg:p-8;
    }
  }
}

.gatsby_demo_source {
  @apply p-4 md:p-6 lg:p-8;
}

/**
 * code
 */

code {
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 0.9em;
  font-size: .875em;
  color: #7567F8;
}

.text-inverse {
  code {
    @apply text-white text-opacity-75;
  }
}

pre[class*="language-"] {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  @apply overflow-sub my-5 mt-fc mb-lc py-5 px-5;
  width: 100%;
  border-radius: 6px;
  &::-webkit-scrollbar {
    background: transparent;
  }
  .gatsby_demo_code_body & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  border: 0 !important;
  line-height: 0 !important;
  font-size: 1rem;
  code {
    width: 100%;
    background: transparent !important;
    @apply font-mono;
    font-size: 0.8125rem !important;
    line-height: 1.4 !important;
    white-space: pre-wrap !important;
  }
}

/**
 * .demo
 */

pre {
  max-height: 21rem;
}

.gatsby_demo {
  @apply my-6 mt-fc mb-lc;
  border-radius: 6px;
  pre {
    border-width: 0 !important;
  }
  @apply border-3 border-gray-200;
  transition: border-color theme('transitionDuration.500') theme('transitionTimingFunction.out');
  #gatsby_open-full & {
    border: 0 !important;
    .gatsby_demo_code_body,
    .gatsby_demo_item:not(.populated-iframe) {
      overflow-x: hidden;
      overflow-y: auto;
      @apply overflow-main;
    }
    .gatsby_demo_item.active-code {
      overflow-x: hidden;
      overflow-y: hidden;
    }
    .gatsby_demo_tabs_right {
      > * {
        opacity: 1 !important;
        transform: initial !important;
      }
    }
  }
}

.gatsby_demo_tabs, .gatsby_demo_code_tabs, .gatsby_demo_code_body {
  @apply bg-gray-200;
}

.gatsby_demo_tabs, .gatsby_demo_code_tabs {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px;
  .btn {
    border-width: 3px;
    padding: .5em .75em;
    font-size: 10px;
    @apply text-default text-opacity-50 rounded-md border-transparent;
    &:hover, &:active, &.active {
      @apply border-gray-300 bg-white text-opacity-100;
    }
  }
}

.gatsby_demo_tabs_right, .gatsby_demo_code_tabs_right {
  flex-wrap: nowrap;
  .btn {
    padding-top: .6em;
    padding-bottom: .6em;
    [class^='icon-'], [class*=' icon-'] {
      position: relative;
      top: .05em;
      font-size: 12px;
      margin-top: -2px;
      margin-bottom: -2px;
    }
  }
}

.gatsby_demo_tabs_inner {
  margin-top: -3px;
}

.gatsby_demo_text {
  @apply py-2 px-4 border border-gray-200;
}

.gatsby_demo_source {
  &:not(.gatsby_demo_source--from) {
    display: none !important;
  }
}

.gatsby_demo_item {
  position: relative;
  .gatsby_demo_item_wrapper {
    position: relative;
    #gatsby_open-full & {
      height: auto !important;
    }
  }
  .gatsby_demo_code {
    order: 2;
    #gatsby_open-full & {
      @apply toggle;
      order: -1;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .gatsby_demo_code_inner {
      display: flex;
      flex-flow: column;
      height: 100%;
    }
    &.active {
      z-index: 11;
    }
  }
  &[data-iframe] {
    &.loaded {
      .gatsby_demo_item_wrapper > .loader {
        display: none;
      }
    }
    iframe {
      display: block;
      width: 100%;
      height: 0;
      border: 0;
      &:not(.gatsby_iframe-full) {
        height: 36rem;
      }
    }
  }
  &:not(.populated) {
    .gatsby_demo_code_body {
      width: 100%;
      overflow: hidden;
    }
  }
}

.gatsby_demo_code_body {
  z-index: 1;
  flex: 1;
}

[data-gatsby-listing-toggle] + .gatsby_demo {
  display: none;
  .gatsby_demo_source_populate {
    display: inline-flex; /* populate source disable */
  }
}

.gatsby_demo, .gatsby_demo_item, .gatsby_demo_item_wrapper, .gatsby_demo_item_wrapper iframe {
  display: flex;
  flex-direction: column;
  #gatsby_open-full & {
    flex: 1 1 auto;
    width: 100%;
  }
}

.btn-show-code {
  display: none;
  #gatsby_open-full & {
    display: inline-flex;
  }
}

.btn-open-iframe {
  display: none !important;
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important;
  > span {
    display: inline-block;
    position: relative;
    top: auto !important;
    margin-top: -.5em;
    margin-bottom: -.5em;
  }
}

#gatsby_open-full {
  position: fixed;
  z-index: calc(theme('zIndex.top') + 100);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @apply bg-white;
  @screen lg {
    margin-left: 18rem;
  }
  @screen xl {
    margin-left: 20rem;
  }
  > .btn-close {
    @apply text-inverse rounded-md border-accent-500 bg-accent-500 hover:text-opacity-75 hover:border-accent-600 hover:bg-accent-600;
    top: 0;
    right: 0;
    border-radius: 0;
  }
  .gatsby_demo_tabs_right {
    padding-right: 45px;
  }
  .btn-open-full {
    display: none !important;
  }
  .btn-open-iframe.gatsby_with-iframe {
    display: block !important;
  }
}

#gatsby_open-full-content {
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  pre {
    max-height: none;
  }
}

.gatsby_table {
  border-radius: 6px;
  border: 3px solid theme('colors.gray.200');
}

.gatsby_note {
  @apply my-5 mt-fc mb-lc text-sm;
}
