/**
 * demos
 */

html.iframe-full {
  body {
    overflow: hidden !important;
  }
}

html.iframe-inside {
  body {
    .overflow-style(@mode: inner);
  }
}

#body-inner {
  position: relative;
  .padding(all, medium);
}

// .demo-cols

.demo-cols {
  [class^='col-'], [class*=' col-'], [class^='demo--col-'], [class*=' demo--col-'] {
    &:before {
      position: relative;
      float: left;
      width: 100%;
      height: 22px;
      min-height: 100%;
      border: 1px solid darken(@secondary, 5%);
      background: @secondary;
      content: attr(data-index);
      .font-sans--semibold();
      font-size: 12px;
      color: @primary;
      line-height: 1.8;
      text-align: center;
    }
  }
}

.demo-cols-nested {
  [class^='col-'], [class*=' col-'] {
    .demo-cols();
  }
}

/**
 * demo
 */

@demo-height: 35rem;

pre {
  max-height: @demo-height;
}

// .demo

.demo {
  .margin(y, layout) !important;
  .margin(top, medium);
  .margin(bottom, big);
  border-radius: .5rem;
  border-width: 2px;
  border-style: solid;
  border-color: @gray--200;
  .demo_tabs {
    .margin-remove(top, 2px); // remove border space
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  // code
  .demo_item {
    position: relative;
    .toggle--block();
    .demo_code {
      position: absolute;
      z-index: 4;
      width: 100%;
      .demo_code_inner {
        display: flex;
        flex-flow: column;
        height: 100%;
      }
      &.active {
        z-index: 5;
      }
    }
    &[data-iframe] {
      &:not(.loaded) {
        .demo_item_wrapper {
          position: relative;
          height: @demo-height;
        }
        iframe {
          display: none;
        }
      }
      &.loaded {
        .demo_item_wrapper > .loader {
          display: none;
        }
      }
      iframe {
        display: block;
        width: 100%;
        height: 0;
        &:not(.iframe-full) {
          height: @demo-height;
        }
      }
    }
    &[data-shadow] {
      &:not(.loaded) {
        .demo_item_wrapper {
          height: @demo-height;
        }
        .demo_shadow {
          display: none;
        }
      }
      &.loaded {
        .demo_item_wrapper + .loader {
          display: none;
        }
      }
    }
    &:not(.populated) {
      .demo_code_body {
        width: 100%;
        overflow: hidden;
      }
    }
    &.populated {
      .demo_code_body_item {
        .toggle--block();
      }
    }
  }
  .hljs {
    z-index: 1;
    .padding(top, small) !important;
  }
  .demo_code_body {
    z-index: 1;
    flex: 1;
  }
  // tabs
  .demo_tabs,
  .demo_code_tabs,
  .demo_code_body {
    background: @gray--200;
  }
  .demo_tabs,
  .demo_code_tabs {
    position: relative;
    z-index: 2;
    display: flex;
    .justify-content(space-between);
    > * {
      .list();
      .list-space(tiny);
    }
    .padding(y, small);
    .padding(x, small);
    .btn {
      // animation
      &:hover, &.hover, &:active, &.active {
        color: @text;
        &@{btn--design} {
          border-color: @white;
          background: @white;
        }
      }
    }
  }
  .demo_tabs_inner {
    margin-top: -3px;
  }
  // text
  .demo_text {
    .alert();
    .alert--small();
    .margin(all, none);
    .margin-remove(top, 2px); // remove border space
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  // .demo_source
  .demo_source {
    .padding(all, medium);
  }
  .demo_source {
    &:not(.demo_source--from) {
      display: none;
    }
  }
}
