//////////////////////
// header
//////////////////////

// .logo

.logo {
  float: left;
  .link--none();
  display: flex;
  .align-items(center);
  .padding(y, medium);
  img {
    width: 6.6rem;
    height: 2rem;
  }
  // animation
  img {
    transform-origin: left center;
    transition-property: transform, opacity;
    transition-duration: @time--small;
    transition-timing-function: @bez--in-out;
  }
  &:hover, &.hover, &:active, &:focus {
    img {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}

// .site_header

.site_header_top {
  display: flex;
  color: @white;
  background: linear-gradient(0deg, @grad--primary);
}

.site_header_top_links {
  .list();
}

.site_header_top_search {
  .form-input {
    // styles
    border-radius: 0;
    border-width: 0;
    padding: .5em 1em; // size in em inherit .form-item size
    .font-sans--semibold();
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    // styles
    background: fade(@black, 10%);
    color: @text--inverse;
    &:focus, &.active {
      background: fade(@black, 20%);
    }
    &:-ms-input-placeholder {
      color: @text--inverse;
    }
    &:-moz-placeholder {
      color: @text--inverse;
    }
    &::-webkit-input-placeholder {
      color: @text--inverse;
    }
    &::-ms-input-placeholder {
      color: @text--inverse;
    }
    &::-moz-placeholder {
      color: @text--inverse;
    }
    &::placeholder {
      color: @text--inverse;
    }
  }
}

.site_header_top_social {
  float: right;
  .list();
  .list-space(none);
}
