/**
 * sidebar
*/

.gatsby_site_article_sidebar {
  @apply text-white links-inverse overflow-sub;
  background: theme('colors.accent.500');
  @screen lg {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1;
  }
  @screen lg {
    width: 18rem;
  }
  @screen xl {
    width: 20rem;
  }
}

/**
 * header
*/

.gatsby_logo-icon {
  display: inline-flex;
  align-items: center;
  height: 100%;
  img {
    width: 8.5rem;
  }
  img {
    @apply transition;
  }
  &:hover, &:active {
    img {
      opacity: 0.9;
    }
  }
}

.gatsby_site_header {
  @apply text-white links-inverse;
  padding-top: 2rem;
  padding-bottom: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @screen xl {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.gatsby_site_header_content {
  @apply w-full list;
  align-items: flex-end;
  justify-content: space-between;
}

.gatsby_site_header_top_social {
  @apply list list-0.5;
  align-items: stretch;
}

.gatsby_btn-site_header_top_social {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 5px;
  border-radius: 0;
  @apply text-white links-inverse;
  line-height: 1;
  &:last-child {
    padding-right: 0;
  }
  @apply transition;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  &:active {
    opacity: 1;
    transform: scale(1);
  }
}

.gatsby_site_header_listing {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @screen xl {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.gatsby_site_header_cat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.gatsby_site_header_inner, .gatsby_site_header_cat, .gatsby_site_header_item, .gatsby_site_header_adiacent, .gatsby_site_header_adiacent_inner {
  position: relative;
}

.gatsby_site_header_sub {
  @apply w-full;
}

.gatsby_site_header_adiacent, .gatsby_site_header_adiacent_inner {
  @apply w-full;
  display: none;
  &.active {
    display: block;
  }
}

.gatsby_cat--site_article_sidebar {
  font-weight: theme('fontWeight.semibold');
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
  @apply text-white links-inverse;
  .gatsby_site_header_listing > *:first-child & {
    margin-top: 0 !important;
  }
}

.gatsby_site_header_links_container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @screen xl {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.gatsby_site_header_links {
  @apply border-t border-b border-accent-900 border-opacity-25;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  > * {
    margin-left: -.5rem;
    margin-right: -.5rem;
  }
}

.gatsby_site_header_sub {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.gatsby_site_header_adiacent {
  .gatsby_site_header_item {
    padding-left: .5rem;
  }
}

.gatsby_site_header_adiacent_inner {
  padding-top: 3px;
  padding-bottom: 3px;
  .gatsby_site_header_item {
    padding-left: .5rem;
  }
}

.gatsby_btn-site_article_sidebar, .gatsby_btn-site_header_link {
  padding: 0;
  padding-bottom: 1px;
  border-width: 0;
  @apply w-full font-sans;
  > span {
    @apply transition duration-500 ease-in-out-quint hover:duration-300 hover:ease-out-quint active:ease-out-quint;
    border-radius: 6px;
    padding: .3125rem .5rem;
    font-weight: theme('fontWeight.normal');
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.66);
    line-height: 1;
    letter-spacing: theme('letterSpacing.wide');
    text-transform: none;
  }
  &.gatsby_btn-site_header_link {
    > span {
      @apply w-full;
      font-weight: theme('fontWeight.semibold');
      text-transform: uppercase;
    }
  }
  &.gatsby_btn-site_article_sidebar--sub {
    > span {
      @apply w-full;
    }
  }
  &.gatsby_btn-site_article_sidebar--adiacent {
    > span {
      @apply bg-accent-900 bg-opacity-25;
      font-size: 12px;
    }
  }
  &.gatsby_btn-site_article_sidebar--adiacent_inner {
    padding-bottom: 0;
    > span {
      font-size: 12px;
    }
  }
  &:hover {
    > span {
      @apply bg-accent-900 bg-opacity-25;
      transform: translateX(.25rem);
      color: theme('colors.white');
    }
  }
  &:active, &.active, &.current {
    > span {
      @apply bg-accent-900 bg-opacity-50;
      transform: none;
      font-weight: theme('fontWeight.semibold');
      color: theme('colors.white');
    }
  }
}
