/**
 * header
 */

.gatsby_home-header_inner {
  @apply relative;
  .container {
    @apply max-w-screen-lg;
  }
}

.gatsby_home-header_content {
  @apply relative z-20 py-6 text-white xt-links-inverse text-center transition-all duration-300 ease-out-quart;
  .gatsby_logo-icon {
    @apply mb-4 transition-all duration-300 ease-out-quart;
  }
  .scrolling-down & {
    .gatsby_logo-icon {
      @apply opacity-0 pointer-events-none;
    }
  }
  .scrolling-down.scrolling-hide & {
    @apply relative pt-7 pb-5;
  }
}

.gatsby_home-header_background {
  @apply absolute z-10;
  z-index: 12;
  top: -100%;
  left: -30%;
  width: 160%;
  height: 200%;
  rect {
    fill: theme('colors.primary.500');
    width: 100%;
    height: 100%;
  }
  @screen sm {
    left: -20%;
    width: 140%;
  }
  @screen lg {
    left: -8%;
    width: 116%;
  }
}

.gatsby_home-header_actions {
  .xt-list {
    @apply xt-list-1 justify-center;
  }
  .xt-button {
    @apply transition duration-300 ease-out-quint;
    border-radius: 6px;
    padding: 6px 9px;
    font-weight: theme('fontWeight.semibold');
    font-size: 14px;
    color: rgba(255, 255, 255, 0.66);
    line-height: 1;
    letter-spacing: theme('letterSpacing.wide');
    text-transform: uppercase;
    &:hover {
      @apply bg-primary-900 bg-opacity-50;
      color: theme('colors.white');
    }
  }
}

/**
 * main
 */

.gatsby_home-main {
  .container {
    @apply max-w-screen-lg !important;
  }
}

.gatsby_home-main_head {
  @apply my-28 text-center;
}

/* social */

.gatsby_home-main_social {
  @apply xt-list mt-6;
  justify-content: center;
  .gatsby_home-main_social_btn {
    @apply px-3;
  }
  svg {
    width: 2em;
    height: 2em;
  }
}

.gatsby_home-main_social_btn {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 5px;
  border-radius: 0;
  line-height: 1;
  &:last-child {
    padding-right: 0;
  }
  @apply transition;
  opacity: .25;
  &:hover {
    opacity: 1;
    transform: translateY(-4px);
  }
}

/* features */

.gatsby_home-main_features {
  @apply my-28 text-center;
  .xt-row {
    @apply xt-row-12;
  }
}

.gatsby_home-main_feature {
  @apply inline-block w-full text-left;
  .xt-row {
    @apply xt-row-4;
  }
}

.gatsby_home-main_feature_left {
  @apply w-full md:w-6/12 lg:w-5/12;
  .xt-icon {
    width: 1em;
    height: 1em;
  }
}

.gatsby_home-main_feature_right {
  @apply w-full md:w-6/12 lg:w-7/12;
}

/* philosophies */

.gatsby_home-main_philosophies {
  @apply my-28 text-center;
  .xt-row {
    @apply xt-row-3.5 md:xt-row-10;
  }
}

.gatsby_home-main_philosophy_col {
  @apply w-6/12 md:w-2/6;
}

.gatsby_home-main_philosophy {
  @apply text-left text-sm;
  .h4 {
    @apply mb-1.5;
    font-size: 1rem;
  }
  p {
    @apply text-sm;
    opacity: .5;
  }
}

/* actions */

.gatsby_home-main_actions {
  @apply my-28 text-center;
}

/* supports */

.gatsby_home-main_supports {
  @apply my-28 text-center;
  .xt-row {
    @apply xt-row-8 items-center justify-center;
  }
}

.gatsby_home-main_support_col {
  @apply w-6/12 md:w-4/12 lg:w-3/12;
}

.gatsby_home-main_support {
  @apply inline-block w-full transition ease-in-out-quint hover:opacity-75 hover:duration-300 hover:ease-out-quint on:opacity-100 on:ease-out-quint;
}

/* scroll */

body:not(.xt-noscroll) {
  .gatsby_home-main_scroll {
    opacity: 0;
  }
}
