//////////////////////
// .btn--site_header_top_link
//////////////////////

.btn--site_header_top_link {
  .link--none();
  .btn--squared();
  .btn--noborder();
  .btn--noeffect();
  padding: .3em .5em;
  .font-sans--semibold();
  font-size: 14px;
  color: @text--inverse;
  line-height: 1;
  text-transform: uppercase;
  &@{btn--design} {
    background: transparent;
  }
  &:hover, &.hover, &:active, &.active, &.current, &:focus {
    color: @text--inverse;
    &@{btn--design} {
      background: fade(@black, 10%);
    }
  }
}

//////////////////////
// .btn--site_header_top_social
//////////////////////

.btn--site_header_top_social {
  .link--none();
  .btn--nodesign();
  .btn--noeffect();
  padding: .3em .5em;
  border-radius: 0;
  color: @text--inverse;
  line-height: 1;
  text-transform: uppercase;
  &:hover, &.hover, &:active, &:focus {
    color: @text--inverse;
    transform: scale(1.1);
    opacity: 0.8;
  }
}

//////////////////////
// .btn--site_article_sidebar
//////////////////////

.btn--site_article_sidebar {
  .btn--left();
  .link--none();
  .btn--squared();
  .btn--noborder();
  .btn--noeffect();
  padding: .5rem 0 !important;
  .font-sans--regular();
  font-size: 1.4rem;
  color: @gray--500;
  text-transform: none;
  // states
  &@{btn--design} {
    background: transparent;
  }
  &:hover, &.hover, &:active, &:focus {
    .font-sans--semibold();
    color: @text;
    &@{btn--design} {
      background: transparent;
    }
  }
  &.active,
  &.current {
    .margin(y, .5rem);
    padding: .25em .5em !important;
    .font-sans--semibold();
    color: @text;
    &@{btn--design} {
      background: fade(@black, 10%);
    }
  }
  // custom
  &.btn--site_article_sidebar--cat {
    font-size: 1.6rem;
  }
  &.btn--site_article_sidebar--sub {
    font-size: 1.5rem;
  }
  &.btn--site_article_sidebar--adiacent {
    font-size: 1.4rem;
  }
}

//////////////////////
// .btn--site_multiline
//////////////////////

.btn--site_multiline {
  .btn--flex();
  .link--none();
  .btn--squared();
  .btn--noborder();
  .btn--nodesign();
  .btn--noeffect();
  padding: 0;
  .font-sans--regular();
  font-size: 1.4rem;
  color: @text;
  text-transform: uppercase;
  .btn--site_multiline_line {
    display: inline-block;
    .margin(y, 1px);
    padding: .25em .5em;
    [class^='icon-'], [class*=' icon-'] {
      position: relative;
      font-size: .75em;
      .btn--left& {
        top: -1px;
        left: -1px;
      }
      .btn--right& {
        top: -1px;
        left: 1px;
      }
    }
  }
  .btn--site_multiline_special {
    background: fade(@black, 10%);
    .btn--left& {
      .margin(left, .5em);
    }
    .btn--right& {
      .margin(right, .5em);
    }
  }
  .btn--site_multiline_special_text {
    display: none;
  }
  &:hover, &.hover, &:active, &.active, &:focus {
    color: @text;
    > span {
      .btn--site_multiline_line {
        background: fade(@black, 10%);
      }
      .btn--site_multiline_special {
        background: @primary;
        color: @white;
        .margin(left, 0);
        .margin(right, 0);
      }
      .btn--site_multiline_special_text {
        display: inline-block;
        .btn--left& {
          .margin(left, .5em);
        }
        .btn--right& {
          .margin(right, .5em);
        }
      }
    }
  }
}
