/**
 * logo-icon
 */

.logo-icon {
  .link--none();
  display: inline-flex;
  .align-items(center);
  height: 100%;
  .site_header & {
    .padding(y, 1.5rem);
  }
  img {
    width: 2rem;
    height: 1.4rem;
    .site_header & {
      width: 3.4rem;
      height: 2.4rem;
    }
  }
  // animation
  img {
    transition-property: opacity;
    transition-duration: @time--small;
    transition-timing-function: @bez--out;
  }
  &:hover, &.hover, &:active {
    img {
      opacity: 0.9;
    }
  }
}

/**
 * .btn--site_header_top_link
 */

.btn--site_header_top_link {
  .link--none();
  .btn--squared();
  .btn--noborder();
  .btn--noeffect();
  .font-sans--semibold();
  font-size: 14px;
  color: @text--inverse;
  line-height: 1;
  text-transform: uppercase;
  > span {
    padding: .3em .5em;
  }
  &@{btn--design} {
    background: transparent;
  }
  &:hover, &.hover, &:active, &.active, &.current {
    color: @text--inverse;
    &@{btn--design} {
      background: fade(@gray--900, 10%);
    }
  }
}

/**
 * .btn--site_header_top_social
 */

.btn--site_header_top_social {
  .link--none();
  .btn--nodesign();
  .btn--noeffect();
  border-radius: 0;
  color: @text--inverse;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.8;
  > span {
    padding: .3em .5em;
  }
  &:hover, &.hover, &:active, &.active {
    color: @text--inverse;
    opacity: 1;
  }
  // effect
  &:active, &.active {
    transform: scale(1.2);
  }
}

/**
 * .btn--site_article_sidebar
 */

.btn--site_article_sidebar {
  .btn--left();
  .link--none();
  .btn--squared();
  .btn--noborder();
  .btn--noeffect();
  .font-sans--regular();
  color: @text;
  text-transform: none;
  // states
  &@{btn--design} {
    background: transparent;
  }
  &:hover, &.hover, &:active, &.active {
    .font-sans--semibold();
    color: @text;
    &@{btn--design} {
      background: transparent;
    }
  }
  &.active,
  &.current {
    .font-sans--semibold();
    &@{btn--design} {
      background: transparent;
    }
    &:after {
      content: '';
      position: absolute;
      left: -1.25rem;
      background: linear-gradient(0deg, @grad--primary);
      box-shadow: @shadow--primary;
    }
  }
  // custom
  &.btn--site_article_sidebar--cat {
    .font-sans--semibold();
    font-size: 12px;
    text-transform: uppercase;
    > span {
      padding: 10px 0 7px 0 !important;
    }
    &:after {
      display: none;
    }
  }
  &.btn--site_article_sidebar--sub {
    font-size: 13px;
    > span {
      padding: 4px 0 !important;
    }
    &:after {
      top: 6px;
      width: 4px;
      height: 11px;
    }
  }
  &.btn--site_article_sidebar--adiacent {
    font-size: 12px;
    > span {
      padding: 4px 0 !important;
    }
    &:after {
      top: 5px;
      width: 4px;
      height: 11px;
    }
  }
}

/**
 * .btn--site_multiline
 */

.btn--site_multiline {
  .btn--flex();
  .link--none();
  .btn--squared();
  .btn--noborder();
  .btn--nodesign();
  .btn--noeffect();
  .font-sans--regular();
  font-size: 1.4rem;
  color: @text;
  text-transform: uppercase;
  > span {
    padding: 0;
  }
  .btn--site_multiline_line {
    display: inline-block;
    .margin(y, 1px);
    padding: .25em .5em;
    [class^='icon-'], [class*=' icon-'] {
      position: relative;
      font-size: .75em;
      .btn--left& {
        top: -1px;
        left: -1px;
      }
      .btn--right& {
        top: -1px;
        left: 1px;
      }
    }
  }
  .btn--site_multiline_special {
    background: linear-gradient(135deg, @grad--light);
    .btn--left& {
      .margin(left, .5em);
    }
    .btn--right& {
      .margin(right, .5em);
    }
  }
  .btn--site_multiline_special_text {
    display: none;
  }
  &:hover, &.hover, &:active, &.active {
    color: @text;
    > span {
      .btn--site_multiline_line {
        background: linear-gradient(135deg, @grad--light);
      }
      .btn--site_multiline_special {
        .margin(left, 0);
        .margin(right, 0);
        background: linear-gradient(135deg, @grad--primary);
        color: @white;
      }
      .btn--site_multiline_special_text {
        display: inline-block;
        .btn--left& {
          .margin(left, .5em);
        }
        .btn--right& {
          .margin(right, .5em);
        }
      }
    }
  }
}

/**
 * .make-line
 */

.make-line {
  position: relative;
  z-index: 1;
  .make-line_container {
    display: block;
    position: relative;
    width: 100%;
    .make-line_line {
      .link--none();
      display: inline-block;
      padding-right: 15px;
      background: @white;
    }
    .make-line_line:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: .5em;
      left: 0;
      width: 100%;
      height: 2px;
      background: @gray--200;
    }
  }
  // animation
  .make-line_container {
    .make-line_line:after {
      left: 100%;
      width: 0;
      opacity: 0;
      transition: all @time--medium @bez--out;
    }
  }
  &:hover, &.hover, &:active, &.active {
    .make-line_container {
      .make-line_line:after {
        left: 0;
        width: 100%;
        opacity: 1;
        animation: anim-opacity--in @time--medium @bez--in, line--in @time--medium @bez--in;
      }
    }
  }
}

@keyframes line--in {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

/**
 * .make-anchor
 */

.make-anchor {
  position: relative;
  width: 100%;
  a {
    display: block;
    .link--none();
    color: @text !important;
  }
  .site_article_anchor {
    pointer-events: none;
  }
  // animation
  .site_article_anchor {
    opacity: 0;
    transition: all @time--medium @bez--out;
  }
  &:hover, &.hover, &:active, &.active {
    a {
      color: @primary !important;
    }
    .site_article_anchor {
      opacity: 1;
      animation: anim-opacity--in @time--medium @bez--in;
    }
  }
}

.site_article_anchor {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 12px;
  h2 & {
    bottom: 3px;
  }
  .btn {
    .link--none();
    .btn--squared();
    .btn--noborder();
    .btn--noeffect();
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 17px;
    color: @primary;
    line-height: 1;
    > span {
      padding: 7px;
    }
    &@{btn--design} {
      border-color: @white !important;
      background: @white !important;
    }
  }
}
