@import "tailwindcss/base";

@import "tailwindcss/components";

@import "prismjs/plugins/unescaped-markup/prism-unescaped-markup.css";
@import "./_prism.css";

@import "xtendui/dist/xtend-demos.css";

@import "./_common.css";
@import "./_header.css";
@import "./_home.css";
@import "./_article.css";
@import "./_demo.css";

@import "tailwindcss/utilities";
