/**
 * import
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "./_shared.css";
@import "./_header.css";
@import "./_footer.css";
@import "./_main.css";
@import "./_demo.css";

@import "tailwindcss/utilities";

/*
body {
  &:after {
     content: theme('gradients.accent');
   }
  @screen md {
    &:after {
      content: 'xxxx';
    }
  }
}
*/

.drop-disable {
  display: inline-block;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  > .drop-inner {
    z-index: initial;
    > .drop-design {
      display: none;
    }
  }
  > .drop-inner {
    > .drop-content {
      > .list-drop {
        padding: 0;
        width: auto;
        max-width: none;
        align-items: initial;
      }
      > .card-drop {
        width: auto;
        max-width: none;
      }
    }
  }
  /* disable custom animation */
  > .drop-inner {
    > .drop-content {
      opacity: 1 !important;
    }
  }
}
