/**
 * import
 */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import "prismjs/plugins/unescaped-markup/prism-unescaped-markup.css";
@import "prism-themes/themes/prism-base16-ateliersulphurpool.light.css";
@import "xtend-library/src/xtend-demos.css";
@import "./_shared.css";
@import "./_header.css";
@import "./_footer.css";
@import "./_main.css";
@import "./_demo.css";

@import "tailwindcss/utilities";

.card-disable {
  .card-block {
    padding: 0 !important;
  }
  > .btn-close {
    display: none;
  }
}

/**
 * scrollbar
 */

 .overflow-main {
  -webkit-overflow-scrolling: touch;
  /* webkit */
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: theme('colors.accent.200');
    @media (hover: none) {
      display: none;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: theme('colors.accent.700');
  }
  /* firefox */
  scrollbar-color: theme('colors.accent.700') transparent;
}

.overflow-sub {
  -webkit-overflow-scrolling: touch;
  /* webkit */
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: theme('colors.accent.700');
  }
  /* firefox */
  scrollbar-width: thin;
  scrollbar-color: theme('colors.accent.700') transparent;
}

body {
  @apply overflow-main;
}
