.demo--toggle-jump {
  .animation-none() !important; // disable default animation
  // animation
  opacity: .5 !important;
  transition-property: opacity;
  transition-duration: @time-medium;
  transition-timing-function: @ease-out;
  &.active {
    opacity: 1 !important;
    transition-property: opacity;
    transition-duration: @time-medium;
    transition-timing-function: @ease-in;
  }
}
