/**
 * box-overlay
 */

.box-overlay {
  // default options
  .box-overlay--medium();
}

// variant

.box-overlay--default {
  color: @text;
  > .box-design {
    border-color: @white;
    background: @white;
    box-shadow: @shadow-light;
  }
  .btn-close {
    .btn--text();
  }
  .box-item + .box-item {
    &:before {
      background: fade(@gray-800, 10%);
    }
  }
  a&, button& {
    &:hover, &.hover, &:active, &.active {
      color: @text--dark;
      > .box-design {
        border-color: @gray-200;
        background: @gray-200;
      }
    }
    &:active, &.active {
      > .box-design {
        box-shadow: @shadow-light;
      }
    }
  }
}

.box-overlay--primary {
  .text-inverse();
  > .box-design {
    border-color: @gray-800;
    background: @gray-800;
  }
  .box-item + .box-item {
    &:before {
      background: fade(@gray-200, 10%);
    }
  }
  a&, button& {
    &:hover, &.hover, &:active, &.active {
      color: @text-inverse--dark;
      > .box-design {
        border-color: @gray-800;
        background: @gray-800;
      }
    }
    &:active, &.active {
      > .box-design {
        box-shadow: @shadow-primary;
      }
    }
  }
}

// size

.box-overlay--small {
  .font--small();
  .box-block {
    padding: 2rem 2.5rem;
  }
  .box-title {
    .spacing-medium();
    font-size: 3rem;
  }
}

.box-overlay--medium {
  .font--medium();
  .box-block {
    padding: 3rem 3.5rem;
  }
  .box-title {
    .spacing-medium();
    font-size: 4rem;
  }
}

.box-overlay--big {
  .font--big();
  .box-block {
    padding: 4rem 4.5rem;
  }
  .box-title {
    .spacing-medium();
    font-size: 5rem;
  }
}
