/**
 * box
 */

.box {
  border-radius: .5em;
  > .box-design {
    border-width: 0;
    border-style: solid;
    border-color: transparent;
  }
  .box-title {
    .font-sans--semibold();
    line-height: 1.2;
    letter-spacing: 0;
    text-transform: none;
  }
  .box-item + .box-item {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
    }
  }
}

// special

.box--nodesign {
  .box-design {
    display: none;
  }
}

.box--squared {
  border-radius: 0;
}

.box--noborder {
  .box-design {
    border: 0;
  }
}

// addons

.box--overflow-y {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 30rem;
  .overflow-style(@mode: inner);
}

.box--disable {
  color: @text !important;
  &, .box-item {
    opacity: 1 !important;
    .transform-none() !important;
    .trans-anim-none() !important;
  }
}

// animation

.box {
  a&, button& {
    transition-property: all;
    transition-duration: @time-big;
    transition-timing-function: @bez-out;
    .box-design {
      transition-property: all;
      transition-duration: @time-big;
      transition-timing-function: @bez-out;
    }
    .box-block.box-item {
      transition-property: transform;
      transition-duration: @time-big;
      transition-timing-function: @bez-out;
    }
    &:hover, &.hover, &:active, &.active {
      transform: translateY(-.5rem) scale(1.03, 1.05);
      transition-property: all;
      transition-duration: @time-big;
      transition-timing-function: @bez-in;
      .box-design {
        transition-property: all;
        transition-duration: @time-big;
        transition-timing-function: @bez-in;
      }
      .box-block.box-item {
        transform: scale(0.97, 0.95);
        transition-property: transform;
        transition-duration: @time-big;
        transition-timing-function: @bez-in;
      }
    }
  }
}
