@import 'xtend-library/src/core/card/_card.less';

/**
 * vars
 */

// generate class: [false], [true] non responsive only, [sm, md, lg] responsive @breakpoints

@generate-card-group: sm, md, lg;
@generate-box-horizontal: sm, md, lg;

/**
 * card
 */

.card {
  border-radius: 6px;
  > .card-design {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
  }
  // default options
  .card-medium();
}

// custom blocks

.card-block-intro {
  background: fade(@black, 10%);
}

.card-block-side {
  background: fade(@black, 10%);
}

// preset

.card-drop {
  // default options
  width: 100vw; // fill size max-width
}

.card-overlay {
  // default options
  > .btn-close {
    .btn-big();
    .btn-icon();
    top: 2rem;
    right: 2rem;
  }
}

.card-slide {
  // default options
  color: @text;
  > .card-design {
    border-color: @shade-200;
    background: @shade-200;
  }
  > .card-inner > .card-content {
    text-align: center;
  }
}

// variant

.card-default {
  .text-default();
  > .card-design {
    border-color: @white;
    background: @white;
  }
}

.card-primary {
  .text-inverse();
  > .card-design {
    border-color: @accent;
    background: @accent;
  }
}

// size

.card-small {
  .card-block {
    .font-small();
    .line-height-medium();
    padding: 2em 2.5em;
    .card-title {
      .h4();
      .spacing-small();
    }
  }
}

.card-medium {
  .card-block {
    .font-medium();
    .line-height-medium();
    padding: 2em 2.5em;
    .card-title {
      .h3();
      .spacing-medium();
    }
  }
}

.card-large {
  .card-block {
    .font-big();
    .line-height-medium();
    padding: 2em 2.5em;
    .card-title {
      .h2();
      .spacing-medium();
    }
  }
}

// special

.card-nodesign {
  > .card-design {
    display: none;
  }
}

.card-squared {
  border-radius: 0;
}

.card-noborder {
  > .card-design {
    border: 0;
  }
}

// special

.card-overflow-y {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 30rem;
  .overflow-style(@mode: inner);
}

.card-disable {
  color: @text !important;
  &, .card-item {
    opacity: 1 !important;
    .transform-none() !important;
    .trans-anim-none() !important;
  }
}
