/**
 * card
 */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: @index--base; // fix :before negative z-index
  a&, button& {
    cursor: pointer;
  }
}

.card-design {
  .design-setup();
  border-radius: inherit;
}

.card-addon, .card-content {
  .block();
  position: relative;
}
