/**
 * card
 */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: @index--base; // fix :before negative z-index
  a&, button& {
    cursor: pointer;
  }
  > * {
  }
}

.card-design {
  .design-setup();
  border-radius: inherit;
}

.card-content, .card-item, .card-img {
  .block();
  position: relative;
}

.card-img {
  .block();
  .flex-full();
  > img {
    width: 100%;
    height: auto;
  }
}
