/**
 * card
 */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: @index--base; // fix :before negative z-index
  a&, button& {
    cursor: pointer;
  }
  .card-img {
    .flex--auto();
    > img {
      width: 100%;
      height: auto;
    }
  }
}

.card-design {
  .design-setup();
  border-radius: inherit;
}

.card-item, .card-content {
  .block();
  position: relative;
}
