/**
 * card-slide
 */

.card-slide {
  .card-design {
    border-width: 0;
    border-style: solid;
    border-color: red !important;
  }
  // default options
  .card-slide--medium();
}

// variant

.card-slide--default {
  color: @text;
  .card-design {
    border-color: @gray-200;
    background: @gray-200;
  }
  .card-item + .card-item {
    &:before {
      background: fade(@gray-800, 10%);
    }
  }
  a&, button& {
    &:hover, &.hover, &:active, &.active {
      color: @text--dark;
      .card-design {
        border-color: @gray-200--dark;
        background: @gray-200--dark;
      }
    }
    &:active, &.active {
      .card-design {
        box-shadow: @shadow-light;
      }
    }
  }
}

// size

.card-slide--medium {
  .font--medium();
  .card-block {
    padding: 3rem 3.5rem;
  }
  .card-title {
    .spacing-medium();
    font-size: 4rem;
  }
}
