/**
 * vars
 */

// generate class: [false], [true] non responsive only, [sm, md, lg] responsive @breakpoints

@generate-card-group: sm, md, lg;
@generate-box-horizontal: sm, md, lg;

/**
 * card
 */

.card {
  border-radius: .5em;
  > .card-design {
    border-width: 0;
    border-style: solid;
    border-color: transparent;
  }
  .card-title {
    .spacing-small();
    .font-sans--semibold();
    line-height: 1.2;
    letter-spacing: 0;
    text-transform: none;
  }
  .card-contents({
    > .card-item {
      & + .card-item {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 1px;
        }
      }
    }
  });
  // default options
  .card--medium();
}

// preset

.card--overlay {
  // default options
  .card--big();
  .card--white();
}

.card--slide {
  // default options
  .card--big();
  .card--default();
}

.card--drop {
  width: 40rem;
  // default options
  .card--small();
  .card--white();
}

// variant

.card--default {
  color: @text;
  > .card-design {
    border-color: @gray-200;
    background: @gray-200;
  }
  .card-contents({
    > .card-item {
      .card-item--default();
    }
  });
  // preset
  .card--overlay& {
    > .card-design {
      box-shadow: @shadow-light;
    }
  }
  // interactive
  a&, button& {
    &:hover, &.hover, &:active, &.active {
      color: @text--dark;
      > .card-design {
        border-color: @gray-200--dark;
        background: @gray-200--dark;
      }
    }
    &:active, &.active {
      > .card-design {
        box-shadow: @shadow-light;
      }
    }
  }
}

.card-item--default {
  & + .card-item {
    &:before {
      background: fade(@gray-800, 10%);
    }
  }
}

.card--primary {
  .text-inverse();
  > .card-design {
    border-color: @accent;
    background: @accent;
  }
  .card-contents({
    > .card-item {
      .card-item--primary();
    }
  });
  // preset
  .card--overlay& {
    > .card-design {
      box-shadow: @shadow-primary;
    }
  }
  // interactive
  a&, button& {
    &:hover, &.hover, &:active, &.active {
      color: @text-inverse--dark;
      > .card-design {
        border-color: @accent--dark;
        background: @accent--dark;
      }
    }
    &:active, &.active {
      > .card-design {
        box-shadow: @shadow-primary;
      }
    }
  }
}

.card-item--primary {
  & + .card-item {
    &:before {
      background: fade(@gray-200, 10%);
    }
  }
}

.card--white {
  color: @text;
  > .card-design {
    border-color: @white;
    background: @white;
  }
  .card-contents({
    > .card-item {
      .card-item--white();
    }
  });
  // preset
  .card--overlay& {
    > .card-design {
      box-shadow: @shadow-light;
    }
  }
  // interactive
  a&, button& {
    &:hover, &.hover, &:active, &.active {
      color: @text--dark;
      > .card-design {
        border-color: @white;
        background: @white;
      }
    }
    &:active, &.active {
      > .card-design {
        box-shadow: @shadow-light;
      }
    }
  }
}

.card-item--white {
  & + .card-item {
    &:before {
      background: fade(@gray-800, 10%);
    }
  }
}

// size

.card-block.card-block--small {
  .font--small();
  padding: 1.5rem 2rem;
  .card-title {
    font-size: 1.7rem;
  }
}

.card--small {
  .card-block {
    .card-block.card-block--small();
  }
}

.card-block.card-block--medium {
  .font--medium();
  padding: 2rem 2.5rem;
  .card-title {
    font-size: 2rem;
  }
}

.card--medium {
  .card-block {
    .card-block.card-block--medium();
  }
}

.card-block.card-block--big {
  .font--big();
  padding: 3rem 3.5rem;
  .card-title {
    font-size: 3rem;
  }
}

.card--big {
  .card-block {
    .card-block.card-block--big();
  }
}

// special

.card--nodesign {
  > .card-design {
    display: none;
  }
}

.card--squared {
  border-radius: 0;
}

.card--noborder {
  > .card-design {
    border: 0;
  }
}

// addons

.card-group {
  > .card-item {
    & + .card-item {
      &:before {
        left: 0;
        bottom: 0;
        right: auto;
        width: 1px;
        height: auto;
      }
    }
  }
}

.card--horizontal {
  .card-contents({
    > .card-item {
      & + .card-item {
        &:before {
          left: 0;
          bottom: 0;
          right: auto;
          width: 1px;
          height: auto;
        }
      }
    }
  });
}

.card--overflow-y {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 30rem;
  .overflow-style(@mode: inner);
}

.card--disable {
  color: @text !important;
  &, .card-item {
    opacity: 1 !important;
    .transform-none() !important;
    .trans-anim-none() !important;
  }
}

// animation

.card {
  a&, button& {
    transition-property: all;
    transition-duration: @time-medium;
    transition-timing-function: @bez-out;
    > .card-design {
      transition-property: all;
      transition-duration: @time-medium;
      transition-timing-function: @bez-out;
    }
    .card-block.card-item {
      transition-property: transform;
      transition-duration: @time-medium;
      transition-timing-function: @bez-out;
    }
    &:hover, &.hover, &:active, &.active {
      transform: translateY(-.5rem) scale(1.03, 1.05);
      transition-property: all;
      transition-duration: @time-medium;
      transition-timing-function: @bez-in;
      > .card-design {
        transition-property: all;
        transition-duration: @time-medium;
        transition-timing-function: @bez-in;
      }
      .card-block.card-item {
        transform: scale(0.97, 0.95);
        transition-property: transform;
        transition-duration: @time-medium;
        transition-timing-function: @bez-in;
      }
    }
  }
}
