/**
 * card-drop
 */

.card-drop {
  // default options
  .card-drop--medium();
}

// variant

.card-drop--default {
  color: @text;
  > .card-design {
    border-color: @gray-200;
    background: @gray-200;
  }
  .card-item + .card-item {
    &:before {
      background: fade(@gray-800, 10%);
    }
  }
  a&, button& {
    &:hover, &.hover, &:active, &.active {
      color: @text--dark;
      > .card-design {
        border-color: @gray-200--dark;
        background: @gray-200--dark;
      }
    }
    &:active, &.active {
      > .card-design {
        box-shadow: @shadow-light;
      }
    }
  }
}

.card-drop--primary {
  .text-inverse();
  > .card-design {
    border-color: @accent;
    background: @accent;
  }
  .card-item + .card-item {
    &:before {
      background: fade(@gray-200, 10%);
    }
  }
  a&, button& {
    &:hover, &.hover, &:active, &.active {
      color: @text-inverse--dark;
      > .card-design {
        border-color: @accent--dark;
        background: @accent--dark;
      }
    }
    &:active, &.active {
      > .card-design {
        box-shadow: @shadow-primary;
      }
    }
  }
}

// size

.card-drop--small {
  width: 30rem;
  .font--small();
  .card-block {
    padding: 1.5rem 2rem;
  }
  .card-title {
    font-size: 1.7rem;
  }
}

.card-drop--medium {
  width: 40rem;
  .font--medium();
  .card-block {
    padding: 2rem 2.5rem;
  }
  .card-title {
    font-size: 2rem;
  }
}

.card-drop--big {
  width: 50rem;
  .font--big();
  .card-block {
    padding: 3rem 3.5rem;
  }
  .card-title {
    font-size: 3rem;
  }
}
