@import '~xtend-library/src/core/card/orizontal-setup.less';

/**
 * vars
 */

// generate class: [false], [true] non responsive only, [sm, md, lg] responsive @breakpoints

@generate-card-horizontal: sm, md, lg;

/**
 * card--horizontal
 */

.card--horizontal {
  .card-item + .card-item {
    &:before {
      left: 0;
      bottom: 0;
      right: auto;
      width: 1px;
      height: auto;
    }
  }
}
