//////////////////////
// slider
//////////////////////

.slide {
  .user-select--none();
  position: relative;
  overflow: hidden;
  > .slide_inner {
    position: relative;
  }
  // prevent image dragging
  img {
    pointer-events: none;
  }
}
