//////////////////////
// slider
//////////////////////

// slider

.slider {
  position: relative;
}

.slides {
  overflow: hidden;
}

// slides

.slide {
  position: relative;
}

.slide_inner {
  position: relative;
}

// .slider--disabled

.slider--disabled {
  .xt-disable();
  .slide:not(.active) {
    .duration-none();
    opacity: 0;
  }
  .slider_pagination,
  [data-xt-nav],
  .loader, .filler, .spinner {
    display: none !important;
  }
}

// .slider--expand

.slider--expand {
  .slider--disabled();
  .slides {
    overflow: visible;
    height: auto !important;
  }
  .slides_inner {
    .transform-none() !important;
    .flex-wrap(wrap);
  }
  .slide:not(.active) {
    opacity: 1;
  }
}
