//////////////////////
// slider
//////////////////////

.slider {
  position: relative;
  cursor: grab;
  // @TODO
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.slide {
  .user-select--none();
  position: relative;
  min-height: 100%;
  overflow: hidden;
  // prevent image dragging
  img {
    -webkit-user-drag: none;
    pointer-events: none;
  }
}

.slide_inner {
  position: relative;
}

.slider--disable {
  cursor: default;
  pointer-events: none;
}
