//////////////////////
// sticky
//////////////////////

/**
 * .xt-sticky()
 * @param {String} @mode Starting mode be 'absolute' or 'fixed'
 */
.xt-sticky(@mode: none) {
  // defaults
  &.xt_clone {
    position: relative;
    visibility: hidden;
    top: 0;
  }
  &:not(.xt_clone) {
    position: relative;
    z-index: @index--sticky;
    width: 100%;
  }
  // normal mode
  & when (@mode = none) {
    &.xt_clone:not(.active) {
      position: absolute;
    }
    .xt_container > &:not(.xt_clone):not(.active) {
      position: relative;
    }
  }
  // absolute mode
  & when (@mode = 'absolute') {
    &.xt_clone:not(.active) {
      position: relative;
    }
    .xt_container > &:not(.xt_clone):not(.active) {
      position: absolute;
    }
  }
  // fixed mode
  & when (@mode = 'fixed') {
    &.xt_clone:not(.active) {
      position: relative;
    }
    .xt_container > &:not(.xt_clone):not(.active) {
      position: fixed;
    }
  }
  // showhide
  .show-sticky {
    display: none;
  }
  .hide-sticky {
    display: block;
  }
  &:not(.xt_clone).active {
    .show-sticky {
      display: block;
    }
    .hide-sticky {
      display: none;
    }
  }
  // activation
  &:not(.xt_clone).active {
    position: fixed;
    z-index: @index--sticky;
    width: 100%;
  }
}

.xt-sticky-disable {
  position: relative !important;
  top: auto !important;
  bottom: auto !important;
  &.xt_clone {
    position: absolute !important;
  }
  &:not(.xt_clone) {
    position: relative !important;
  }
}