/**
 * xtend extension: overlay-close-outside
 */

.overlay-close-outside {
  .btn-close {
    .btn--primary() !important;
    .btn--squared() !important;
    left: 100% !important;
  }
  &.overlay-position--right {
    .btn-close {
      left: auto !important;
      right: 100% !important;
    }
  }
}
