/**
 * xtend extension: overlay-message-outside
 */

.overlay-message-outside {
  position: fixed;
  z-index: @index--overlay !important;
  top: 50%;
  width: calc(100vw - 510px);
  text-align: center;
  @media @max-sm {
    display: none;
  }
  .overlay-position--left & {
    right: 0;
  }
  .overlay-position--right & {
    left: 0;
  }
  // animation
  .overlay-position--left.active & {
    .anim-x-inverse.active();
  }
  .overlay-position--left.out & {
    .anim-x.out();
  }
  .overlay-position--right.active & {
    .anim-x.active();
  }
  .overlay-position--right.out & {
    .anim-x-inverse.out();
  }
}
