/**
 * xtend extension: overlay-position
 */

.overlay-position {
  .overlay {
    position: relative;
    z-index: @index--overlay;
    .padding(all, none) !important;
    .overlay_inner {
      position: static;
    }
  }
  .overlay_inner {
    .flex--auto();
    display: flex;
    flex-direction: column;
  }
  .overlay-position--left& {
    .overlay {
      margin-left: 0;
      margin-right: auto;
    }
  }
  .overlay-position--right& {
    .overlay {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
