@import '~xtend-library/src/extension/overlay/position-setup.less';

/**
 * overlay-position
 */

.overlay-position {
  .overlay-container {
    .overlay-position--left& {
      width: 88% !important;
      max-width: 500px !important;
    }
    .overlay-position--right& {
      width: 88% !important;
      max-width: 500px !important;
    }
  }
  .box-overlay {
    .box--squared();
    .box--noborder();
  }
}

// animation

.overlay-position {
  animation-duration: @time-medium + @time-small; // needed for .out animation timing, put max animation time
  &.active {
    &.overlay-position--left {
      .box-overlay > .box-design {
        .anim-x.active();
      }
      .box-overlay > .box-inner > * {
        .anim-x.active();
        animation-delay: @time-small;
      }
    }
    &.overlay-position--right {
      .box-overlay > .box-design {
        .anim-x-inverse.active();
      }
      .box-overlay > .box-inner > * {
        .anim-x-inverse.active();
        animation-delay: @time-small;
      }
    }
  }
  &.out {
    &.overlay-position--left {
      .box-overlay > .box-design {
        .anim-x-inverse.out();
        animation-delay: @time-small;
      }
      .box-overlay > .box-inner > * {
        .anim-x-inverse.out();
      }
    }
    &.overlay-position--right {
      .box-overlay > .box-design {
        .anim-x.out();
        animation-delay: @time-small;
      }
      .box-overlay > .box-inner > * {
        .anim-x.out();
      }
    }
  }
}
