/**
 * xtend extension: overlay-position
 */

.overlay-position {
  .overlay-container {
    position: relative;
    z-index: @index--overlay;
    .padding(all, none) !important;
    .overlay-inner {
      position: static;
    }
  }
  .overlay-inner {
    .flex-auto();
    display: flex;
    flex-direction: column;
  }
  .overlay-position--left& {
    .overlay-container {
      margin-left: 0;
      margin-right: auto;
    }
  }
  .overlay-position--right& {
    .overlay-container {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
