/**
 * tables
 */

// .table

.table {
  border-collapse: collapse;
  width: 100%;
  th {
    text-align: left;
    vertical-align: bottom;
  }
  td {
    text-align: left;
  }
}

// .table--middle

.table--middle {
  th, td {
    vertical-align: middle;
  }
}

// .table--center

.table--center {
  th, td {
    text-align: center;
  }
}

// .table--right

.table--right {
  th:not(:nth-child(1)), td:not(:nth-child(1)) {
    text-align: right;
  }
}

// .table--scroll

.table--scroll {
  .block();
  overflow-x: auto;
  .overflow-style(@mode: inner);
}

/**
 * @generate-table-scroll
 */

// generate

& when not (@generate-class--table-scroll = false) {

  // generate-table-scroll-responsive

  .generate-card--horizontal-responsive();
  .generate-card--horizontal-responsive(@i: length(@generate-class--table-scroll)) when (@i > 0) {
    .generate-card--horizontal-responsive(@i - 1);
    @breakpoint: extract(@generate-class--table-scroll, @i);
    & when not (@breakpoint = none) {
      @query-max: 'max-@{breakpoint}';
      @media @@query-max {
        .table--scroll--@{breakpoint} {
          .table--scroll() !important;
        }
      }
    }
  }
}
