/**
 * tables
 */

.table, .table--scroll {
  .margin(bottom, layout) !important;
  .margin(bottom, medium);
}

// .table

.table {
  tr {
    border-bottom: @table-border--width solid @gray-200;
  }
  th {
    .padding(all, small);
    .font-sans--semibold();
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: .025em;
    text-transform: uppercase;
  }
  td {
    .padding(all, small);
    font-size: 1.3rem;
    line-height: 1.4;
  }
  // tfoot
  tfoot {
    .padding(y, big) !important;
    background: @gray-200;
    th {
      .reset-text();
    }
    tr {
      border: 0;
      th, td {
        .padding(y, tiny) !important;
        .padding(x, medium) !important;
        text-align: right;
        vertical-align: top;
      }
      &:first-child {
        th, td {
          .padding(top, medium) !important;
        }
      }
      &:last-child {
        th, td {
          .padding(bottom, medium) !important;
        }
      }
    }
  }
}

// .table--narrow

.table--narrow {
  th, td {
    .padding(x, layout);
    background: transparent;
  }
}

// .table--small

.table--small {
  th {
    .padding(all, small);
  }
  td {
    .padding(all, small);
    font-size: 1.2rem;
  }
}

// .table--stripe

.table--stripe {
  tbody tr:nth-of-type(odd) {
    background: @gray-200;
  }
  tbody tr:nth-of-type(even) {
    background: transparent;
  }
}

// .table--border

.table--border {
  border: @table-border--width solid @gray-200;
  th, td {
    border: @table-border--width solid @gray-200;
  }
}

// .table--responsive

.table--responsive {
  @media @max-sm {
    border-top: @table-border--width solid @gray-200;
    thead, th {
      display: none;
    }
    tr {
      .block();
      .padding(y, medium);
    }
    td {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      .padding(x, medium);
      .padding(y, small);
      text-align: center;
      .list {
        justify-content: center;
      }
    }
    // data-th
    td:before {
      .form-label();
      content: attr(data-th);
      width: 100%;
      justify-content: center;
      text-align: center;
    }
  }
}
