/**
 * btn
 */

.btn {
  .user-select-none();
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0;
  z-index: @index-base; // fix :before negative z-index
  line-height: 0;
  &:hover, &.hover, &:active, &.active {
    z-index: @index-active;
  }
  &.out {
    z-index: @index-active - 1;
  }
}

// custom

.btn-close {
  z-index: @index-btn-close;
  & + * {
    margin-top: 0 !important;
  }
}
