/**
 * btn
 */

.btn {
  .user-select--none();
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  padding: 0;
  z-index: @index--base; // fix :before negative z-index
  line-height: 0;
  &:hover, &.hover, &:active, &.active {
    z-index: @index--active;
  }
  &.out {
    z-index: @index--active - 1;
  }
}

// custom

div.btn {
  // non interactive when div
  cursor: default;
  pointer-events: none;
}

.btn--close {
  z-index: @index--btn-close;
}
