@import '~xtend-library/src/core/button/button-core.less';

//////////////////////
// variables
//////////////////////

@btn--design: ~':before'; // selector for design

//////////////////////
// button
//////////////////////

.btn {
  // styles
  border-radius: 4px;
  > span {
    border-radius: inherit;
    .font-sans--semibold();
    line-height: 1.2;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  &@{btn--design} {
    .design-setup();
    border-radius: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
  }
  // option
  .btn--center();
  .btn--secondary();
  .btn--medium();
}

// animation

.btn {
  // transition
  animation-duration: @time--small; // needed for .out animation timing, put max animation time
  > span, &@{btn--design} {
    transition-property: all;
    transition-duration: @time--small;
    transition-timing-function: @bez--out;
  }
  &:hover, &.hover, &:active, &.active {
    > span, &@{btn--design} {
      transition-property: all;
      transition-duration: @time--small;
      transition-timing-function: @bez--in;
    }
  }
}

// variant

.btn--primary {
  .link--none();
  > span {
    color: @text--inverse;
  }
  &@{btn--design} {
    border-color: @primary;
    background: @primary;
  }
  &:hover, &.hover, &:active, &.active {
    > span {
      color: @text--inverse--dark;
    }
    &@{btn--design} {
      border-color: @primary--dark;
      background: @primary--dark;
    }
  }
  // effect
  &:active, &.active {
    &@{btn--design} {
      box-shadow: @shadow--primary;
    }
  }
}

.btn--secondary {
  .link--none();
  > span {
    color: @text;
  }
  &@{btn--design} {
    border-color: @secondary;
    background: @secondary;
  }
  &:hover, &.hover, &:active, &.active {
    > span {
      color: @text--dark;
    }
    &@{btn--design} {
      border-color: @secondary--dark;
      background: @secondary--dark;
    }
  }
  // effect
  &:active, &.active {
    &@{btn--design} {
      box-shadow: @shadow--secondary;
    }
  }
}

.btn--text {
  .link--none();
  .btn--noeffect();
  > span {
    color: inherit;
  }
  &@{btn--design} {
    border-color: transparent;
    background: transparent;
  }
  &:hover, &.hover, &:active, &.active {
    > span {
      color: inherit;
      opacity: .75;
    }
    &@{btn--design} {
      border-color: transparent;
      background: transparent;
    }
  }
}

.btn--link {
  .btn--nodesign();
  .btn--noeffect();
  // reset
  > span {
    font-family: inherit !important;
    font-style: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
    letter-spacing: inherit !important;
    text-transform: inherit !important;
    text-decoration: inherit !important;
  }
}

// size

.btn--tiny {
  > span {
    padding: .5em 1em;
    font-size: 10px;
  }
}

.btn--small {
  > span {
    padding: .6em 1.2em;
    font-size: 1.2rem;
  }
}

.btn--medium {
  > span {
    padding: .6em 1.2em;
    font-size: 1.335rem; // @FIX odd rem with .035 added
  }
}

.btn--big {
  > span {
    padding: .6em 1.2em;
    font-size: 1.4rem;
  }
}

.btn--giant {
  > span {
    padding: .6em 1.2em;
    font-size: 1.535rem; // @FIX odd rem with .035 added
  }
}

.btn--huge {
  > span {
    padding: .6em 1.2em;
    font-size: 1.6rem;
  }
}

// special

.btn--nodesign {
  &@{btn--design} {
    display: none;
  }
}

.btn--noeffect {
  &:active, &.active {
    &@{btn--design} {
      box-shadow: none;
    }
  }
}

.btn--squared {
  border-radius: 0;
}

.btn--noborder {
  &@{btn--design} {
    border: 0;
  }
}

.btn--tall {
  > span {
    padding-top: .9em;
    padding-bottom: .9em;
  }
}

.btn--short {
  > span {
    padding-top: .3em;
    padding-bottom: .3em;
  }
}

.btn--wide {
  > span {
    padding-left: 1.8em;
    padding-right: 1.8em;
  }
}

.btn--narrow {
  > span {
    padding-left: .6em;
    padding-right: .6em;
  }
}

.btn--none {
  .btn--noeffect();
  .btn--squared();
  > span {
    padding: 0;
  }
  &@{btn--design} {
    border: 0 !important;
    background: transparent !important;
  }
}

.btn--none-x {
  .btn--noeffect();
  .btn--squared();
  > span {
    padding-left: 0;
    padding-right: 0;
  }
  &@{btn--design} {
    border-left: 0 !important;
    border-right: 0 !important;
    background: transparent !important;
  }
}

.btn--none-y {
  .btn--noeffect();
  .btn--squared();
  > span {
    padding-top: 0;
    padding-bottom: 0;
  }
  &@{btn--design} {
    border-top: 0 !important;
    border-bottom: 0 !important;
    background: transparent !important;
  }
}

.btn--icon {
  > span {
    padding: .8em .8em;
    line-height: 1;
  }
}

.btn--transform {
  > span {
    letter-spacing: 0;
    text-transform: none;
  }
}

// custom

.btn--close {
  .btn--text(); // variant
  .btn--icon() !important; // special
  > span {
    .icon-xt(@content: @icon-xt--close, @size: @icon--medium);
  }
}
