#iframe--infinite-scroll {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    /* .infinite-scroll-spinner */

    .infinite-scroll-spinner {
      @apply transition opacity-0;
      .spinner {
        @apply transition-all opacity-0 scale-75;
      }
    }

    .infinite-scroll-loading {
      .infinite-scroll-spinner {
        @apply opacity-100;
        .spinner {
          @apply opacity-100 scale-100;
        }
      }
    }

    /* .infinite-scroll-trigger .btn */

    .infinite-scroll-trigger .btn {
      .infinite-scroll-trigger-content-nomore {
        display: none;
      }
      .infinite-scroll-trigger-content {
        @apply transition;
      }
    }

    .infinite-scroll-loading {
      .infinite-scroll-trigger .btn {
        pointer-events: none;
        > .infinite-scroll-trigger-content {
          @apply opacity-0;
        }
      }
    }

    /* .infinite-scroll-nomore */

    .infinite-scroll-nomore {
      .infinite-scroll-trigger .btn {
        pointer-events: none;
        .infinite-scroll-trigger-content {
          display: none;
        }
        .infinite-scroll-trigger-content-nomore {
          display: block;
        }
      }
    }

    /* .infinite-scroll-pre */

    .infinite-scroll-pre {
      display: none;
    }

    .infinite-scroll-reset {
      .infinite-scroll-pre {
        display: block;
      }
    }

  }
  /*##END*/
}
