.demo--tooltip-animation-css-multiple {
  @apply duration-500; /* needed for animation time, put max time with delay */
  .tooltip {
    /* initial */
    @apply transform transition duration-300;
    @apply opacity-0 -translate-x-4;
    .inverse& {
      @apply translate-x-4;
    }
    /* active */
    &.active {
      @apply opacity-100 translate-x-0;
    }
    /* out */
    &.out {
      @apply opacity-0 translate-x-4;
      .inverse& {
        @apply -translate-x-4;
      }
    }
  }
}
