@import '~xtend-library/src/core/javascript/javascript.less';
@import '~xtend-library/src/extensions/sticky/_sticky.less';

/**
 * sticky
 */

.sticky-moving {
  transition-property: top;
  transition-duration: @time-medium;
  transition-timing-function: @ease-out;
}
