@import '~xtend-library/src/core/javascript/javascript.less';
@import '~xtend-library/src/extensions/sticky/_sticky.less';

/**
 * sticky
 */

.sticky-moving {
  transition: all @time-small @ease-off;
  &.inverse {
    transition: all @time-small @ease-on;
  }
}

.sticky-hide {
  opacity: 0;
}
