@import '~xtend-library/src/core/javascript/javascript.less';
@import '~xtend-library/src/extensions/sticky/_sticky.less';

/**
 * sticky
 */

.sticky-moving {
  transition: all @time-medium @ease-out;
  &.inverse {
    transition: all @time-medium @ease-in;
  }
}

.sticky-hide {
  opacity: 0;
}
