.demo--slider-progress {
  > .loader {
    /* touch */
    @media (hover: none) {
      transform: none !important;
      position: absolute;
      overflow: visible;
      top: auto;
      right: auto;
      left: 0;
      bottom: 12px;
      margin: 0;
    }
    /* mouse */
    @media (hover: hover) {
      @apply loader-mouse mouse-follow;
      /* animation */
      opacity: 0;
      transition-property: theme('transitionProperty.opacity');
      transition-duration: theme('transitionDuration.500');
      transition-timing-function: theme('transitionTimingFunction.out');
      .spinner {
        opacity: 0;
        transform: scale(.75);
        transition-property: theme('transitionProperty.all');
        transition-duration: theme('transitionDuration.500');
        transition-timing-function: theme('transitionTimingFunction.out');
      }
      &.in {
        opacity: 1;
        transition-timing-function: theme('transitionTimingFunction.in');
        .spinner {
          opacity: 1;
          transform: scale(1);
          transition-timing-function: theme('transitionTimingFunction.in');
        }
      }
      &.out {
        opacity: 0;
        transition-timing-function: theme('transitionTimingFunction.in');
        .spinner {
          opacity: 0;
          transform: scale(.75);
          transition-timing-function: theme('transitionTimingFunction.out');
        }
      }
    }
  }
}
