.demo--slider-progress {
  .loader-mouse {
    .mouse-follow();
    // touch
    @media (hover: none) {
      position: absolute !important;
      top: auto !important;
      left: 0 !important;
      bottom: 0 !important;
      margin: 0 !important;
      .transform-none() !important;
      .spinner, .filler {
        margin: 0 !important;
      }
    }
  }
}
