/* docs icons */

.docs_demo_tabs, .docs_demo_code_tabs {
  .xt-button:not(.xt-dismiss) {
    .xt-icon {
      font-size: 14px;
    }
  }
}

/* .docs_make-line */

.docs_make-line {
  position: relative;
  z-index: 1;
  .docs_make-line_container {
    display: block;
    position: relative;
    width: 100%;
    .docs_make-line_line {
      display: inline-block;
      padding-right: 15px;
      background: var(--color-white);
    }
    .docs_make-line_line:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: .5em;
      left: 0;
      width: 100%;
      height: 2px;
      background: theme('colors.primary.200');
    }
  }
  .docs_make-line_container {
    .docs_make-line_line:after {
      left: 100%;
      width: 0;
      opacity: 0;
      @apply transition-all;
    }
  }
  &:hover {
    .docs_make-line_container {
      .docs_make-line_line:after {
        left: 0;
        width: 100%;
        opacity: 1;
      }
    }
  }
}

/* .docs_make-anchor */

.docs_make-anchor {
  position: relative;
  width: 100%;
  a:not([class]), a[class=""] {
    display: block;
    color: inherit !important;
  }
  .docs_site-article_anchor {
    pointer-events: none;
  }
  .docs_site-article_anchor {
    opacity: 0;
    @apply transition-all delay-100;
  }
  &:hover {
    .docs_site-article_anchor {
      opacity: 1;
    }
  }
}

.docs_site-article_anchor {
  position: absolute;
  z-index: 2;
  bottom: -4px;
  right: 12px;
  h2 & {
    bottom: -1px;
  }
  .xt-button {
    padding: 7px;
    font-size: 1.25rem;
    border-radius: 50%;
    border-color: var(--color-white) !important;
    background: var(--color-white) !important;
    color: theme('colors.primary.500');
    line-height: 1;
  }
}
