/* header */

.docs_home-header_content {
  .scrolling-hide & {
    @apply relative pt-9 pb-5;
    .docs_site-header_logo {
      @apply opacity-0 pointer-events-none;
    }
  }
}

.docs_home-header_background {
  top: -105%;
  left: -40%;
  width: 180%;
  height: 205%;
  rect {
    fill: theme('colors.primary.500');
    width: 100%;
    height: 100%;
  }
  @media (width >= theme(--breakpoint-sm)) {
    left: -20%;
    width: 140%;
  }
  @media (width >= theme(--breakpoint-lg)) {
    left: -8%;
    width: 116%;
  }
}

.docs_home-header_actions {
  .xt-button {
    @apply text-white text-opacity-[90%] transition duration-300 ease-out-quint;
    border-radius: 6px;
    padding: 6px 9px;
    font-weight: var(--font-weight-semibold);
    font-size: 13px;
    @media (width >= theme(--breakpoint-md)) {
      font-size: 14px;
    }
    line-height: 1;
    letter-spacing: var(--tracking-wide);
    text-transform: uppercase;
    &:hover {
      @apply bg-primary-900 bg-opacity-50;
      color: var(--color-white);
    }
  }
}

/* main */

.docs_home-header_inner, .docs_home-main, .docs_home-footer {
  .container {
    @apply max-w-(--breakpoint-lg)!;
  }
}

/* social */

.docs_home-main_social {
  svg {
    width: 2em;
    height: 2em;
  }
}

.docs_home-main_social_btn {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 5px;
  border-radius: 0;
  line-height: 1;
  &:last-child {
    padding-right: 0;
  }
  @apply transition;
  opacity: .25;
  &:hover {
    opacity: 1;
    transform: translateY(-4px);
  }
}

/* scroll */

.docs_home-main_scroll {
  opacity: 0;
}
