.demo--slider-automaticscroll, .demo--slider-automaticscroll-react {
  .xt-slider {
    &.xt-overflow-auto {
      .xt-slides-inner {
        justify-content: center;
      }
    }
  }

  .slide-asset {
    width: 300px;
    @apply transform transition;
    &:hover, &:active, &.xt-in {
      transform: scale(0.98);
    }
  }

  .slide-text {
    @apply transform transition;
    &:hover, &:active, &.xt-in {
      color: theme('colors.primary.500');
    }
  }
}
