.demo--slider-automaticscroll, .demo--slider-automaticscroll-react {
  .slide-asset {
    width: 300px;
    @apply transition;
    &:hover, &.in {
      transform: scale(0.98);
    }
  }

  .slide-text {
    @apply transition;
    &:hover, &.in {
      color: theme('colors.primary.500');
    }
  }
}
