.demo--slider-overflow-auto, .demo--slider-overflow-auto-react {
  .xt-overflow-auto {
    .xt-slides {
      transform: none !important;
      transition: none !important;
      justify-content: center !important;
    }
    .xt-slider-pagination {
      display: none !important;
    }
  }
}
