.demo--slider-touch-overflow, .demo--slider-touch-overflow-react {
  @screen hover-none {
    .xt-slides {
      @apply xt-overflow-sub !important;
      overflow-x: auto !important;
      overflow-y: hidden !important;
      transform: none !important;
      transition: none !important;
    }
    [data-xt-slider-pagination] {
      display: none !important;
    }
  }
}
