@import (reference) "../../../../../dist/xtend.less";

.fade {
  &:not(.fade-visible) {
    opacity: 0;
    &.in {
      .anim-horizontal.active();
      opacity: 1;
    }
    &.out {
      .anim-horizontal.out();
      opacity: 0;
    }
  }
}
