@import (reference) "../../../../../dist/styles/xtend.less";

.fade {
  &:not(.fade-scroll) {
    opacity: 0;
    &.active {
      .anim-horizontal.active();
      opacity: 1;
    }
    &.out {
      .anim-horizontal.out();
      opacity: 0;
    }
  }
}
