/**
 * slider
 */

// slider

.slider {
  position: relative;
  overflow: hidden;
}

.slides {
  position: relative;
  // @FIX autoheight values
  display: inline-block;
  // @FIX inline-block margin below
  vertical-align:top;
}

// slides

.slide {
  position: relative;
  > * {
    display: block;
    position: relative;
  }
}

// .slider-nodrag

.slider-nodrag {
  .slides-inner {
    // no grab cursor
    cursor: auto;
    // no drag interaction
    pointer-events: none;
  }
  .slide {
    // internal interaction
    pointer-events: auto
  }
}

// .slider-nooverflow

.slider-nooverflow {
  .xt-disable();
  .slides-inner {
     // no grab cursor
    cursor: auto;
    // @FIX disable slider if not overflowing
    .transform-none() !important;
    .transition-none() !important;
  }
  .slider-pagination, [data-xt-nav] {
    display: none !important;
  }
}

// .slider-disable

.slider-disable {
  .xt-disable();
  .slide:not(.active) {
    display: none;
  }
  .slider-pagination, [data-xt-nav] {
    display: none !important;
  }
}

// .slider-expand

.slider-expand {
  .xt-disable();
  .slides {
    overflow: visible;
    height: auto !important;
  }
  .slides-inner {
    .trans-anim-none() !important;
    .transform-none() !important;
  }
  .slides-inner {
    flex-wrap: wrap !important;
  }
  .slide:not(.active) {
    opacity: 1 !important;
  }
  .xt-wrap, .slider-pagination, [data-xt-nav], .loader, .filler, .spinner {
    display: none !important;
  }
}
