/**
 * slider
 */

// slider

.slider {
  position: relative;
  overflow: hidden;
  // fix initial page load height jumping by showing the first slide before initialization
  &:not(.xt-slider) .slide {
    &:first-child {
      display: block !important;
    }
  }
}

.slides {
  position: relative;
  // @FIX autoheight values
  display: inline-block;
  // @FIX inline-block margin below
  vertical-align:top;
}

// slides

.slide {
  position: relative;
  > * {
    display: block;
    position: relative;
  }
}

// .slider-nodrag

.slider-nodrag {
  .slides-inner {
    // no grab cursor
    cursor: auto;
    // no drag interaction
    pointer-events: none;
  }
  .slide {
    // internal interaction
    pointer-events: auto
  }
}

// .xt-overflow-auto

.xt-overflow-auto {
  .xt-disable-noinit();
  .slider-pagination, [data-xt-nav], .xt-wrap {
    display: none !important;
  }
  // @FIX disable slider if not overflowing
  .slides-inner {
    .transform-none() !important;
    .transition-none() !important;
  }
}

// .slider-disable

.slider-disable {
  .xt-disable();
  .slider-pagination, [data-xt-nav] {
    display: none !important;
  }
  .xt-wrap {
    visibility: hidden !important;
    opacity: 0 !important;
  }
  // @FIX do calculation first
  &.xt-disabled {
    .slide:not(.active) {
      visibility: hidden !important;
      opacity: 0 !important;
      height: 0 !important;
    }
  }
}

// .slider-expand

.slider-expand {
  .xt-disable();
  .slides {
    overflow: visible;
    height: auto !important;
  }
  .slides-inner {
    .trans-anim-none() !important;
    .transform-none() !important;
  }
  .slides-inner {
    flex-wrap: wrap !important;
  }
  .slide:not(.active) {
    opacity: 1 !important;
  }
  .xt-wrap, .slider-pagination, [data-xt-nav], .loader, .filler, .spinner {
    display: none !important;
  }
}
