@import '~xtend-library/src/core/javascript/javascript.less';
@import '~xtend-library/src/extensions/slider/_slider.less';

/**
 * slider
 */

// slides

.slides {
  .full();
  &.xt-autoHeight {
    // autoHeight animations
    transition-property: height;
    transition-duration: 750ms;
    transition-timing-function: @bez-out;
  }
}

.slides-inner {
  .row();
  .row-space(medium);
  flex-wrap: nowrap;
  align-items: flex-start;
  // dragger animations
  transition-property: transform;
  transition-duration: 750ms;
  transition-timing-function: @bez-out;
}

// pagination

.slider-pagination {
  .list();
  .list-space(small);
  align-items: center;
  justify-content: center;
  .padding(top, medium);
}

[data-xt-pag].btn {
  .btn-tiny();
  border-radius: 2rem;
  padding: .5em 1.15em;
  min-height: 2.2rem;
  &.active {
    padding: .5em 2em;
  }
}

// navigation

[data-xt-nav].btn {
  .btn-tiny();
  padding: .5em 1.15em;
  min-height: 2.2rem;
  border-radius: 2rem;
  [class^='icon-'], [class*=' icon-'] {
    .icon-small();
  }
}
