@import 'xtend-library/src/extensions/slider/_slider.less';
@import 'xtend-library/src/core/javascript/javascript.less';

/**
 * slider
 */

// pagination and navigation

[data-xt-nav].btn {
  .btn-tiny();
  padding: .5em 1.15em;
  min-height: 2.2rem;
  border-radius: 2rem;
  [class^='icon-'], [class*=' icon-'] {
    .icon-small();
  }
}

// other

.slider-touch-overflow {
  @media (hover: none) {
    .xt-disable-after-init();
    .slides {
      overflow-x: auto;
      overflow-y: hidden;
      .overflow-style(@mode: inner);
    }
    .slides-inner {
      cursor: auto !important; // no grab cursor
      .transition-none() !important;
      .transform-none() !important;
    }
    .slider-pagination {
      display: none !important;
    }
  }
}
