@import '/src/extensions/loader/loader.less';
@import '/src/addons/animation/mouse-follow.less';

.demo--slider-progress {
  .loader-mouse {
    .mouse-follow() !important;
    // disable on touch
    @media (hover: none) {
      top: 100% !important;
      left: 0 !important;
      margin-top: -25px !important;
      margin-left: 0 !important;
    }
  }
}
