@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7vwn8o');
  src:  url('fonts/icomoon.eot?7vwn8o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7vwn8o') format('truetype'),
    url('fonts/icomoon.woff?7vwn8o') format('woff'),
    url('fonts/icomoon.svg?7vwn8o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-link:before {
  content: "\e902";
}
.icon-maximize:before {
  content: "\e903";
}
.icon-google:before {
  content: "\ea88";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
