@import 'xtend-library/src/core/link/_link.less';

/**
 * decoration
 */

.link-underline() {
  text-decoration: underline;
  &:hover, &.hover, &:active, &.active {
    text-decoration: underline;
  }
}

.link-none() {
  text-decoration: none !important;
  &:hover, &.hover, &:active, &.active {
    text-decoration: none !important;
  }
}

/**
 * link
 */

a, .btn-link {
  .link-underline();
}

// animation

a, .btn-link {
  transition: color @time-small @ease-out;
  &:hover, &.hover, &:active, &.active {
    transition: color @time-small @ease-in;
  }
}

// text

.text-default {
  // link color
  a:not(.btn), .btn-link {
    color: @accent;
    &:hover, &.hover, &:active, &.active {
      color: @accent-dark;
    }
  }
}

.text-inverse {
  // link color
  a:not(.btn), .btn-link {
    color: @text-inverse;
    &:hover, &.hover, &:active, &.active {
      color: @text-inverse-dark;
    }
  }
}
