@import '~xtend-library/src/core/link/_link.less';

/**
 * decoration
 */

.link-none() {
  text-decoration: none !important;
  &:hover, &.hover, &:active, &.active {
    text-decoration: none !important;
  }
}

/**
 * link
 */

a, .btn-link {
  color: @accent;
  text-decoration: underline;
  &:hover, &.hover, &:active, &.active {
    color: @accent-dark;
    text-decoration: underline;
  }
}

// animation

a, .btn-link {
  transition-property: color, background, opacity;
  transition-duration: @time-medium;
  transition-timing-function: @ease-out;
  &:hover, &.hover, &:active, &.active {
    transition-property: color, background, opacity;
    transition-duration: @time-medium;
    transition-timing-function: @ease-in;
  }
}

// text-inverse

.text-inverse {
  // link color
  a, .btn-link {
    color: @text-inverse;
    text-decoration: underline;
    &:hover, &.hover, &:active, &.active {
      color: @text-inverse-dark;
    }
  }
}
