/**
 * link
 */

// link

a:not(.btn), .btn--link {
  .user-select--none();
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// link active (xt-ajax)

a[href]:not([href^='#']) {
  &.active {
    pointer-events: none;
  }
}
