@import '../../../../dist/xtend';

//////////////////////
// main
//////////////////////

#body-inner {
  .padding(all, medium);
}
less-style {
  display: none;
}
body {
  background-color: transparent;
}
body:not(.full) {
  overflow: hidden;
}
body.full {
  #body-inner {
    max-height: 370px;
  }
}