@import '../../../../dist/xtend';

//////////////////////
// main
//////////////////////

#body-inner {
  position: relative;
  .padding(all, medium);
}
less-style,
js-script {
  display: none;
}
body {
  background-color: transparent;
}
body:not(.full) {
  overflow: hidden;
}