@import 'highlight/github.css';
@import '../../../../dist/xtend';

//////////////////////
// structure
//////////////////////

// indexes

.site-header {
  z-index: 6 !important;
}

.site-main {
  z-index: 5 !important;
}

.site-footer {
  z-index: 4 !important;
}

// sticky footer

.site-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-flow: column;
  min-height: 100%;
}

.site-wrapper-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-flow: column;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%;
}

.site-main {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

//////////////////////
// header
//////////////////////

// .site-header

.site-header {
  background-color: @primary;
}

// .logo

.logo {
  .link-none();
  display: inline-block;
  .margin(y, 2rem);
  opacity: .8;
  img {
    width: auto;
    height: 2.5rem;
  }
  .transition-default.out();
  &:hover, &:active, &.active {
    .transition-default.active();
    opacity: 1;
  }
  &:focus {
    opacity: .8;
  }
}

// .site-header-top

.site-header-top {
  .display(flex);
  background-color: fade(@primary, @perc-xl);
  color: @white;
  .site-menu & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .btn-menu {
    margin-right: -1rem;
    .btn-nodesign();
  }
}

// .site-hero

.site-hero {
  color: @white;
  .site-hero-text {
    p {
      .font-sans-light();
    }
  }
  > .container {
    > .flex {
      min-height: 35rem;
    }
  }
  @media @max-sm {
    .site-hero-img,
    .site-hero-text {
      width: 100%;
    }
  }
  @media @min-sm {
    .site-hero-img,
    .site-hero-text {
      max-width: 50%;
    }
  }
  p {
    color: fade(@white, @perc-xl);
  }
}

// .site-breadcrumbs

.site-breadcrumbs-inner {
  cursor: default;
  .padding(y, medium);
  background-color: @primary;
  background: @grad-primary;
  color: @white;
  .site-breadcrumbs-body {
    margin-left: -1rem !important;
  }
  .site-breadcrumbs-meta {
    margin-right: -1rem !important;
  }
  .btn {
    .btn-nodesign();
  }
  .btn:not(.btn-icon) {
    .padding(x, small);
  }
  .site-breadcrumbs-body-main {
    > .btn {
      .padding(right, medium);
    }
  }
}

.site-breadcrumbs-body-sub {
  /*
  &.out {
    transition-delay: @time-medium;
  }
  */
  position: relative;
  z-index: 1;
  .site-breadcrumbs-body-sub-inner {
    .display(flex);
    .flex-column();
    .padding(y, small);
  }
  .btn {
    .padding(y, tiny);
    font-size: 1rem;
  }
}

// animations

.site-breadcrumbs-body-sub {
  .btn {
    transition-delay: 150ms; // default delay @start + @child * @increment
    .nth-child(@child:6, @start:0ms, @increment:25ms, @decrement:0ms, {
      @nth-child-transition-delay(); });
    transform: translateX(-@anim-medium);
    opacity: 0;
  }
  &.active {
    .btn {
      .transition-default.active();
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.out {
    .btn {
      .transition-default.out();
      transform: translateX(@anim-medium);
      opacity: 0;
    }
  }
}

//////////////////////
// btn-menu
//////////////////////

// .btn-menu

@button-menu-pixels: 1px;

.btn-menu {
  .display(flex);
  .align-items-center();
  .icon-menu-custom {
    position: relative;
    vertical-align: top;
    top: .1rem; // to uppercase
    margin-left: 1em;
    width: 1.25em;
    height: 1em;
    font-size: 14px;
    span {
      display: block;
      position: absolute;
      height: @button-menu-pixels;
      width: 100%;
      background-color: fade(@white, @perc-xl);
      border-radius: 0;
      left: 0;
      transform: rotate(0deg);
    }
    span {
      .transition-default.out();
      will-change: top, transform;
    }
    span:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }
    span:nth-child(2) {
      top: .5em;
      margin-top: -@button-menu-pixels * 1;
      transform-origin: left center;
    }
    span:nth-child(3) {
      top: 1em;
      margin-top: -@button-menu-pixels * 2;
      transform-origin: left center;
    }
  }
  &.active {
    .icon-menu-custom {
      span {
        .transition-default.active();
      }
      span:nth-child(1) {
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      span:nth-child(3) {
        top: 1em;
        left: 0;
        transform: rotate(-45deg);
      }
    }
  }
  &:hover, &:active, &.active {
    .icon-menu-custom {
      span {
        background-color: @white;
      }
    }
  }
}

//////////////////////
// site-menu
//////////////////////

// .site-menu

.site-menu {
  .site-menu-content {
    padding-top: 52px; // add space for menu
  }
  .site-menu-content .btn {
    .padding(y, tiny);
    .block();
    background-color: transparent !important;
    .font-sans-light();
    font-size: 4rem;
    text-align: left;
    text-transform: capitalize;
    &:hover, &:active, &.active {
      color: @white;
      opacity: 1;
    }
  }
}

// animations

.site-menu {
  transition-delay: @time-small;
  // animations
  animation: none !important;
  opacity: 1 !important;
  .overlay-inner {
    animation: none !important;
    opacity: 1 !important;
  }
}

.site-menu.active {
  .site-menu-content {
    .btn {
      .line-container {
        .anim-left.active();
        animation-delay: none; // default delay @start + @child * @increment
        animation-fill-mode: forwards;
        opacity: 0;
      }
      .nth-child(@child: 6, @start: @time-medium, @increment: 20ms, @decrement: 0ms, { .line-container {
        @nth-child-animation-delay();
      } });
    }
  }
}

.site-menu.out {
  .site-menu-content {
    .btn {
      .line-container {
        .anim-right.out();
        animation-delay: 120ms; // default delay @start + @child * @increment
        animation-fill-mode: forwards;
        opacity: 1;
      }
      .nth-child(@child: 6, @start: 0, @increment: 20ms, @decrement: 0ms, { .line-container {
        @nth-child-animation-delay();
      } });
    }
  }
}

//////////////////////
// footer
//////////////////////

// .site-footer-inner

.site-footer-inner {
  .padding(y, big);
  background-color: @primary;
}

// .site-footer-top

.site-footer-top {
  .site-footer-top-links {
    margin-left: -1rem !important;
    .btn {
      .padding(x, small);
      .btn-nodesign();
    }
  }
}

// .site-footer-bottom

.site-footer-bottom {
  .padding(top, medium, sm);
  .font-small();
  color: fade(@white, @perc-xl);
  a {
    color: @white;
    &:hover, &:active, &.active {
      color: @white;
      text-decoration: underline;
    }
  }
}

//////////////////////
// main
//////////////////////

.site-main-inner {
  .block;
  .float(left);
  background-color: @white;
}

// .site-article

.site-article {
  .margin(y, giant);
}

// .site-aside

.site-aside {
  .margin(y, giant);
  @media @max-md {
    display: none;
  }
}

.site-aside-text {
  line-height: 0;
  .btn {
    .btn-link();
    .link-none();
    .btn-big();
    .btn-narrow();
    .btn-short();
    width: 100%;
    &:hover, &:active, &.active {
      color: @text !important;
    }
  }
  > .btn:first-child {
    .margin(bottom, tiny);
  }
  .site-aside-title {
    .h4();
    color: @text;
  }
  .btn-site-aside-sub {
    color: fade(@text, @perc-lg);
    &.open {
      & + .site-aside-subsub {
        display: block !important;
        height: auto !important;
      }
    }
  }
  .site-aside-subsub {
    > .btn:first-child {
      .margin(top, tiny);
    }
    > .btn:last-child {
      .margin(bottom, small);
    }
    .btn-site-aside-subsub {
      .btn-small();
      .btn-short();
      color: fade(@text, @perc-lg);
    }
  }
}

// .make-line

.make-line {
  position: relative;
  z-index: 1;
  .line-container {
    display: block;
    position: relative;
    width: 100%;
    .line {
      .link-none();
      display: inline-block;
      padding-right: 15px;
      background-color: @white;
      .site-menu & {
        background-color: @primary;
      }
    }
    .line:after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: .5em;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: fade(@primary, @perc-lg);
      .site-menu & {
        background-color: fade(@white, @perc-lg);
      }
    }
  }
  // animations
  .line-container {
    .line:after {
      left: 100%;
      width: 0;
      transition: all @time-medium @bez-out;
      opacity: 0;
    }
  }
  &:hover, &:active, &.active {
    .line-container {
      .line:after {
        left: 0;
        width: 100%;
        animation: anim-opacity-in @time-medium @bez-in, line-in @time-medium @bez-in;
        opacity: 1;
      }
    }
  }
}

@keyframes line-in {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

// .make-anchor

.make-anchor {
  position: relative;
  width: 100%;
  a {
    .link-none();
    color: @text !important;
  }
  .site-article-anchor {
    pointer-events: none;
  }
  // animations
  .site-article-anchor {
    transition: all @time-medium @bez-out;
    opacity: 0;
  }
  &:hover, &:active, &.active {
    .site-article-anchor {
      animation: anim-opacity-in @time-medium @bez-in;
      opacity: 1;
    }
  }
}

.site-article-anchor {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 12px;
  h2 & {
    bottom: 3px;
  }
  .btn {
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: @white !important;
    font-size: 17px;
    color: @primary;
    line-height: 1;
    &:hover, &:active, &.active {
      color: @primary;
    }
  }
}

//////////////////////
// demos
//////////////////////

// .demo

.demo {
  .margin(y, layout);
  .margin(top, medium);
  .margin(bottom, big);
  border-radius: @border-radius;
  border: 3px solid @grey-250;
  .demo-tabs {
    .margin-remove(top, 2px); // remove border space
  }
  // code
  .demo-item {
    line-height: 0;
    .toggle-block();
    &:not(.populated) .demo-code-body {
      height: 370px;
    }
    &.populated .demo-code-body-item {
      .toggle-block();
    }
  }
  .demo-source {
    line-height: 1.8;
  }
  .hljs,
  .demo-code-body {
    z-index: 1;
  }
  // tabs
  .demo-tabs,
  .demo-code-tabs {
    position: relative;
    z-index: 2;
    .margin-remove(bottom, tiny);
    .display(flex);
    .justify-content-between();
    background-color: @grey-250;
    > * {
      .list();
      .list-space(none);
      .list-space(tiny, lg);
    }
    .padding(y, small);
    .padding(x, small);
    .btn {
      .btn-tiny();
    }
  }
  .demo-tabs-inner {
    margin-top: -3px;
  }
  // text
  .demo-text {
    .alert();
    .box-squared();
    .margin(all, none);
  }
  // iframe + .demo-source
  iframe {
    width: 100%;
    height: 370px;
  }
  .demo-source {
    .padding(all, medium);
  }
  .demo-source {
    &:not([data-lang="html"]) {
      display: none;
    }
  }
}

// .demo-cols

.demo-cols {
  .col {
    &:before {
      position: relative;
      float: left;
      width: 100%;
      height: 22px;
      min-height: 100%;
      border: 1px solid lighten(@primary, @perc-md);
      background-color: lighten(@primary, @perc-md);
      content: attr(data-index);
      .font-sans-semibold();
      font-size: 12px;
      color: lighten(@primary, @perc-xs);
      line-height: 1.8;
      text-align: center;
    }
    .col {
      &:before {
        background-color: @primary;
      }
    }
  }
}

.demo-cols-nested {
  .col {
    .demo-cols();
  }
}

// .demo-drops

.demo-drops {
  .drop {
    .display(flex) !important;
    position: relative !important;
  }
}

//////////////////////
// xt
//////////////////////

// .site-header-top

.site-header-top-outer[data-xt-sticky] {
  .xt-sticky();
  // animations
  &.sticky-on-bottom {
    .animation-default.active();
    animation-name: anim-top-in;
  }
}

// .site-breadcrumbs

.site-breadcrumbs-outer[data-xt-sticky] {
  .xt-sticky(@mode:'absolute');
  // above .site-header-top
  z-index: @index-sticky + 1;
  // animations
  .site-breadcrumbs {
    .transition-default.out();
  }
  .site-breadcrumbs-inner {
    .transition-default.out();
  }
  &.active:not(.xt-clone) {
    .site-breadcrumbs {
      padding: 1.5rem;
      padding-bottom: 0;
      .transition-default.active();
    }
    .site-breadcrumbs-inner {
      .padding(y, small);
      border-radius: .75rem;
      .transition-default.active();
    }
    .site-breadcrumbs-meta {
      .animation-default.active();
      animation-name: anim-right-in;
    }
  }
}

// .site-aside

.site-aside[data-xt-sticky] {
  .xt-sticky(@position:'top', @pos:56px);
}

// .site-footer

.site-footer {
  .xt-sticky(@position:'bottom');
}
