@import '../../../../dist/xtend.less';
@import (less) 'highlight/github.css';

//////////////////////
// structure
//////////////////////

// indexes

.site-header {
  z-index: 6 !important;
}

.site-main {
  z-index: 5 !important;
}

.site-footer {
  z-index: 4 !important;
}

// sticky footer

.site-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-flow: column;
  min-height: 100%;
}

.site-wrapper-inside {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-flow: column;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%;
}

.site-main {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

//////////////////////
// header
//////////////////////

// .site-header

.site-header {
  background-color: @primary;
}

// .logo

.logo {
  display: inline-block;
  .margin(y, small);
  .font-sans-light();
  color: fade(@white, 75%);
  font-size: 3rem;
  text-decoration: none !important;
  .transition-default();
  &:hover,
  &:active, &.active {
    color: @white;
  }
  &:focus {
    color: fade(@white, 75%);
  }
}

// .site-header-top

.site-header-top {
  background-color: fade(@primary, 80%);
  color: @white;
  .site-menu & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .btn-menu {
    margin-right: -1.2em;
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

// .site-hero

.site-hero {
  color: @white;
  > .contain-fluid {
    // min-height
    > .flex {
      min-height: 300px;
    }
    // flex parent required for min-height ie10
    .display(flex);
    .flex-row();
    .flex-wrap();
  }
  @media @max-sm {
    .site-hero-img,
    .site-hero-text {
      width: 100%;
    }
  }
  @media @min-sm {
    .site-hero-img,
    .site-hero-text {
      .font-sans-light();
      max-width: 50%;
    }
  }
  p {
    color: fade(@white, 75%);
  }
}

// .site-breadcrumbs

.site-breadcrumbs {
  cursor: default;
  .site-breadcrumbs-inside {
    .padding(y, medium);
    border-radius: 0;
    background: @grad-primary;
    color: @white;
  }
  .site-breadcrumbs-body {
    margin-left: -1.2em !important;
  }
  .site-breadcrumbs-meta {
    margin-right: -1.2em !important;
  }
  .btn {
    .padding(x, medium);
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.site-breadcrumbs-body-sub {
  position: relative;
  z-index: 1;
  .site-breadcrumbs-body-sub-inner {
    .display(flex);
    .flex-column();
    .padding(y, small);
  }
  .btn {
    .padding(y, tiny);
    font-size: 1rem;
  }
}

// animations

.site-breadcrumbs-body-sub {
  .btn {
    transform: translateX(-@anim-medium);
    opacity: 0;
    transition-delay: 150ms; // default delay @start + @child * @increment
    .nth-child(@child:6, @start:0ms, @increment:25ms, @decrement:0ms, {
      @nth-child-transition-delay(); });
  }
  &.active {
    .btn {
      .transition-default();
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.out {
    .btn {
      .transition-default.out();
      transform: translateX(@anim-medium);
      opacity: 0;
    }
  }
}

//////////////////////
// btn-menu
//////////////////////

// .btn-menu

@button-menu-pixels: 1px;

.btn-menu {
  .display(flex);
  .align-items-center();
  .icon-menu-custom {
    position: relative;
    vertical-align: top;
    top: .1rem; // to uppercase
    margin-left: 1em;
    width: 1.25em;
    height: 1em;
    font-size: 14px;
    span {
      display: block;
      position: absolute;
      height: @button-menu-pixels;
      width: 100%;
      background-color: fade(@white, 75%);
      border-radius: 0;
      left: 0;
      transform: rotate(0deg);
      // animations
      .transition-default();
      will-change: top, transform;
    }
    span:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }
    span:nth-child(2) {
      top: .5em;
      margin-top: -@button-menu-pixels * 1;
      transform-origin: left center;
    }
    span:nth-child(3) {
      top: 1em;
      margin-top: -@button-menu-pixels * 2;
      transform-origin: left center;
    }
  }
  &.active {
    .icon-menu-custom {
      span:nth-child(1) {
        transform: rotate(45deg);
        top: 0;
        left: 0;
      }
      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
        top: 1em;
        left: 0;
      }
    }
  }
  &:hover,
  &:active, &.active {
    .icon-menu-custom {
      span {
        background-color: @white;
      }
    }
  }
}

//////////////////////
// site-menu
//////////////////////

// .site-menu

.site-menu {
  .site-menu-content {
    padding-top: 52px; // add space for menu
  }
  .site-menu-content .btn {
    .padding(y, tiny);
    .block();
    background-color: transparent !important;
    .font-sans-light();
    font-size: 4rem;
    text-align: left;
    text-transform: capitalize;
    .line-container {
      .line {
        background-color: @primary;
      }
      .line:after {
        background-color: fade(@white, 75%);
      }
    }
    opacity: .75;
    &:hover,
    &:active, &.active {
      color: @white;
      opacity: 1;
    }
  }
}

// animations

.site-menu {
  transition-delay: @time-small;
}

.site-menu.active {
  .site-menu-content {
    .btn {
      .line-container {
        .anim-left();
        .anim-left.active();
        animation-fill-mode: forwards;
        opacity: 0;
        animation-delay: @time-small + 300ms; // default delay @start + @child * @increment
      }
      .nth-child(@child:6, @start:@time-small, @increment:50ms, @decrement:0ms, { .line-container {
        @nth-child-animation-delay();
      } });
    }
  }
}

.site-menu.out {
  .site-menu-content {
    .btn {
      .line-container {
        .anim-right();
        .anim-right.out();
        animation-fill-mode: forwards;
        animation-delay: 300ms; // default delay @start + @child * @increment
        opacity: 1;
      }
      .nth-child(@child:6, @start:0, @increment:50ms, @decrement:0ms, { .line-container {
        @nth-child-animation-delay();
      } });
    }
  }
}

//////////////////////
// footer
//////////////////////

// .site-footer

.site-footer {
  .padding(top, big);
  .padding(bottom, tiny);
  background-color: @primary;
  .separator {
    .margin(x, tiny);
  }
}

// .site-footer-top

.site-footer-top {
  .site-footer-top-links {
    margin-left: -1.2em !important;
  }
}

// .site-footer-bottom

.site-footer-bottom {
  .padding(y, medium);
  .font-small();
  color: fade(@white, 75%);
  a {
    color: @white;
    &:hover {
      color: @white;
      text-decoration: underline;
    }
  }
}

//////////////////////
// main
//////////////////////

.site-main-inside {
  .block;
  .float(left);
  background-color: @white;
}

// .site-article

.site-article {
  .margin(y, giant);
}

// .site-aside

.site-aside {
  .margin(y, giant);
}

.site-aside-text {
  line-height: 0;
  .btn {
    .btn-link();
    .btn-big();
    .btn-narrow();
    .btn-short();
    width: 100%;
  }
  .site-aside-title {
    .h4();
    color: @text;
  }
  /*
  > .btn:not(.site-aside-sub) {
    &.different {
      display: none;
    }
  }
  */
  .btn-site-aside-sub {
    color: fade(@text, 50%) !important;
    &.active {
      color: @text !important;
      & + .site-aside-subsub {
        display: block;
      }
    }
  }
  .site-aside-subsub {
    display: none;
    .btn-site-aside-subsub {
      .btn-small();
      .btn-narrow();
      .btn-short();
      .padding(left, medium);
      color: fade(@text, 50%) !important;
      &.active {
        color: @text !important;
      }
    }
  }
}

// .make-line

.make-line {
  position: relative;
  z-index: 1;
  .line-container {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    .line {
      display: inline-block;
      padding-right: 15px;
      background-color: @white;
      text-decoration: none !important;
    }
    .line:after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: .5em;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: fade(@primary, 80%);
      h2 & {
        height: 2px;
      }
    }
  }
  // animations
  .line:after {
    left: 100%;
    width: 0;
    animation: anim-opacity-out @time-medium @bez-out, line-out @time-small @bez-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &:hover {
    .line:after {
      left: 0;
      width: 100%;
      animation: anim-opacity-in @time-small @bez-in, line-in @time-medium @bez-in;
      animation-fill-mode: forwards;
      opacity: 1;
    }
  }
}

@keyframes line-out {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

@keyframes line-in {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

// .make-anchor

.make-anchor {
  position: relative;
  width: 100%;
  a {
    color: @text !important;
    text-decoration: none !important;
  }
  .site-article-anchor {
    pointer-events: none;
    animation: anim-opacity-out @time-medium @bez-out;
    animation-fill-mode: forwards;
    opacity: 1;
  }
  &:hover,
  &:active, &.active {
    .site-article-anchor {
      animation: anim-opacity-in @time-medium @bez-in @time-small;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }
}

.site-article-anchor {
  position: absolute;
  z-index: 2;
  bottom: -1px;
  @media @min-sm {
    bottom: 3px;
  }
  right: 12px;
  .btn {
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: @white !important;
    font-size: 17px;
    color: @primary;
    line-height: 1;
    &:hover,
    &:active, &.active {
      color: @primary;
    }
  }
}

//////////////////////
// demos
//////////////////////

// .demo

.demo {
  .margin(y, layout);
  .margin(bottom, medium);
  border-radius: 2px;
  border: 3px solid @grey-250;
  // code
  .demo-item {
    line-height: 0;
    .toggle-block();
    &:not(.populated) .demo-code-body {
      height: 370px;
    }
    &.populated .demo-code-body-item {
      .toggle-block();
    }
  }
  .demo-source {
    line-height: 1.8;
  }
  .hljs,
  .demo-code-body {
    z-index: 1;
    background-color: @grey-250;
  }
  // tabs
  .demo-tabs,
  .demo-code-tabs {
    z-index: 2;
    .display(flex);
    .justify-content-between();
    .padding(all, small);
    background-color: @grey-250;
  }
  .demo-tabs-inside {
    margin-top: -3px;
  }
  // text
  .demo-text {
    .padding(y, small);
    .padding(x, medium);
    background-color: @grey-250;
    font-size: 13px;
    line-height: 1.6;
    code {
      background-color: darken(@grey-250, 2.5%);
    }
  }
  // iframe + .demo-source
  iframe {
    width: 100%;
    height: 370px;
  }
  .demo-source {
    .padding(all, medium);
  }
  .demo-source {
    &:not([data-lang="html"]) {
      display: none;
    }
  }
  // others
  .btn-fullscreen {
    display: none;
  }
}

// .demo-highlight

.demo-highlight {
  .column {
    &:before {
      content: '';
      position: relative;
      float: left;
      width: 100%;
      height: 1.5rem;
      background-color: lighten(@primary, 25%);
    }
    .column {
      &:before {
        background-color: @primary;
      }
    }
  }
}

//////////////////////
// xt
//////////////////////

// .site-header-top

.site-header-top[data-xt-scroll] {
  .xt-scroll();
  // animations
  &.scroll-on-bottom {
    .animation-default();
    animation-name: anim-top-in;
  }
}

// .site-breadcrumbs

.site-breadcrumbs[data-xt-scroll] {
  .xt-scroll(@mode:'absolute');
  // animations
  .transition-default.out();
  .site-breadcrumbs-inside {
    .transition-default.out();
  }
  &.active:not(.xt-clone) {
    padding: 1.5rem;
    .transition-default();
    .site-breadcrumbs-inside {
      .padding(y, small);
      border-radius: .75rem;
      background-color: fade(@primary, 80%);
    }
    .site-breadcrumbs-meta {
      .animation-default();
      animation-name: anim-right-in;
    }
  }
}

// .site-aside

.site-aside[data-xt-scroll] {
  .xt-scroll(@position:'top', @pos:56px);
}

// .site-footer

.site-footer {
  .xt-scroll(@position:'bottom');
}
