/**
 * .ul-check
 */

ul.ul-check {
  padding-left: 0;
  list-style: none;
  > li {
    padding-left: 2em;
    background-image: url('icons/list-check.svg');
    background-repeat: no-repeat;
    background-size: 1.2em auto;
    background-position: left .2em;
  }
}
