@import (reference) '/src/xtend-core.less';
@import '/src/core/button/button.less';
@import '/src/core/group/group.less';

/**
 * group-expand
 */

.group-expand {
  width: 85%;
  transition: width @time-small @ease-out;
  &.expand {
    width: 100%;
    transition: width @time-small @ease-in;
  }
}
