@import (reference) 'xtend-library/src/xtend-core.less';
@import 'xtend-library/src/core/button/button.less';
@import 'xtend-library/src/core/group/group.less';

/**
 * group-number
 */

 .group-number {
  // group syule
  .group-default();
  // disable browser styles
  input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

.group-number-line {
  .form-item {
    width: 5.5rem;
  }
}

.group-number-stack {
  .form-item {
    width: 5.5rem;
  }
}
