@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/button/button.less';
@import '~xtend-library/src/core/group/group.less';

/**
 * group-expand
 */

 .group-expand {
    width: 85%;
    transition: width @time-small @ease-off;
    &.expand {
      width: 100%;
      transition: width @time-small @ease-on;
    }
  }
