#iframe--infinite-scroll {
  //##START
  @import 'xtend-library/src/addons/structure/infinite-scroll.less';
  
  body { // add your own selector instead of body to contain the code
  
    /**
      * .block-listing
      */
  
    .block-listing {
    }
  
    .block-listing_inner {
      > .row {
        .row-space(small);
        .row-space(medium, sm);
      }
    }
  
    .block-listing_col {
      .col(12);
      .col(6, sm);
      .col(4, lg);
    }
  
    .block-listing_col--big {
      .col(12, sm);
      .col(12, lg);
    }
  
    .block-listing_item {
      .full();
      .text-default() !important;
    }
  
    .block-listing_img {
      .media-container {
        .padding(bottom, 75%);
        background: @shade-200;
      }
    }
  
    .block-listing_col--big {
      .block-listing_img {
        .media-container {
          @media @min-sm {
            padding-bottom: 37.5%;
          }
        }
      }
    }
  
    .block-listing_content {
      .padding(y, medium);
    }
  
    .block-listing_title {
      .spacing-medium();
      .font-sans-semibold();
      .line-height-small();
      font-size: 1.8rem;
      letter-spacing: 0;
      text-transform: none;
    }
  
    .block-listing_price {
      .font-sans-semibold();
      .line-height-small();
      font-size: 1.4rem;
      letter-spacing: 0.1em;
      text-transform: none;
    }
  
  }
  //##END
}
