.demo--infinitescroll, .demo--infinitescroll-react {
  /* first and last */

  .xt-infinitescroll-first {
    [data-xt-infinitescroll-up] {
      display: none;
    }
  }

  .xt-infinitescroll-last {
    [data-xt-infinitescroll-down] {
      display: none;
    }
  }

  /* loading */

  .infinitescroll-spinner {
    @apply transition opacity-0;
    .xt-spinner {
      @apply transition-all opacity-0 scale-75;
    }
  }

  [data-xt-infinitescroll-up], [data-xt-infinitescroll-down] {
    > .content {
      @apply transition;
    }
  }

  .xt-infinitescroll-loading {
    .infinitescroll-spinner {
      @apply opacity-100;
      .xt-spinner {
        @apply opacity-100 scale-100;
      }
    }
    [data-xt-infinitescroll-up], [data-xt-infinitescroll-down] {
      pointer-events: none;
      > .content {
        @apply opacity-0;
      }
    }
  }
}
