.demo--infinitescroll, .demo--infinitescroll-react {
  /* first and last */

  .xt-infinitescroll-first {
    [data-xt-infinitescroll-up] {
      @apply hidden;
    }
  }

  .xt-infinitescroll-last {
    [data-xt-infinitescroll-down] {
      @apply hidden;
    }
  }

  /* loading */

  [data-xt-infinitescroll-up], [data-xt-infinitescroll-down] {
    > .content {
      @apply transition;
    }
    > .xt-loader {
      @apply transition opacity-0;
    }
  }

  .xt-infinitescroll-loading {
    [data-xt-infinitescroll-up], [data-xt-infinitescroll-down] {
      @apply pointer-events-none;
      > .content {
        @apply opacity-0;
      }
      > .xt-loader {
        @apply opacity-100;
      }
    }
  }
}
