@import (reference) "../../../../../dist/styles/xtend.less";

//////////////////////
// xtend extension: overlay classHtml
//////////////////////

#body-inner { // DO NOT APPLY to selector with descendants with position: fixed;
  transition-property: transform;
  transition-duration: @time--medium;
  transition-timing-function: @bez--out;
  html.xt-overlay--left & {
    transform: translateX(3rem);
    transition-property: transform;
    transition-duration: @time--medium;
    transition-timing-function: @bez--in;
  }
  html.xt-overlay--right & {
    transform: translateX(-3rem);
    transition-property: transform;
    transition-duration: @time--medium;
    transition-timing-function: @bez--in;
  }
}