@import (reference) "../../../../../dist/styles/xtend.less";

/**
 * xtend extension: .btn--close_fixed
 */

.btn--close_fixed {
  position: fixed !important;
  z-index: @index--btn-close;
  top: 0;
  right: 0;
  line-height: 1;
  text-align: right;
}
