@import (reference) "../../../../../dist/styles/xtend.less";

//////////////////////
// xtend extension: overlay_message
//////////////////////

.overlay_message {
  // styles
  position: fixed;
  z-index: @index--overlay !important;
  top: 50%;
  width: calc(100vw - 510px);
  text-align: center;
  @media @max-sm {
    display: none;
  }
  .overlay--left & {
    right: 0;
  }
  .overlay--right & {
    left: 0;
  }
  // animation
  .overlay--left.active & {
    .anim-x-inverse.active();
  }
  .overlay--left.out & {
    .anim-x-inverse.out();
  }
  .overlay--right.active & {
    .anim-x.active();
  }
  .overlay--right.out & {
    .anim-x.out();
  }
}