/**
 * slider
 */

// slider

.slider {
  position: relative;
}

.slides {
  .user-select-none();
  overflow: hidden;
}

// slides

.slide {
  position: relative;
  > * {
    display: block;
    position: relative;
  }
}

// .slider--nooverflow

.slider--nooverflow {
  .xt-disable();
  .slides-inner {
    // @FIX disable slider if not overflowing
    .transform-none() !important;
    .transition-none() !important;
    justify-content: center !important;
  }
  .slider-pagination, [data-xt-nav] {
    display: none !important;
  }
}

// .slider--disable

.slider--disable {
  .xt-disable();
  .slide:not(.active) {
    .trans-anim-none() !important;
    opacity: 0 !important;
  }
  .slider-pagination, [data-xt-nav], .loader, .filler, .spinner {
    display: none !important;
  }
}

// .slider--expand

.slider--expand {
  .xt-disable();
  .slides {
    overflow: visible;
    height: auto !important;
  }
  .slides-inner {
    .trans-anim-none() !important;
    .transform-none() !important;
  }
  .slides-inner {
    flex-wrap: wrap !important;
  }
  .slide:not(.active) {
    opacity: 1 !important;
  }
  .xt-wrap, .slider-pagination, [data-xt-nav], .loader, .filler, .spinner {
    display: none !important;
  }
}
