/**
 * column
 */

// col-auto

.col-auto(@breakpoint: none) when (@breakpoint = none) {
  flex: 1 1 0%; // % needed ie11
  max-width: none;
  width: auto;
}

.col-auto(@breakpoint: none) when (default()) {
  @query-min: 'min-@{breakpoint}';
  @media @@query-min {
    flex: 1 1 0%; // % needed ie11
    max-width: none;
    width: auto;
  }
}

// col-custom

.col-custom(@val, @breakpoint: none) when (@breakpoint = none) {
  flex: 0 0 auto; // flex-grow flex-shrink flex-basis
  max-width: @val;
  width: @val;
}

.col-custom(@val, @breakpoint: none) when (default()) {
  @query-min: 'min-@{breakpoint}';
  @media @@query-min {
    flex: 0 0 auto; // flex-grow flex-shrink flex-basis
    max-width: @val;
    width: @val;
  }
}

// col

.col(@number, @breakpoint: none) when (@breakpoint = none) {
  @val: (percentage(@number / @columns));
  flex: 0 0 auto; // flex-grow flex-shrink flex-basis
  max-width: @val;
  width: @val;
}

.col(@number, @breakpoint: none) when (default()) {
  @query-min: 'min-@{breakpoint}';
  @val: (percentage(@number / @columns));
  @media @@query-min {
    flex: 0 0 auto; // flex-grow flex-shrink flex-basis
    max-width: @val;
    width: @val;
  }
}

/**
 * @generate-class--grid
 */

// generate-container-space-responsive

.generate-container-space-responsive();
.generate-container-space-responsive(@i: length(@container--space)) when (@i > 0) {
  .generate-container-space-responsive(@i - 1);
  @container: extract(@container--space, @i);
  @breakpoint: extract(@container, 1);
  @val: extract(@container, 2);
  & when (@breakpoint = none) {
    .container {
      padding-right: @val;
      padding-left: @val;
    }
  }
  & when not (@breakpoint = none) {
    @query-min: 'min-@{breakpoint}';
    @media @@query-min {
      .container {
        padding-right: @val;
        padding-left: @val;
      }
    }
  }
}

// generate

& when not (@generate-class--grid = false) {

  // generate-grid

  .generate-grid(@breakpoint: none; @i: 1) when (@i =< @columns) {
    .generate-grid(@breakpoint; (@i + 1));
    & when (@breakpoint = none) {
      .col-@{i} {
        .col(@i) !important;
      }
    }
    & when not (@breakpoint = none) {
      .col-@{i}-@{breakpoint} {
        .col(@i) !important;
      }
    }
  }

  // generate-grids

  .generate-grids();
  .generate-grids(@breakpoint: none) {
    & when (@breakpoint = none) {
      // grid
      .col-auto {
        .col-auto() !important;
      }
      .generate-grid() !important;
    }
    & when not (@breakpoint = none) {
      @query-min: 'min-@{breakpoint}';
      @media @@query-min {
        // grid
        .col-auto-@{breakpoint} {
          .col-auto() !important;
        }
        .generate-grid(@breakpoint) !important;
      }
    }
  }

  // generate-grid-responsive

  & when not (@generate-class--grid = true) {

    .generate-grid-responsive();
    .generate-grid-responsive(@i: length(@generate-class--grid)) when (@i > 0) {
      .generate-grid-responsive(@i - 1);
      @breakpoint: extract(@generate-class--grid, @i);
      .generate-grids(@breakpoint);
    }

  }

}
