.demo--toggle-animation, .demo--toggle-animation-react {
  .xt-card {
    /* initial */
    @apply transform ease-out duration-500;
    @apply opacity-0;
    &.dir-before {
      @apply translate-x-4;
    }
    &.dir-after {
      @apply -translate-x-4;
    }
    /* active */
    &.in {
      @apply opacity-100 translate-x-0;
    }
    /* out */
    &.out {
      @apply opacity-0;
      &.dir-before {
        @apply -translate-x-4;
      }
      &.dir-after {
        @apply translate-x-4;
      }
    }
  }
}
