.demo--toggle-animation-inverse, .demo--toggle-animation-inverse-react {
  .xt-card {
    /* initial */
    @apply transform ease-out duration-500;
    @apply opacity-100 translate-x-0;
    /* active */
    &.active {
      @apply opacity-0 translate-x-0;
      &.direction-before {
        @apply translate-x-4;
      }
      &.direction-after {
        @apply -translate-x-4;
      }
    }
    /* out */
    &.out {
      @apply opacity-0 xt-transition-none;
      &.direction-before {
        @apply -translate-x-4;
      }
      &.direction-after {
        @apply translate-x-4;
      }
    }
  }
}
