.demo--toggle-animation, .demo--toggle-animation-react {
  [data-xt-toggle-target] {
    /* initial */
    @apply opacity-0;
    &.dir-before {
      @apply translate-x-4;
    }
    &.dir-after {
      @apply -translate-x-4;
    }
    /* in */
    &.in {
      @apply transition opacity-100 translate-x-0;
    }
    /* out */
    &.out {
      @apply transition opacity-0;
      &.dir-before {
        @apply -translate-x-4;
      }
      &.dir-after {
        @apply translate-x-4;
      }
    }
  }
}
