.demo--toggle-animation-inverse, .demo--toggle-animation-inverse-react {
  .xt-toggle-inverse {
    &.done {
      display: none;
    }
  }

  .xt-card.xt-toggle-inverse {
    /* initial */
    @apply transform transition;
    @apply opacity-100 translate-x-0;
    /* in */
    &.in {
      @apply opacity-0 translate-x-0;
      &.dir-before {
        @apply -translate-x-4;
      }
      &.dir-after {
        @apply translate-x-4;
      }
    }
    /* out */
    &.out {
      @apply opacity-0 duration-0;
      &.dir-before {
        @apply translate-x-4;
      }
      &.dir-after {
        @apply -translate-x-4;
      }
    }
  }

  .xt-card.xt-toggle {
    /* initial */
    @apply transform transition;
    @apply opacity-0;
    &.dir-before {
      @apply translate-x-4;
    }
    &.dir-after {
      @apply -translate-x-4;
    }
    /* in */
    &.in {
      @apply opacity-100 translate-x-0;
    }
    /* out */
    &.out {
      @apply opacity-0;
      &.dir-before {
        @apply -translate-x-4;
      }
      &.dir-after {
        @apply translate-x-4;
      }
    }
  }
}
