.jump-to-content {
  position: fixed !important;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: theme('zIndex.top');
  /* initial */
  @apply transform transition;
  @apply opacity-0 -translate-y-4;
  /* active */
  &.active {
    @apply opacity-100 translate-y-0;
  }
  /* out */
  &.out {
    @apply opacity-0 -translate-y-4;
  }
}
