@import '~xtend-library/src/core/structure/structure.less';

/*
 * colors
 */

@white: #fff;
@black: #000;

@gray-100: #f8fafe;
@gray-200: #eff4fd;
@gray-200--dark: darken(@gray-200, 5%);
@gray-300: #d6e1f6;
@gray-500: #7a7e8e;
@gray-800: #373944;

@accent: #7567f8;
@accent--dark: darken(@accent, 5%);

@text: @gray-800;
@text--dark: @black;
@text-inverse: fade(@white, 80%);
@text-inverse--dark: @white;

@success: #4c9852;
@error: #CD1719;

// shadow
// USAGE: box-shadow: @shadow-light;

@shadow-light: 0 .1rem 1rem fade(@gray-300, 40%), 0 .2rem 2rem fade(@gray-300, 80%);
@shadow-dark: 0 .1rem 1rem fade(@gray-800, 20%), 0 .2rem 2rem fade(@gray-800, 40%);
@shadow-primary: 0 .1rem 1rem fade(@accent--dark, 20%), 0 .2rem 2rem fade(@accent--dark, 40%);

// gradient
// USAGE: background: linear-gradient(135deg, @grad-light);

@grad-dark: @gray-800 33%, darken(@gray-800, 2%) 100%;
@grad-light: @gray-200 33%, darken(@gray-200, 2%) 100%;
@grad-primary: @accent 33%, darken(@accent, 2%) 100%;
@grad-default: @gray-200 33%, darken(@gray-200, 2%) 100%;

/**
 * spacing
 */

@margins: auto auto, none 0, micro .25rem, tiny .5rem, small 1rem, medium 2rem, big 4rem, giant 6rem, huge 12rem;
@paddings: auto auto, none 0, micro .25rem, tiny .5rem, small 1rem, medium 2rem, big 4rem, giant 6rem, huge 12rem;

/**
 * order
 */

@orders: -3, -2, -1, 0, 1, 2, 3;

/**
 * z-index
 */

@index-base: 0;
@index-active: 2;
@index-loader: 11;
@index-sticky: 500; // @index-sticky by javascript 100 and decreses with sequential sticky
@index-top: 501;
@index-indicator: 510;
@index-backdrop: 530;
@index-drop: 550;
@index-overlay: 600;
@index-btn-close: 700;
@index-last: 701;

/**
 * breakpoints
 */

@breakpoints: xs, sm, md, lg, xl; // if you change this change also variables names below
@breakpoint-xs: 576px;
@breakpoint-sm: 768px;
@breakpoint-md: 992px;
@breakpoint-lg: 1200px;
@breakpoint-xl: 1500px;

// @media queries
// USAGE: @media @min-sm and @max-md {}

@min-xs: ~'(min-width:'(@breakpoint-xs)~')';
@max-xs: ~'(max-width:'(@breakpoint-xs - 1)~')';
@min-sm: ~'(min-width:'(@breakpoint-sm)~')';
@max-sm: ~'(max-width:'(@breakpoint-sm - 1)~')';
@min-md: ~'(min-width:'(@breakpoint-md)~')';
@max-md: ~'(max-width:'(@breakpoint-md - 1)~')';
@min-lg: ~'(min-width:'(@breakpoint-lg)~')';
@max-lg: ~'(max-width:'(@breakpoint-lg - 1)~')';
@min-xl: ~'(min-width:'(@breakpoint-xl)~')';
@max-xl: ~'(max-width:'(@breakpoint-xl - 1)~')';
