/**
 * background
 */

body {
  background: @gray-200;
}

/**
 * scrollbar
 */

.overflow-style(@mode: none) {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: transparent;
    @media (hover: none) {
      display: none;
    }
  }
  & when (@mode = none) {
    &::-webkit-scrollbar-thumb {
      background: fade(@gray-800, 20%);
      &:hover {
        background: fade(@gray-800, 40%);
      }
    }
  }
  & when (@mode = inner) {
    &::-webkit-scrollbar-thumb {
      background: fade(@gray-800, 10%);
      &:hover {
        background: fade(@gray-800, 20%);
      }
    }
  }
}

/**
 * selection
 */

::selection {
  background-color: @accent--dark !important;
  color: @white !important;
}

/**
 * focus
 * to disable focus add html.xt-focus-disable class
 */

html.xt-focus:not(.xt-focus-disable) {
  // custom focus
  :focus {
    outline-color: rgb(77, 144, 254);
  }
  // disable focus on forms
  input, select, textarea {
    &:focus {
      outline: 0;
    }
  }
  /*
  // custom focus checkbox and radio
  input[type="checkbox"], input[type="radio"] {
    &:focus ~ .form-label:before {
      outline-color: rgb(77, 144, 254);
      outline-offset: -2px;
      outline-style: auto;
      outline-width: 5px;
    }
  }
  */
}

/**
 * disabled
 */

[disabled], .disabled {
  cursor: default;
  pointer-events: none;
  // when not .active also graphic changes
  &:not(.active) {
    opacity: .75;
  }
}
