@import (reference) '~xtend-library/components/xtend';

//##START
/**
 * xtend extension: .btn--close_fixed
 */

.btn--close_outer {
  position: fixed;
  z-index: @index--btn-close;
  top: 0;
  right: 0;
  line-height: 1;
  text-align: right;
  .btn--close {
    position: relative !important;
  }
}
//##END
