#iframe--stores-listing-v2 {
  /*##START*/
  .listing-item {
    .listing-item-front {
      cursor: pointer;
    }
    .listing-item-back {
      min-height: 22rem;
      pointer-events: none;
      opacity: 0;
    }
    &.active {
      .listing-item-back {
        pointer-events: all;
      }
    }
  }
  /*##END*/
}
