#iframe--stores-listing-v2 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    .listing-item {
      position: relative;
      overflow: hidden;
      @media (max-width: theme('screens.md')) {
        .listing-front {
          .listing-item_content {
            display: none;
          }
        }
      }
      @screen md {
        .listing-front {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .listing-back {
          pointer-events: none;
          opacity: 0;
        }
        &.active {
          .listing-back {
            pointer-events: all;
          }
        }
      }
      .listing-front {
        @media (max-width: theme('screens.md')) {
          opacity: 1 !important;
          transform: none !important;
        }
        @screen md {
          cursor: pointer;
        }
      }
      .listing-back {
        @media (max-width: theme('screens.md')) {
          opacity: 1 !important;
          transform: none !important;
          margin-top: theme('spacing.6');
          .btn-close {
            display: none;
          }
        }
        @screen md {
          min-height: 22rem;
        }
      }
    }

    .listing-asset {
      .media-container {
        @supports (mix-blend-mode: screen) {
          &:before {
            content: '';
            position: absolute;
            z-index: theme('zIndex.active');
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000000;
            mix-blend-mode: saturation;
          }
          &:after {
            content: '';
            position: absolute;
            z-index: theme('zIndex.active');
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #7686FF;
            mix-blend-mode: screen;
            opacity: .25;
          }
        }
      }
    }

  }
  /*##END*/
}
