@import 'xtend-library/src/extensions/separator/separator.less';

/**
 * breadcrumbs
 */

.breadcrumbs {
  .padding(y, big);
  width: 100%;
}

.breadcrumbs-background {
  background: @shade-100;
}

.breadcrumbs-inner {
}

.breadcrumbs-list {
  .list-reset();
  line-height: 1;
  .btn {
    .btn-text();
    .padding(x, none);
  }
  div.btn {
    .pointer-events-none();
  }
  .separator {
    .separator-slash();
  }
  // ellipsis
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  > * {
    display: inline !important;
    vertical-align: middle !important;
  }
}

.breadcrumbs-title {
  .h2();
  .spacing-tiny();
}
