.demo--drop-animation-css-multiple {
  .xt-drop {
    /* initial */
    @apply transform ease-out duration-700;
    @apply opacity-0;
    &.direction-before {
      @apply translate-x-4;
    }
    &.direction-after {
      @apply -translate-x-4;
    }
    /* active */
    &.active {
      @apply opacity-100 translate-x-0;
    }
    /* out */
    &.out {
      @apply opacity-0;
      &.direction-before {
        @apply -translate-x-4;
      }
      &.direction-after {
        @apply translate-x-4;
      }
    }
  }
}
