.CCC--drop-disable, .CCC--drop-disable-react {
  a.xt-drop-disabled, button.xt-drop-disabled {
    display: none;
  }
  .xt-drop.xt-drop-disabled {
    display: inline-block !important;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 0;
    > .xt-card {
      border-width: 0;
      background-color: transparent;
      box-shadow: none;
      color: inherit;
      > * {
        padding: 0;
      }
      > .xt-dismiss {
        display: none;
      }
    }
    > .xt-card > .xt-list {
      > .xt-button, > * > .xt-button {
        @apply px-0;
      }
    }
  }
}
