.demo--form-validation {
  .valid-submit {
    border-color: var(--color-green-500) !important;
  }
  .invalid-submit {
    border-color: var(--color-red-500) !important;
  }
  .label-required {
    &:after {
      content: "*";
    }
  }
  .label-required-one {
    &:after {
      content: "**";
    }
  }
}
