<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">

    <!-- seo -->
    <title>Xtend demo</title>
    <meta name="description" content="Xtend demo" />

    <!-- icons -->
    <link rel="icon" href="/assets/images/favicon.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon-152x152.png" />

    <!-- styles -->
    <link rel="stylesheet" href="/assets/styles/demo.css?v=0.6.1" />

    <!-- demo styles -->
    <link rel="stylesheet" href="overlay-content.css?v=0.6.1" />

  </head>
  <body class="full">

    <div id="body-outer">
<div id="body-inner" class="demo-source-from">
<div data-xt-overlay>
  <button type="button" class="btn btn-primary">
    <span>toggle</span>
  </button>
  <div class="overlay-outer overlay-pos overlay-right">
    <div class="overlay">
      <div class="overlay-inner">
        <button type="button" class="btn btn-close"><span>Close</span></button>

        <div class="content content-menu">
          <button type="button" class="btn btn-primary btn-big btn-wide btn-tall">
            <span>Menu</span>
          </button>
          <button type="button" class="btn btn-primary btn-big btn-wide btn-tall">
            <span>Account</span>
          </button>
        </div>

        <div class="content content-title">
          <h2>Lorem ipsum</h2>
        </div>

        <div class="content">
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus, lectus quis ornare volutpat,
            ligula nulla sollicitudin nunc, ut commodo nulla enim nec nisi.</p>
          <p>Morbi sodales, dolor a iaculis ornare, velit justo lacinia erat, pretium sollicitudin dui sem id
            justo.</p>
        </div>

        <div class="content content-foot">
          <button type="button" class="btn btn-primary overlay-dismiss">
            <span>Close</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

</div>
    </div>

    <!-- demos source less -->
    
    <less-style>@import (reference) "../../../../../dist/styles/xtend.less";

//////////////////////
// xtend extension: overlay content
//////////////////////

.overlay-outer {
  .overlay-inner {
    > .btn-close {
      .btn-primary();
    }
    > .content.content-menu {
      .list();
      .list-space(none);
      .flex-auto();
      padding: 0 !important;
      height: 63px;
      background-color: @primary;
      > .btn {
        .display(flex);
        .align-items-center();
      }
    }
    > .content.content-title {
      border-bottom: 1px solid @grey-250;
    }
    > .content.content-foot {
      border-top: 1px solid @grey-250;
    }
  }
  // animations
  &.active {
    .overlay-inner {
      > .content.content-menu {
        .anim-top.active();
        animation-delay: @time-small;
      }
    }
  }
  &.out {
    .overlay-inner {
      > .content.content-menu {
        .anim-top.out();
        animation-delay: @time-small;
      }
    }
  }
}</less-style>
    

    <!-- demos source js -->
    

    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="/assets/scripts/greensock/easing/CustomEase.min.js?v=0.6.1"></script>
    <script src="/assets/scripts/polyfill.min.js"></script>

    <!-- theme scripts -->
    <script src="/assets/scripts/theme.min.js?v=0.6.1"></script>

    <!-- demo scripts -->
    

    <!-- demo utils -->
    <script>
      // add id
      document.body.setAttribute('id', document.location.href.match(/[^\/]+$/)[0]);
      // init iframe
      window.parent.initIframe(window.name);
    </script>

  </body>
</html>