.CCC--toggle-progress, .CCC--toggle-progress-react {
  > .xt-list > .xt-loader {
    /* touch */
    @media (hover: none) {
      transform: none !important;
      position: absolute;
      overflow: visible;
      top: auto;
      right: auto;
      left: 0;
      bottom: 12px;
      margin: 0;
      .xt-spinner {
        opacity: 1;
      }
    }
    /* mouse */
    @media (hover: hover) {
      @apply xt-mousefollow;
      .xt-spinner {
        @apply -mt-1 ml-4;
      }
    }
  }
}
