@import (reference) "../../../../../dist/styles/xtend.less";

.custom-width {
  width: 100px;
  max-width: 100px;
}

.custom-width-responsive {
  @media @min-sm and @max-md {
    width: 100px;
    max-width: 100px;
  }
}