@import 'src/core/sticky/sticky-core.less';

//////////////////////
// sticky
//////////////////////

.sticky--moving {
  transition-property: transform;
  transition-duration: @time--medium;
  transition-timing-function: @bez--out;
}
