@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t5v19s');
  src:  url('fonts/icomoon.eot?t5v19s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?t5v19s') format('woff2'),
    url('fonts/icomoon.ttf?t5v19s') format('truetype'),
    url('fonts/icomoon.woff?t5v19s') format('woff'),
    url('fonts/icomoon.svg?t5v19s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clipboard:before {
  content: "\e90e";
}
.icon-copy:before {
  content: "\e90f";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-iframe:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-npm:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-link:before {
  content: "\e902";
}
.icon-maximize:before {
  content: "\e903";
}
.icon-google:before {
  content: "\ea88";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
