@import (reference) 'xtend-library/src/xtend-core.less';
@import 'xtend-library/src/core/drop/drop.less';
@import 'xtend-library/src/core/overlay/overlay.less';
@import 'xtend-library/src/addons/overlay/position.less';
@import 'xtend-library/src/addons/overlay/screen.less';

/**
 * .demo--2020-euroricambi-collapse
 */

.demo--2020-euroricambi-collapse {
  /**
   * vars
   */

  // ease

  @ease-in: @ease-out-quint;
  @ease-out: @ease-in-out-quint;

  /**
   * drop
   */

  .drop-default {
    > .drop-inner {
      box-shadow: @shadow-light;
      > .drop-design {
        box-shadow: none;
      }
    }
  }

  .drop-primary {
    > .drop-inner {
      box-shadow: @shadow-dark;
      > .drop-design {
        box-shadow: none;
      }
    }
  }

  // animation

  .drop-container {
    > .drop {
      > .drop-inner {
        .collapse-height();
        opacity: 0;
        transform: translateY(-1rem);
        > .drop-content {
          opacity: 0;
          transform: translateY(-1.5rem);
        }
      }
    }
    &.in {
      animation-duration: @time-medium; // needed for animation time and backdrop animation time, put max animation time
      > .drop {
        > .drop-inner {
          opacity: 1;
          transform: none;
          transition: height @time-medium @ease-in, transform @time-medium @ease-in, opacity @time-tiny @ease-in;
          > .drop-content {
            opacity: 1;
            transform: none;
            transition: transform @time-medium @ease-in, opacity @time-medium @ease-in;
          }
        }
      }
    }
    &.out {
      animation-duration: @time-small; // needed for animation time and backdrop animation time, put max animation time
      > .drop {
        > .drop-inner {
          opacity: 0;
          transform: translateY(1rem);
          transition: height @time-small @ease-out, transform @time-small @ease-out, opacity @time-tiny @ease-out @time-tiny;
          > .drop-content {
            opacity: 0;
            transform: translateY(1.5rem);
            transition: transform @time-small @ease-out, opacity @time-small @ease-out;
          }
        }
      }
    }
  }

  /**
    * overlay
    */

  // animation

  .overlay& {
    .collapse-height();
    .card-overlay {
      > .card-design {
        opacity: 0;
        transform: translateY(-2rem);
      }
      > .btn-close {
        opacity: 0;
      }
      > .card-inner {
        > .card-block,  > .card-content {
          opacity: 0;
          transform: translateY(-2.5rem);
        }
      }
    }
    &.in {
      animation-duration: @time-medium; // needed for animation time and backdrop animation time, put max animation time
      transition: height @time-medium @ease-in;
      .card-overlay {
        > .card-design {
          opacity: 1;
          transform: none;
          transition: transform @time-medium @ease-in, opacity @time-tiny @ease-in;
        }
        > .btn-close {
          // use animation to not override .btn transitions
          .anim-zoom.in();
          animation-delay: @time-medium;
        }
        > .card-inner {
          > .card-block,  > .card-content {
            opacity: 1;
            transform: none;
            transition: transform @time-medium @ease-in, opacity @time-tiny @ease-in;
          }
        }
      }
    }
    &.out {
      animation-duration: @time-small; // needed for animation time and backdrop animation time, put max animation time
      transition: height @time-small @ease-out, width @time-small @ease-out;
      .card-overlay {
        > .card-design {
          opacity: 0;
          transform: translateY(2rem);
          transition: transform @time-small @ease-out, opacity @time-tiny @ease-out @time-tiny;
        }
        > .btn-close {
          // use animation to not override .btn transitions
          .anim-zoom.out();
          animation-delay: initial;
        }
        > .card-inner {
          > .card-block,  > .card-content {
            opacity: 0;
            transform: translateY(2.5rem);
            transition: transform @time-small @ease-out, opacity @time-tiny @ease-out @time-tiny;
          }
        }
      }
    }
  }

  /**
   * group
   */

  .group {
    .collapse-width();
    &.in {
      transition: width @time-medium @ease-out;
    }
    &.out {
      transition: width @time-medium @ease-out;
    }
  }
}
