#iframe--xtend-v1 {
  /*##START*/
  body { /* add your own selector instead of body to contain the code */

    /**
      * drop
      */

    // animation

    .drop {
      > .drop-inner {
        > .drop-design {
          opacity: 0;
          transform: scale(.75);
        }
        > .drop-content {
          opacity: 0;
          transform: translateY(-1rem);
        }
      }
      &.active {
        animation-duration: @time-sm + @time-tiny; // needed for animation time, put max animation time
        > .drop-inner {
          > .drop-design {
            opacity: 1;
            transform: none;
            transition: transform @time-md @ease-in, opacity @time-md @ease-in;
          }
          > .drop-content {
            opacity: 1;
            transform: none;
            transition: transform @time-md @ease-in @time-tiny, opacity @time-md @ease-in @time-tiny;
          }
        }
      }
      &.out {
        animation-duration: @time-sm + @time-tiny; // needed for animation time, put max animation time
        > .drop-inner {
          > .drop-design {
            opacity: 0;
            transform: scale(.75);
            transition: transform @time-sm @ease-out @time-tiny, opacity @time-sm @ease-out @time-tiny;
          }
          > .drop-content {
            opacity: 0;
            transform: translateY(1rem);
            transition: transform @time-sm @ease-out, opacity @time-sm @ease-out;
          }
        }
      }
    }

    /**
      * overlay
      */

    .overlay {
      .card-item--menu {
        background: @accent;
      }
    }

    // animation

    .overlay {
      .card-overlay {
        .card-design {
          opacity: 0;
          transform: scale(.75);
        }
        > .btn-close {
          opacity: 0;
        }
        .card-block, .card-content {
          opacity: 0;
          transform: translateY(-1rem);
        }
      }
      &.active {
        animation-duration: @time-md + @time-tiny; // needed for animation time, put max animation time
        .card-overlay {
          .card-design {
            opacity: 1;
            transform: scale(1);
            transition: transform @time-md @ease-in, opacity @time-md @ease-in;
          }
          > .btn-close {
            // use animation to not override .btn transitions
            .anim-zoom.in();
            animation-delay: @time-md;
            animation-fill-mode: forwards;
            opacity: 0;
          }
          .card-block, .card-content {
            opacity: 1;
            transform: none;
            transition: transform @time-md @ease-in @time-tiny, opacity @time-md @ease-in @time-tiny;
          }
        }
      }
      &.out {
        animation-duration: @time-sm + @time-tiny; // needed for animation time, put max animation time
        .card-overlay {
          .card-design {
            opacity: 0;
            transform: scale(.75);
            transition: transform @time-sm @ease-out @time-tiny, opacity @time-sm @ease-out @time-tiny;
          }
          > .btn-close {
            // use animation to not override .btn transitions
            .anim-zoom.out();
            animation-delay: initial;
          }
          .card-block, .card-content {
            opacity: 0;
            transform: translateY(1rem);
            transition: transform @time-sm @ease-out, opacity @time-sm @ease-out;
          }
        }
      }
    }

    /**
      * card interactive
      */

    // variant

    a.card-default, label.card-default {
      &:hover {
        .card-design {
          box-shadow: @shadow-light;
        }
      }
      &:active, &.active {
        .card-design {
          box-shadow: none;
        }
      }
    }

    a.card-primary, label.card-primary {
      &:hover {
        .card-design {
          box-shadow: @shadow-accent;
        }
      }
      &:active, &.active {
        .card-design {
          box-shadow: none;
        }
      }
    }

    // animation

    a.card, label.card {
      transition: all @time-sm @ease-out;
      .card-design {
        transition: all @time-sm @ease-out;
      }
      &:hover {
        transform: translateY(-.5rem);
        transition: all @time-sm @ease-in;
        .card-design {
          transition: all @time-sm @ease-in;
        }
      }
      &:active, &.active {
        transform: none;
        transition: all @time-sm @ease-in;
        .card-design {
          transition: all @time-sm @ease-in;
        }
      }
    }

  }
  /*##END*/
}
