.demo--multilevel {
  .xt-toggle {
    /* initial */
    @apply transform transition;
    @apply -translate-x-10 opacity-0;
    /* active */
    &.active {
      @apply delay-300 translate-x-0 opacity-100;
    }
    /* out */
    &.out {
      @apply delay-0 opacity-0 translate-x-10;
    }
  }
}
