.demo--slider-disable, .demo--slider-disable-react {
  .xt-slider-disabled {
    .xt-slide {
      opacity: 1 !important;
    }
    .xt-slider-pagination {
      display: none;
    }
    .xt-wrap {
      visibility: hidden !important;
    }
  }
}
