.CCC--slider-overflow-auto, .CCC--slider-overflow-auto-react {
  .xt-overflow-auto {
    .xt-slides-inner {
      transform: none !important;
      transition-duration: initial !important;
      transition-delay: initial !important;
      justify-content: center !important;
    }
    .xt-slides-inner {
      justify-content: center !important;
    }
    .xt-slide {
      opacity: 1 !important;
    }
    .xt-slider-pagination {
      display: none !important;
    }
    .xt-wrap {
      display: none !important;
    }
    .xt-grab {
      cursor: inherit !important;
    }
  }
}
