.demo--slider-touch-overflow {
  @media (hover: none) {
    .xt-slides {
      @apply xt-overflow-sub;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .xt-slides-inner {
      @apply xt-duration-none xt-transform-none !important;
      cursor: auto !important;
    }
    .xt-slider-ui {
      display: none !important;
    }
  }
}
