/**
 * form-label-addon
 */

.form-label-addon {
  display: inline-flex;
  .margin(left, small);
  .btn {
    .btn-none();
  }
  > .list {
    .list-default();
  }
}

.form-label-addon-absolute {
  position: absolute;
  top: 0;
  right: 0;
}