@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/button/button.less';
@import '~xtend-library/src/core/form/form.less';

/**
 * form-label-addon
 */

.form-label-addon {
  position: absolute;
  top: 0;
  right: 0;
  .list();
  .list-default();
  .btn {
    .btn-none();
  }
}
