/**
 * card collapse
 */

.card-collapse {
  > .card-inner > .card-content {
    // @FIX card alignment inside button
    display: inline-flex;
  }
  .card-contents({
    > .card-item {
      padding: 0;
      & + .card-item {
        &:before {
          display: none;
        }
      }
    }
  });
}
