@import (reference) 'xtend-library/src/xtend-core.less';
@import 'xtend-library/src/core/card/card.less';
@import 'xtend-library/src/core/media/media.less';

/**
 * card-collapse
 */

.card-collapse {
  .card-contents({
    > .card-item {
      padding: 0 !important;
    }
  });
}

// size

.card-small {
  .card-collapse& {
    > .card-inner > .card-content {
      padding: 1.5rem 2rem;
    }
    .card-contents({
      .list-space(small);
    });
  }
}

.card-medium {
  .card-collapse& {
    > .card-inner > .card-content {
      padding: 2rem 2.5rem;
    }
    .card-contents({
      .list-space(medium);
    });
  }
}

.card-large {
  .card-collapse& {
    > .card-inner > .card-content {
      padding: 3rem 3.5rem;
    }
    .card-contents({
      .list-space(large);
    });
  }
}
