/**
 * card-collapse
 */

.card-collapse {
  .card-item {
    padding: 0 !important;
  }
}

// size

.card-small {
  &.card-collapse {
    .card-content {
      // same as .card-block.card-block-small padding
      padding: 2rem;
    }
    .card-content, .card-item-nested {
      // half as .card-block.card-block-small padding
      .list-space(1rem);
    }
  }
}

.card-medium {
  &.card-collapse {
    .card-content {
      // same as .card-block.card-block-medium padding
      padding: 2.5rem;
    }
    .card-content, .card-item-nested {
      // half as .card-block.card-block-medium padding
      .list-space(1.25rem);
    }
  }
}

.card-large {
  &.card-collapse {
    .card-content {
      // same as .card-block.card-block-large padding
      padding: 3rem;
    }
    .card-content, .card-item-nested {
      // half as .card-block.card-block-large padding
      .list-space(1.5rem);
    }
  }
}
