@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/card/card.less';
@import '~xtend-library/src/core/media/media.less';

@import '~xtend-library/src/addons/card/collapse.less';

/**
 * card full
 */

.card {
  .card-full& {
    > .card-inner > .card-content {
      padding: 0 !important;
    }
    &:not(:hover):not(.hover):not(:active):not(.active) {
      color: @text;
      > .card-design {
        border-color: transparent;
        background: transparent;
      }
    }
  }
}

// variant

.card-primary {
  .card-full& {
    &:not(:hover):not(.hover):not(:active):not(.active) {
      .card-block-head {
        background: @shade-200-dark;
      }
    }
  }
}

// size

.card-small {
  .card-full& {
    > .card-design {
      top: -1.5rem;
      left: -2rem;
      bottom: -1.5rem;
      right: -2rem;
    }
  }
}

.card-medium {
  .card-full& {
    > .card-design {
      top: -2rem;
      left: -2.5rem;
      bottom: -2rem;
      right: -2.5rem;
    }
  }
}

.card-large {
  .card-full& {
    > .card-design {
      top: -3rem;
      left: -3.5rem;
      bottom: -3rem;
      right: -3.5rem;
    }
  }
}
