/**
 * card-full
 */

.card {
  &.card-full {
    .card-content {
      padding: 0 !important;
    }
    // variant
    .text-default();
    .card-design {
      border-color: transparent;
      background: transparent;
    }
  }
}

// size

.card-small {
  &.card-full {
    .card-design {
      // same as .card-block.card-block-small padding
      top: -0.7rem;
      left: -0.7rem;
      bottom: -0.7rem;
      right: -0.7rem;
    }
  }
}

.card-medium {
  &.card-full {
    .card-design {
      // same as .card-block.card-block-medium padding
      top: -1rem;
      left: -1rem;
      bottom: -1rem;
      right: -1rem;
    }
  }
}

.card-large {
  &.card-full {
    .card-design {
      // same as .card-block.card-block-large padding
      top: -2rem;
      left: -2rem;
      bottom: -2rem;
      right: -2rem;
    }
  }
}
