/**
 * card interactive
 */

// variant

a.card-default, label.card-default {
  &:hover, &.hover {
    color: @text-dark;
    > .card-design {
      border-color: @shade-200;
      background: @white;
    }
  }
  &:active, &.active {
    color: @text-dark;
    > .card-design {
      border-color: @shade-200;
      background: @shade-200;
    }
  }
}

a.card-primary, label.card-primary {
  &:hover, &.hover {
    color: @text-inverse-dark;
    > .card-design {
      border-color: @accent-dark;
      background: @accent;
    }
  }
  &:active, &.active {
    color: @text-inverse-dark;
    > .card-design {
      border-color: @accent-dark;
      background: @accent-dark;
    }
  }
}

// animation

a.card, label.card {
  > .card-design {
    transition: all @time-small @ease-out;
  }
  &:hover, &.hover {
    > .card-design {
      transition: all @time-small @ease-in;
    }
  }
  &:active, &.active, input[type="checkbox"]:not(.unstyled):checked ~ &, input[type="radio"]:not(.unstyled):checked ~ & {
    > .card-design {
      transition: all @time-small @ease-in;
    }
  }
}
