@import 'xtend-library/src/addons/card/_separator.less';

/**
 * card-separator
 */

.card {
  &.card-separator {
    .card-item + .card-item,
    .card-item + .card-asset,
    .card-item + .card-content,
    .card-asset + .card-asset,
    .card-asset + .card-item,
    .card-asset + .card-content,
    .card-content + .card-content,
    .card-content + .card-item,
    .card-content + .card-asset {
      &:before {
        content: '';
        z-index: @index-active + 1;
        position: absolute;
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        width: auto;
        height: 1px;
      }
    }
  }
}

.card-separator-vertical {
  .card-item + .card-item,
  .card-asset + .card-item,
  .card-item + .card-asset {
    &:before {
      top: 0;
      left: 0;
      bottom: 0;
      right: auto;
      width: 1px;
      height: auto;
    }
  }
}

// variant

.card-default {
  &.card-separator {
    .card-item + .card-item,
    .card-item + .card-asset,
    .card-item + .card-content,
    .card-asset + .card-asset,
    .card-asset + .card-item,
    .card-asset + .card-content,
    .card-content + .card-content,
    .card-content + .card-item,
    .card-content + .card-asset {
      &:before {
        background: fade(@shade-900, 10%);
      }
    }
  }
}

.card-primary {
  &.card-separator {
    .card-item + .card-item,
    .card-item + .card-asset,
    .card-item + .card-content,
    .card-asset + .card-asset,
    .card-asset + .card-item,
    .card-asset + .card-content,
    .card-content + .card-content,
    .card-content + .card-item,
    .card-content + .card-asset {
      &:before {
        background: fade(@shade-200, 10%);
      }
    }
  }
}

// special

.card-horizontal {
  &.card-separator {
    .card-separator-vertical();
  }
}
