.demo--googlelocator, .demo--googlelocator-react {
  .googlelocator-main {
    /* hide map on mobile needs to be visible to work */
    @apply pointer-events-none invisible md:pointer-events-auto md:visible;
    @screen md {
      padding-left: 20rem;
    }
    @screen lg {
      padding-left: 25rem;
    }
    @screen xl {
      padding-left: 30rem;
    }
  }

  .googlelocator-aside {
    @screen md {
      width: 20rem;
      min-height: 100%;
      box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.2);
    }
    @screen lg {
      width: 25rem;
    }
    @screen xl {
      width: 30rem;
    }
  }

  .googlelocator-aside-body {
    @screen md {
      flex: 1 1 0;
    }
  }

  /* results */

  .googlelocator-result {
    display: none;
  }
  .googlelocator-result--initial {
    display: block;
  }

  &.found {
    .googlelocator-result {
      display: none;
    }
    .googlelocator-result--founds {
      display: block;
    }
  }

  &.noplace {
    .googlelocator-result {
      display: none;
    }
    .googlelocator-result--noplace {
      display: block;
    }
  }

  &.empty {
    .googlelocator-result {
      display: none;
    }
    .googlelocator-result--empty {
      display: block;
    }
  }

  &.error {
    .googlelocator-result {
      display: none;
    }
    .googlelocator-result--error {
      display: block;
    }
  }

  /* infoWindow */

  .gm-style {
    /* reset */
    .gm-style-iw-d {
      overflow: visible !important;
      max-width: none !important;
      max-height: none !important;
    }
    /* arrow */
    .gm-style-iw-t {
      &:after {
        background: theme('colors.white');
      }
    }
    /* box */
    .gm-style-iw-c {
      @apply py-2 px-6 !important;
      border: 0;
      border-radius: 0;
      background: theme('colors.white');
      .googlelocator-item {
        @apply border-0;
        cursor: inherit;
      }
      /* scroll */
      @apply xt-overflow-sub;
      overflow-x: hidden !important;
      overflow-y: auto !important;
      max-height: 15rem !important;
    }
    /* close */
    .gm-style-iw-d + button {
      top: 0 !important;
      right: 0 !important;
      width: 2rem !important;
      height: 2rem !important;
      background: theme('colors.primary.500') !important;
      font-size: 25px;
      color: theme('colors.white') !important;
      line-height: 0;
      text-align: center;
      opacity: 1 !important;
      &:before {
        content: '×';
        position: relative;
      }
      img {
        display: none !important;
      }
    }
  }
}
