//////////////////////
// animations
//////////////////////

.no-transition {
  transition-duration: 0ms !important;
}

.no-animation {
  animation-duration: 0ms !important;
}

.no-anim {
  animation-duration: 0ms !important;
  transition-duration: 0ms !important;
}

//////////////////////
// delay
//////////////////////

/* USAGE:
transition-delay: 150ms; // default delay @start + @child * @increment
.nth-child(@child:6, @start:0ms, @increment:25ms, @decrement:0ms, {
  .optional-nested {
    @nth-child-animation-delay();
    @nth-child-transition-delay();
  }
});
*/
.nth-child(@child, @start, @increment, @decrement, @rules) when(@child > 0) {
  .nth-child(@child - 1, @start, @increment, @decrement, @rules);
  &:nth-child(@{child}) {
    @rules();
  }
}
@nth-child-animation-delay: {
  animation-delay: @start + (@child * @increment) - (@child * @decrement);
};
@nth-child-transition-delay: {
  transition-delay: @start + (@child * @increment) - (@child * @decrement);
};

//////////////////////
// collapse
//////////////////////

.collapse-height {
  height: 0;
}
.collapse-width {
  width: 0;
}
.collapse-height,
.collapse-width,
.collapse-top,
.collapse-bottom,
.collapse-left,
.collapse-right {
  overflow: hidden;
}