//////////////////////
// group
//////////////////////

.form-group {
  position: relative;
}

// selectors

.form-groups(@rules) {
  .form-group {
    @rules();
  }
}

// components

.form-group-flex {
  .display(flex);
}

.form-group-horizontal {
  .display(flex);
  .label-control {
    .margin(all, none);
  }
}

.form-group-inline {
  .display(flex);
  .input-control {
    width: auto;
  }
}

//////////////////////
// label
//////////////////////

.label-control {
  .display(block);
}

//////////////////////
// input
//////////////////////

.input-control {
  .display(block);
  width: 100%;
  z-index: 1;
  &:hover, &:active, &.active {
    z-index: 2;
  }
  // select arrow
  select& {
    .padding(right, @select-space-size * 2) !important;
    white-space: normal;
    background-position:
      calc(~'100% - ' @select-space-size / 2) 50%,
      calc(~'100% - ' @select-space-size / 2 + @select-arrow-size) 50%,
      100% 0;
    background-size:
      @select-arrow-size @select-arrow-size,
      @select-arrow-size @select-arrow-size,
      @select-space-size 100%;
    background-repeat: no-repeat;
  }
}

//////////////////////
// check and radio
//////////////////////

.input-special, input[type="checkbox"], input[type="radio"] {
  display: block;
  float: left;
  & + .label-control {
    .label-special();
  }
}
.label-special {
  display: block;
  overflow: hidden;
}

//////////////////////
// input-group
//////////////////////

.input-group {
  position: relative;
  .display(flex);
  .flex-nowrap();
  width: 100%;
  // .input-control
  .input-control {
    &:first-child {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    &:last-child {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0 !important;
    }
  }
}

// shared

.input-group-line,
.input-group-stack {
  .btn {
    .text-align(center);
  }
  .input-control ~ & {
    .btn {
      .margin(right, none);
    }
  }
}

// .input-group-line

.input-group-line {
  .display(flex);
  // border
  &:first-child {
    .btn {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  &:last-child {
    .btn {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  &:not(:first-child):not(:last-child) {
    .btn {
      border-radius: 0 !important;
    }
  }
}

// .input-group-stack

.input-group-stack {
  .display(flex);
  .flex-row();
  .flex-wrap();
  // .btn
  .btn {
    width: 100%;
  }
  .btn + .btn {
    margin-top: -@btn-border-width;
  }
  &:first-child {
    .btn {
      &:not(:first-child) {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
      }
      &:not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
      &:not(:first-child):not(:last-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
  &:last-child {
    .btn {
      &:not(:first-child) {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
      &:not(:last-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      &:not(:first-child):not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}
