//////////////////////
// icon
//////////////////////

.xt-icon {
  display: inline-block;
  position: relative;
  font-family: @icons-family !important;
  font-size: @icon-medium;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^='xt-icon-'], [class*=' xt-icon-'] {
  &:before {
    .xt-icon();
  }
}

// .generate-icons

& when (@classes-icons) {

  .generate-icons();
  .generate-icons(@i:length(@icons)) when (@i > 0) {
    .generate-icons(@i - 1);
    @icon: extract(@icons, @i);
    @name: extract(@icon, 1);
    @val: extract(@icon, 2);
    .xt-icon-@{name} {
      &:before {
        content: @val;
      }
    }
  }

}

// icon :before or :after

.icon(@content, @size:@icon-medium, @sr-only:false, @position:before) {
  & when (@sr-only = true) {
    > span {
      .sr-only();
    }
  }
  &:@{position} {
    .xt-icon();
    content: @content;
    font-size: @size;
  }
}
