//////////////////////
// toggle
//////////////////////

.toggle-block {
  .display(none) !important;
  &.active, &.out {
    .display(block) !important;
  }
}

.toggle-flex {
  .display(none) !important;
  &.active, &.out {
    .display(flex) !important;
  }
}

.toggle-inline-flex {
  .display(none) !important;
  &.active, &.out {
    .display(inline-flex) !important;
  }
}

.toggle-inline {
  .display(none) !important;
  &.active, &.out {
    .display(inline) !important;
  }
}

.toggle-inline-block {
  .display(none) !important;
  &.active, &.out {
    .display(inline-block) !important;
  }
}

.toggle-none {
  &.active, &.out {
    .display(none) !important;
  }
}

.toggle-visible {
  visibility: hidden !important;
  &.active, &.out {
    visibility: visible !important;
  }
}

.toggle-hidden {
  &.active, &.out {
    visibility: hidden !important;
  }
}

//////////////////////
// utils
//////////////////////

// .xt-container

.xt-container {
  width: 100%;
}

// .xt-scrollbar

html.xt-scrollbar {
  body {
    overflow-y: hidden;
  }
  .overlay-outer {
    overflow-y: scroll;
  }
}

//////////////////////
// xt-scroll
//////////////////////

/**
 * .xt-sticky()
 * @param {String} @mode Starting mode be 'absolute' or 'fixed'
 * @param {String} @position Can be 'top' or 'bottom'
 * @param {Value} @pos Position value
 */
.xt-sticky(@mode:none, @position:'top', @pos:0) {
  .show-sticky {
    display: none;
  }
  .hide-sticky {
    display: block;
  }
  // normal mode
  &.xt-clone {
    position: absolute !important;
    visibility: hidden !important;
    top: 0 !important;
    &.active {
      position: relative !important;
    }
  }
  // absolute mode
  & when (@mode = 'absolute') {
    &.xt-clone {
      position: relative !important;
    }
    .xt-container > & {
      position: absolute;
      width: 100%;
    }
  }
  // fixed mode
  & when (@mode = 'fixed') {
    &.xt-clone {
      position: relative !important;
    }
    .xt-container > & {
      position: fixed;
      width: 100%;
    }
  }
  // activation
  &.active:not(.xt-clone) {
    position: fixed !important;
    width: inherit; // fix fixed width
    z-index: @index-sticky;
    & when (@position = 'top') {
      top: @pos;
    }
    & when (@position = 'bottom') {
      bottom: @pos;
    }
    .show-sticky {
      display: block;
    }
    .hide-sticky {
      display: none;
    }
  }
}
