@import (reference) "../../../../../dist/styles/xtend.less";

.overlay-message {
  // styles
  position: fixed;
  z-index: @index-overlay !important;
  top: 50%;
  width: calc(100vw - 510px);
  text-align: center;
  @media @max-sm {
    display: none;
  }
  // add box shadow to button
  .overlay-dismiss {
    &@{btn-design} {
      box-shadow: 3px 3px 15px fade(@black, @perc-sm);
    }
  }
  .overlay-left & {
    right: 0;
    margin-right: 3rem;
  }
  .overlay-right & {
    left: 0;
    margin-left: 3rem;
  }
  // animations
  .overlay-left.active & {
    .anim-right.active();
    opacity: 1;
  }
  .overlay-left.out & {
    .anim-right.out();
    opacity: 0;
  }
  .overlay-right.active & {
    .anim-left.active();
    opacity: 1;
  }
  .overlay-right.out & {
    .anim-left.out();
    opacity: 0;
  }
}