@import (reference) "../../../../../dist/styles/xtend.less";

.content-head {
  .list();
  .list-space(none);
  .flex-auto();
  padding: 0 !important;
  height: 63px;
  background-color: @primary;
  > .btn {
    .display(flex);
    .align-items-center();
  }
}