@import (reference) "../../../../../dist/styles/xtend.less";

//////////////////////
// xtend extension: overlay content
//////////////////////

.overlay_outer {
  .overlay_inner {
    > .btn--close {
      .btn--primary();
    }
    > .content.content-menu {
      .list();
      .list_space(none);
      .flex-auto();
      padding: 0 !important;
      height: 63px;
      background-color: @primary;
      > .btn {
        .display(flex);
        .align-items-center();
      }
    }
    > .content.content-title {
      border-bottom: 1px solid @grey--250;
    }
    > .content.content-foot {
      border-top: 1px solid @grey--250;
    }
  }
  // animations
  &.active {
    .overlay_inner {
      > .content.content-menu {
        .anim--top.active();
        animation-delay: @time--small;
      }
    }
  }
  &.out {
    .overlay_inner {
      > .content.content-menu {
        .anim--top.out();
        animation-delay: @time--small;
      }
    }
  }
}