@import (reference) "../../../../../dist/styles/xtend.less";

//////////////////////
// xtend extension: overlay_message
//////////////////////

.overlay_message {
  // styles
  position: fixed;
  z-index: @index--overlay !important;
  top: 50%;
  width: calc(100vw - 510px);
  text-align: center;
  @media @max-sm {
    display: none;
  }
  // add box shadow to button
  .overlay_dismiss {
    &@{btn--design} {
      box-shadow: 3px 3px 15px fade(@black, @perc--sm);
    }
  }
  .overlay--left & {
    right: 0;
    margin-right: 3rem;
  }
  .overlay--right & {
    left: 0;
    margin-left: 3rem;
  }
  // animations
  .overlay--left.active & {
    .anim--right.active();
  }
  .overlay--left.out & {
    .anim--right.out();
  }
  .overlay--right.active & {
    .anim--left.active();
  }
  .overlay--right.out & {
    .anim--left.out();
  }
}