/**
 * group-number
 */

.group-number-line {
  .form-item {
    width: 5.5rem;
  }
}

.group-number-stack {
  .form-item {
    width: 5.5rem;
  }
}

.group-number {
  input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}
