@import (reference) "../../../../../../../dist/styles/xtend.less";

//##START
// slider

.slider {
  .slides_inner {
    overflow: hidden;
    // dragger animations
    .transition-none() !important;
  }
}

// animation

.slide {
  &:after {
    content: '';
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: @white;
    transform: translateX(0);
  }
  &.active {
    .anim-x-inverse.active();
    animation-duration: @time--big;
    &:after {
      animation-name: anim-special--in;
      animation-duration: @time--big;
      animation-timing-function: @bez--in;
      transform: translateX(-100%);
    }
    &.inverse {
      .anim-x.active();
      animation-duration: @time--big;
      &:after {
        animation-name: anim-special-in-inverse;
        animation-duration: @time--big;
        animation-timing-function: @bez--in;
        transform: translateX(100%);
      }
    }
  }
  &.out {
    .anim-x-inverse.out();
    animation-duration: @time--big;
    &:after {
      animation-name: anim-special--out;
      animation-duration: @time--big;
      animation-timing-function: @bez--out;
      transform: translateX(0);
    }
    &.inverse {
      .anim-x.out();
      animation-duration: @time--big;
      &:after {
        animation-name: anim-special-out-inverse;
        animation-duration: @time--big;
        animation-timing-function: @bez--out;
        transform: translateX(0);
      }
    }
  }
}

@keyframes anim-special--in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes anim-special-in-inverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes anim-special--out {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes anim-special-out-inverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
//##END
