//////////////////////
// form-item
//////////////////////

.form-item {
  position: relative;
}

// selectors

.form-items(@rules) {
  .form-item {
    @rules();
  }
}

// addons

.form-item--flex {
  .display(flex);
}

.form-item--horizontal {
  .display(flex);
  .form-label {
    .margin(all, none);
  }
}

.form-item--inline {
  .display(flex);
  .flex-wrap(nowrap);
  .form-input {
    width: auto;
  }
}

//////////////////////
// form-input
//////////////////////

.form-input {
  .display(block);
  width: 100%;
  // styles
  border-radius: @input--border-radius;
  border-width: @input--border-width;
  border-style: solid;
  border-color: transparent;
  // select arrow
  select& {
    .padding(right, @select-space--size) !important;
    white-space: normal;
    background-position: calc(~'100% - '@select-space--size / 2) 50%,
    calc(~'100% - ('@select-space--size / 2~') + '@select-arrow--size) 50%,
    100% 0;
    background-size: @select-arrow--size @select-arrow--size,
    @select-arrow--size @select-arrow--size,
    @select-space--size 100%;
    background-repeat: no-repeat;
  }
}

//////////////////////
// form-label
//////////////////////

.form-label {
  .display(block);
  position: relative;
  cursor: pointer;
  .user-select--none();
}

//////////////////////
// check and radio
//////////////////////

.checkbox,
.radio {
  position: relative;
  &:not(.disabled) {
    cursor: pointer;
  }
  // label
  .form-label();
  .checkradio-label();
  // check and radio styled design
  &::before,
  &::after {
    content: '';
    position: absolute !important;
    top: 0;
    left: 0;
  }
  &::before {
    pointer-events: none;
  }
  &::after {
    .display(flex) !important;
    .align-items(center);
    .justify-content(center);
  }
}

// styled

input[type="checkbox"]:not(.unstyled),
input[type="radio"]:not(.unstyled) {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"]:not(.unstyled) {
  & ~ .form-label {
    .checkbox();
  }
}

input[type="radio"]:not(.unstyled) {
  & ~ .form-label {
    .radio();
  }
}

// unstyled

input[type="checkbox"].unstyled,
input[type="radio"].unstyled {
  display: block;
  float: left;
  & ~ .form-label {
    display: block;
    overflow: hidden;
  }
  & ~ .form-label {
    .checkradio-label();
  }
}