//////////////////////
// group
//////////////////////

.group {
  .link--none();
  position: relative;
  .display(inline-flex) !important;
  .flex-nowrap();
  margin: 0 !important;
  padding: 0 !important;
  // .input-control
  > .input-control {
    // border
    &:first-child {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    &:last-child {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0 !important;
    }
  }
}

// .group-inner

.group-inner {
  .display(inline-flex);
  .flex-column();
  .flex-wrap();
  margin: 0 !important;
  // .btn
  > * {
    .flex-auto();
    .text-align(center);
    white-space: nowrap;
    + * {
      margin-top: -@btn--border-width;
    }
  }
  .input-control ~ & {
    > * {
      .margin(right, none);
    }
  }
  // border inline
  &:first-child {
    > * {
      &@{btn--design} {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
  &:last-child {
    > * {
      &@{btn--design} {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
  &:not(:first-child):not(:last-child) {
    > * {
      &@{btn--design} {
        border-radius: 0 !important;
      }
    }
  }
  // border stack
  &:first-child {
    > * {
      &:not(:first-child) {
        &@{btn--design} {
          border-bottom-right-radius: 0 !important;
          border-top-right-radius: 0 !important;
          border-top-left-radius: 0 !important;
        }
      }
      &:not(:last-child) {
        &@{btn--design} {
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
      &:not(:first-child):not(:last-child) {
        &@{btn--design} {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
    }
  }
  &:last-child {
    > * {
      &:not(:first-child) {
        &@{btn--design} {
          border-bottom-left-radius: 0 !important;
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
        }
      }
      &:not(:last-child) {
        &@{btn--design} {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
      &:not(:first-child):not(:last-child) {
        &@{btn--design} {
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }
  }
}

// .group-collapse-border

.group-collapse-border {
  .group-inner {
    margin-left: 0 !important;
    margin-right: -@input--border-width !important;
  }
  .input-control ~ .group-inner {
    margin-left: -@input--border-width !important;
    margin-right: 0 !important;
  }
}