//////////////////////
// icon
//////////////////////

.icon--base() {
  display: inline-block;
  position: relative;
  font-size: @icon--medium;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  img& {
    top: -.1em;
    width: auto;
    height: @icon--medium;
  }
}

//////////////////////
// icons xtend
//////////////////////

// styles

.icon_xt {
  .icon--base();
  font-family: @icons_xt--family;
}

[class^='icon_xt--'], [class*=' icon_xt--'] {
  display: inline-block;
  &::before {
    .icon_xt();
  }
}

// mixins

.icon_xt(@content, @size: @icon--medium, @position: after) {
  & when (@position = before) {
    &::before {
      .icon_xt();
      content: '@{content}';
      font-size: @size;
    }
  }
  & when (@position = after) {
    &::after {
      .icon_xt();
      content: '@{content}';
      font-size: @size;
    }
  }
}

// generate icons

& when (@classes--icons) {

  .generate-icons();
  .generate-icons(@i:length(@icons_xt)) when (@i > 0) {
    .generate-icons(@i - 1);
    @name: extract(@icons_xt, @i);
    @val: ~"icon_xt--@{name}";
    .icon_xt--@{name} {
      &::before {
        content: @@val;
      }
    }
  }

}

//////////////////////
// icons theme
//////////////////////

@icons--family: none;
@icons: none;

// styles

.icon {
  & when not (@icons--family = none) {
    .icon--base();
    font-family: @icons--family;
  }
}

[class^='icon--'], [class*=' icon--'] {
  display: inline-block;
  &::before {
    .icon();
  }
}

// mixins

.icon(@content, @size: @icon--medium, @position: after) {
  & when (@position = before) {
    &::before {
      .icon();
      content: '@{content}';
      font-size: @size;
    }
  }
  & when (@position = after) {
    &::after {
      .icon();
      content: '@{content}';
      font-size: @size;
    }
  }
}

// generate icons

& when not (@icons--family = none) {

  & when (@classes--icons) {

    .generate-icons();
    .generate-icons(@i:length(@icons)) when (@i > 0) {
      .generate-icons(@i - 1);
      @name: extract(@icons, @i);
      @val: ~"icon--@{name}";
      .icon--@{name} {
        &::before {
          content: @@val;
        }
      }
    }

  }

}
