@import '~xtend-library/src/core/icon/icon-setup.less';
@import '~xtend-library/src/core/icon/icon.less';

/**
 * vars
 */

// generate class: [false], [true] non responsive only, [sm, md, lg] responsive @breakpoints

@generate-icon: true;

// size

@icon-tiny: .5em;
@icon-small: .75em;
@icon-medium: 1em;
@icon-big: 1.25em;
@icon-giant: 1.5em;
