@import (reference) "../../../../../../dist/styles/xtend.less";

.group-number-line {
  .group-input();
  .form-input {
    width: 5.5rem;
  }
}

.group-number-stack {
  .group-input();
  .form-input {
    width: 5.5rem;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
