@import '~xtend-library/src/extension/card/collapse-setup.less';

/**
 * card collapse
 */

.card-content.card-collapse {
  .list-block();
}

.card-item.card-collapse {
  padding: 0;
}

.card-item + .card-item.card-collapse {
  &:before {
    display: none;
  }
}

// size

.card--small {
  .card-content.card-collapse {
    padding: 1.5rem 2rem;
  }
  .card-content.card-collapse, .card-item-nested.card-collapse {
    .list-space(small);
  }
}

.card--medium {
  .card-content.card-collapse {
    padding: 2rem 2.5rem;
  }
  .card-content.card-collapse, .card-item-nested.card-collapse {
    .list-space(medium);
  }
}

.card--big {
  .card-content.card-collapse {
    padding: 3rem 3.5rem;
  }
  .card-content.card-collapse, .card-item-nested.card-collapse {
    .list-space(big);
  }
}
