@import '~xtend-library/src/extension/card/collapse-setup.less';

/**
 * box collapse
 */

.card--collapse {
  // default options
  .card--medium-collapse();
}

// size

.card--small-collapse {
  .card-content {
    padding: 1.5rem 2rem;
  }
  .card-content, .card-item-nested {
    .list-space(small);
  }
}

.card--medium-collapse {
  .card-content {
    padding: 2rem 2.5rem;
  }
  .card-content, .card-item-nested {
    .list-space(medium);
  }
}

.card--big-collapse {
  .card-content {
    padding: 3rem 3.5rem;
  }
  .card-content, .card-item-nested {
    .list-space(big);
  }
}
