@import '~xtend-library/src/extension/card/collapse-setup.less';

/**
 * box collapse
 */

.box--collapse {
  // default options
  .box--medium-collapse();
}

// size

.box--small-collapse {
  .box-content {
    padding: 1.5rem 2rem;
  }
  .box-content, [class^='box-group'], [class*=' box-group'] {
    .list-space(small);
  }
}

.box--medium-collapse {
  .box-content {
    padding: 2rem 2.5rem;
  }
  .box-content, [class^='box-group'], [class*=' box-group'] {
    .list-space(medium);
  }
}

.box--big-collapse {
  .box-content {
    padding: 3rem 3.5rem;
  }
  .box-content, [class^='box-group'], [class*=' box-group'] {
    .list-space(big);
  }
}
