/**
 * box full
 */

.box--full {
  color: @text;
  .box-design {
    border-color: transparent;
    background: transparent;
  }
  .box-content {
    padding: 0 !important;
  }
  // default options
  .box--medium-full();
}

// size

.box--small-full {
  .box-design {
    top: -1rem;
    left: -1.5rem;
    bottom: -1rem;
    right: -1.5rem;
  }
}

.box--medium-full {
  .box-design {
    top: -1.5rem;
    left: -2rem;
    bottom: -1.5rem;
    right: -2rem;
  }
}

.box--big-full {
  .box-design {
    top: -2.5rem;
    left: -3rem;
    bottom: -2.5rem;
    right: -3rem;
  }
}
