/**
 * card--group
 */

.card-group {
  display: flex;
}

.card-item-nested {
  margin: 0 !important;
  padding: 0 !important;
}

/**
 * @generate-card-group
 */

// generate

& when not (@generate-card-group = false) {

  // generate-card--horizontal-responsive

  .generate-card--horizontal-responsive();
  .generate-card--horizontal-responsive(@i: length(@generate-card-group)) when (@i > 0) {
    .generate-card--horizontal-responsive(@i - 1);
    @breakpoint: extract(@generate-card-group, @i);
    & when (@breakpoint = none) {
      .card-group {
        .card--group() !important;
      }
    }
    & when not (@breakpoint = none) {
      @query-min: 'min-@{breakpoint}';
      @media @@query-min {
        .card-group--@{breakpoint} {
          .card-group() !important;
        }
      }
    }
  }

}
