@import '~xtend-library/src/extension/card/horizontal-setup.less';

/**
 * vars
 */

// generate class: [false], [true] non responsive, [sm, md, lg] responsive breakpoints

@generate-class--card--horizontal: sm, md, lg;

/**
 * xtend extension: card--horizontal
 */

.card--horizontal {
  .card-content + .card-content {
    border: 0;
    border-left: 1px solid fade(@gray--800, 20%);
  }
}
