@import '~xtend-library/src/core/typography/_typography.less';

/**
 * font face
 */

@import (css) url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.font-sans-regular() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-sans-semibold() {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-monospace() {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-weight: normal;
  font-style: normal;
}

/**
 * rem
 */

// rem

html {
  // base font size for rem
  // 100% is 16px
  // value(%) = desired(px) * 100 / 16
  font-size: 56.25%; // 9px
  @media @min-md {
    font-size: 62.5%; // 10px
  }
  @media @min-xl {
    font-size: 68.75%; // 11px
  }
}

body {
  .font-sans-regular();
  .font-medium();
  color: @text;
  font-variant-ligatures: none;
}

/**
 * spacing
 */

.spacing-none {
  .margin(top, none);
  .margin(bottom, none);
}

.spacing-tiny {
  .margin(top, small);
  .margin(bottom, tiny);
  .margin(y, layout);
}

.spacing-small {
  .margin(top, medium);
  .margin(bottom, small);
  .margin(y, layout);
}

.spacing-medium {
  .margin(top, big);
  .margin(bottom, medium);
  .margin(y, layout);
}

.spacing-big {
  .margin(top, giant);
  .margin(bottom, big);
  .margin(y, layout);
}

/**
 * header
 */

h1, .h1 {
  .spacing-medium();
  .font-sans-semibold();
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0;
  text-transform: none;
}

h2, .h2 {
  .spacing-medium();
  .font-sans-semibold();
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}

h3, .h3 {
  .spacing-medium();
  .font-sans-semibold();
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}

h4, .h4 {
  .spacing-medium();
  .font-sans-semibold();
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}

h5, .h5 {
  .spacing-medium();
  .font-sans-semibold();
  font-size: 1.7rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: none;
}

h6, .h6 {
  .spacing-medium();
  .font-sans-semibold();
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: .025em;
  text-transform: uppercase;
}

// special

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  & + & { // sequential spacing
    .margin(top, medium) !important;
  }
}

.header-block {
  .spacing-medium();
  .padding(y, small);
  .padding(x, medium);
  border: 1px solid @gray-200;
  background: @gray-100;
  text-align: center;
}

.header-line {
  .spacing-medium();
  .padding(bottom, small);
  border-bottom: 3px solid @gray-200;
}

/*
.header-line {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  .margin(bottom, big) !important;
  .padding(bottom, 3rem);
  // line
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: @gray-250;
  }
  // spacing
  > * + * {
    .margin(left, small);
  }
}
*/

/**
 * text
 */

p {
  .margin(bottom, medium);
  .margin(bottom, layout);
}

strong {
  .font-sans-semibold();
}

small {
  font-size: .8em;
}

.muted {
  opacity: .5;
}

.font-small {
  font-size: 1.3rem;
  line-height: 1.6;
}

.font-medium {
  font-size: 1.5rem;
  line-height: 1.6;
}

.font-big {
  font-size: 1.7rem;
  line-height: 1.6;
}

// text-inverse

.text-inverse {
  color: @text-inverse;
  h1, h2, h3, h4, h5, h6, .header {
    color: inherit;
  }
}

/**
 * ul ol
 */

ul, ol {
  .margin(top, none);
  .margin(bottom, medium);
  padding-left: 2rem;
  > li {
    .margin(bottom, medium);
  }
  > ul, > ol {
    .margin(y, medium);
  }
}

ul {
  list-style: disc;
  ul {
    list-style: circle;
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
  }
}

// ul list-style custom

/*
ul {
  list-style: none;
  padding-left: 0;
  > li {
    padding-left: 42px;
    background-image: url('../../assets/images/list-style-image-squared.svg');
    background-size: 24px auto;
    background-position: left 6px;
    background-repeat: no-repeat;
  }
}
*/

// .list-reset
// use this mixin to reset styles on xtend ul.list ul.slides-inner etc..

.list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    margin: 0;
    padding: 0;
    background: none;
  }
}

/**
 * dl
 */

dl {
  .margin(bottom, medium);
  .margin(bottom, layout);
  .dl-block();
  line-height: 1.6;
  dt {
    .font-sans-semibold();
  }
  dd {
    .font-sans-regular();
  }
}

// .dl-block

.dl-block {
  dt {
    .padding(top, small);
  }
  dd {
    .padding(top, tiny);
  }
}

// .dl-line

.dl-line {
  dt {
    .padding(top, tiny);
  }
  dd {
    .padding(left, small);
    .padding(top, tiny);
  }
}

// .dl-horizontal

.dl-horizontal {
  text-align: left;
  dt {
    .padding(top, tiny);
    .padding(right, small);
    float: left;
    clear: left;
    width: 80px;
  }
  dd {
    .padding(left, small);
    .padding(top, tiny);
    margin-left: 80px;
  }
}
