
@import '~xtend-library/src/addons/slider/navigation-sides.less';

.demo_2019-sun68 {
  background: @black;
  .slides-inner {
    .row-space(none);
  }
  .slide {
    .col(12);
  }
  .slider-navigation {
    color: @white;
  }
  .slider-pagination {
    display: none;
  }
  .slide_item {
    .link-none();
    display: block;
  }
  .slide_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60rem;
    max-height: 600px;
    @media @min-sm {
      max-height: 120rem;
    }
  }
  .slide_img_inner {
    width: 100%;
    height: 100%;
  }
  .slide_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .padding(y, big);
    color: @white;
    text-align: center;
    @media @min-sm {
      justify-content: flex-start;
      text-align: left;
    }
  }
  .slider-navigation-sides {
    color: @white;
    &:active {
      color: @black;
    }
  }
}
