@import '~xtend-library/src/extensions/slider/slider.less';

// structure

.demo--slider--2019-webgriffe {
  position: relative;
  z-index: 1;
  background: #3E3E3E;
  // slides
  .slides_inner {
    .row();
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .slide {
    .col(12);
    .container {
      @media @min-sm {
        padding-right: 0 !important;
      }
    }
    // animation
    .slider_text a {
      opacity: .5;
      transform: translateX(0);
      transition: opacity @time-medium @ease-cheetah;
    }
    @media @max-md {
      .slider_img--inner picture {
        opacity: 0;
        transform: translateY(1.5rem);
        transition: opacity @time-medium @ease-cheetah, transform @time-medium @ease-cheetah;
      }
    }
    &.initial {
      .slider_text a,
      .slider_img--inner picture {
        .transition-none() !important;
      }
    }
    .slider--disable&,
    &.active, &:not(.active):hover {
      .slider_text a {
        opacity: 1;
        transition: opacity @time-small @ease-cheetah;
      }
      @media @max-md {
        .slider_img--inner picture {
          opacity: 1;
          transform: translateY(0);
          transition: opacity @time-medium @ease-cheetah @time-small, transform @time-medium @ease-cheetah @time-small;
        }
      }
    }
  }
  .slide_content {
    display: flex;
    align-items: flex-start;
    .align-items(center, md);
    position: relative;
    .padding(y, 120px);
    /*
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    */
  }
  .h1-slider {
    .spacing-small();
    .font-sans-semibold();
    font-size: 5.8rem !important;
    line-height: 1;
    letter-spacing: 0;
    text-transform: none;
    @media @min-sm {
      font-size: 8rem !important;
    }
  }
  .h2-slider {
    .margin(top, 0) !important;
    .margin(bottom, 0) !important;
    max-width: 60rem;
    .font-sans-semibold();
    font-size: 20px !important;
    color: fade(@text, 75%);
    line-height: 1.4;
    letter-spacing: 0;
    text-transform: none;
    @media @max-sm {
      font-size: 16px !important;
    }
  }
  /*
  .h3-slider {
    .margin(top, 0) !important;
    .margin(bottom, small) !important;
    .font-sans-semibold();
    font-size: 2.7rem !important;
    color: fade(@text, 75%);
    line-height: 1;
    letter-spacing: 0;
    text-transform: none;
  }
  */
}

// text

.demo--slider--2019-webgriffe {
  .slide_content_inner {
    .xt-container {
      z-index: 1;
    }
    > .xt-container {
      position: absolute;
    }
  }
  .slider_text {
    position: relative;
    z-index: 2;
    line-height: 1.2;
    > .xt-container {
      z-index: 2;
    }
    .slider-expand & {
      .transform-none() !important;
    }
    a {
      .link-none();
      .slider-expand & {
        .transform-none() !important;
      }
      .slider-disable & {
        pointer-events: none;
      }
    }
    // fix width sticky
    .slider_text_inner {
      .slider-expand & {
        .transform-none() !important;
      }
    }
  }
}

// img

.demo--slider--2019-webgriffe {
  .slider_img {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100vw !important;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    @media @min-lg {
      width: 95vw !important;
    }
    @media @min-xl {
      width: 90vw !important;
    }
    display: flex;
    @media @max-md {
      align-items: flex-end;
      justify-content: center;
    }
    @media @min-md {
      align-items: center;
      justify-content: flex-end;
    }
    .slider--expand & {
      .transform-none() !important;
    }
    .slider_img--inner {
      position: absolute;
      bottom: 0;
      height: 100%;
      @media @max-md {
        picture {
          display: flex;
          align-items: flex-end;
        }
        picture {
          height: 100%;
        }
        img {
          width: auto;
          height: 60%;
        }
      }
      @media @min-md {
        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}

// loader

.demo--slider--2019-webgriffe {
  .loader--js {
    position: absolute;
    bottom: -40px;
    left: -3px;
    margin-top: 50px;
    .spinner {
      width: 43px;
      height: 43px;
      @media @min-md {
        width: 50px;
        height: 50px;
      }
      circle {
        stroke-width: 0;
        stroke: transparent;
      }
      svg:nth-child(1) {
        circle {
          fill: fade(@black, 10%);
        }
      }
      .spinner-icon {
        display: block;
        position: absolute;
        top: 22px;
        left: 14px;
        font-size: 8px;
        @media @min-md {
          top: 25px;
          left: 17px;
        }
        color: @white;
        line-height: 0;
        .active& {
          animation: demo--slider--2019-webgriffe_bounce 2s infinite;
          animation-delay: 1s;
        }
      }
      .spinner-text {
        position: absolute;
        top: 20px;
        left: 50px;
        .font-sans-semibold();
        font-size: 17px;
        white-space: nowrap;
      }
    }
  }
  // animation
  .loader--js {
    display: none;
  }
  @media @max-md {
    &.active {
      .loader--js {
        display: block;
      }
    }
  }
}

@keyframes demo--slider--2019-webgriffe_bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
