/**
 * jump-to-content
 */

.jump-to-content {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: @index-top;
  // animation
  opacity: 0;
  &.active {
    .anim-y.in();
  }
  &:not(.active) {
    .anim-y-inverse.out();
  }
}
