@import (reference) '/src/xtend-core.less';
@import '/src/core/card/card.less';

/**
 * sticky-footer
 */

.site_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // fix mobile scroll outside
  overflow: hidden;
}

.site_main {
  .flex-auto();
  display: flex;
  flex-direction: column;
}
