.list-check {
  > li {
    padding-left: 2em;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.965" height="16.965" viewBox="0 0 16.965 16.965"><path id="Path_5252" data-name="Path 5252" d="M-13914.514-2387.523a8.494,8.494,0,0,1-2.488-6,8.482,8.482,0,0,1,2.485-6,8.481,8.481,0,0,1,6-2.485,8.48,8.48,0,0,1,6,2.485,8.481,8.481,0,0,1,2.484,6,8.484,8.484,0,0,1-2.484,6,8.48,8.48,0,0,1-6,2.484A8.49,8.49,0,0,1-13914.514-2387.523Zm1-10.994a7.071,7.071,0,0,0-2.07,5,7.07,7.07,0,0,0,2.07,5,7.068,7.068,0,0,0,5,2.071,7.07,7.07,0,0,0,5-2.071,7.071,7.071,0,0,0,2.071-5,7.072,7.072,0,0,0-2.071-5,7.072,7.072,0,0,0-5-2.07A7.069,7.069,0,0,0-13913.518-2398.517Zm4.291,7.826a.713.713,0,0,1-.5-.207l-2.12-2.121a.708.708,0,0,1,0-1,.706.706,0,0,1,1,0h0l1.572,1.573,3.04-3.645a.707.707,0,0,1,.979-.071.707.707,0,0,1,.107.975l-3.534,4.241a.705.705,0,0,1-.511.255Z" transform="translate(13917.002 2402.001)"/></svg>');
    background-repeat: no-repeat;
    background-size: 1.2em auto;
    background-position: left .25em;
  }
}
