.demo--form-variant-primary {
  .form-select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 5l6 6 6-6"/></svg>');
  }
  .form-check {
    &[disabled] {
      background-color: theme('colors.gray.700') !important;
      border-color: theme('colors.gray.700') !important;
    }
  }
}
