@import (reference) "../../../../../dist/styles/xtend.less";

// animations

.slide {
  // mask animation
  &:not(.dragging) {
    .transition-default.out();
    > * {
      .transition-default.out();
    }
    &.active {
      .transition-default.active();
      > * {
        .transition-default.active();
      }
    }
  }
  // content animation
  &.active {
    > .content {
      .anim-right.active();
    }
    &.direction-inverse {
      > * {
        .anim-left.active();
      }
    }
  }
}

@keyframes anim-special-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes anim-special-in-inverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
