@import (reference) "../../../../../dist/styles/xtend.less";

// animations

.slide {
  .user-select-none();
  position: relative;
  overflow: hidden;
  > * {
    position: relative;
  }
  .margin(bottom, medium);
}