@import (reference) "../../../../../dist/styles/xtend.less";

// animations

.slide {
  // mask animation
  &:not(.dragging) {
    .transition-default.out();
    transition-duration: @time-big;
    > * {
      .transition-default.out();
      transition-duration: @time-big;
    }
    &.active {
      .transition-default.active();
      transition-duration: @time-big;
      > * {
        .transition-default.active();
        transition-duration: @time-big;
      }
    }
  }
  // animation
  > * {
    .anim-left.out();
    animation-duration: @time-big;
    > .content > .box > .content > * {
      .anim-left.out();
      animation-duration: @time-big;
      animation-fill-mode: forwards;
      opacity: 1;
      // delay
      animation-delay: 300ms; // @start + @child * @increment
      .nth-child(@child:2, @start:0ms, @increment:150ms, @decrement:0ms, {
        @animation-delay(); });
    }
  }
  &.direction-inverse {
    > * {
      .anim-right.out();
      animation-duration: @time-big;
      > .content > .box > .content > * {
        .anim-right.out();
        animation-duration: @time-big;
        animation-fill-mode: forwards;
        opacity: 1;
      }
    }
  }
  &.active {
    > * {
      .anim-right.active();
      animation-duration: @time-big;
      > .content > .box > .content > * {
        .anim-right.active();
        animation-duration: @time-big;
        animation-fill-mode: forwards;
        opacity: 0;
      }
    }
    &.direction-inverse {
      > * {
        .anim-left.active();
        animation-duration: @time-big;
        > .content > .box > .content > * {
          .anim-left.active();
          animation-duration: @time-big;
          animation-fill-mode: forwards;
          opacity: 0;
        }
      }
    }
  }
}

@keyframes anim-special-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes anim-special-in-inverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
