@import (reference) "../../../../../dist/styles/xtend.less";

// animations

.slider-item {
  .user-select-none();
  position: relative;
  overflow: hidden;
  > .content {
    position: relative;
  }
  .margin(bottom, medium);
}