@import (reference) "../../../../../dist/styles/xtend.less";

// animations

.slider-item {
  position: relative;
  overflow: hidden;
  > .content {
    position: relative;
  }
  .box();
  margin-top: 0 !important;
  &:after {
    content: '';
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: @white;
    transform: translateX(0);
  }
  &.active {
    .anim-right.active();
    &:after {
      .animation-default.active();
      animation-name: anim-special-in;
      transform: translateX(-100%);
    }
  }
  &.out {
    .anim-left.out();
    &:after {
      .animation-default.out();
      animation-name: anim-special-out;
      transform: translateX(0);
    }
  }
}

@keyframes anim-special-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes anim-special-out {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}