@import (reference) "../../../../../dist/styles/xtend.less";

// animations

.slider-item {
  .user-select-none();
  position: relative;
  overflow: hidden;
  > .content {
    position: relative;
  }
  .margin(bottom, medium);
  // mask animation
  &:not(.dragging) {
    .transition-default.out();
    > .content {
      .transition-default.out();
    }
    &.active {
      .transition-default.active();
      > .content {
        .transition-default.active();
      }
    }
  }
  // content animation
  &.active {
    > .content {
      .anim-right.active();
    }
    &.direction-inverse {
      > .content {
        .anim-left.active();
      }
    }
  }
}

@keyframes anim-special-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes anim-special-in-inverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
