@import 'xtend-library/src/extensions/loader/loader.less';

/**
 * .infinite-scroll
 */

.infinite-scroll {
  .margin(top, big);
  > .list-block {
    .list-space(tiny);
    align-items: center;
  }
}

.infinite-scroll--more {
  .font-sans-semibold();
  font-size: 12px;
  letter-spacing: .05em;
}

.infinite-scroll--spinner {
  .loader-animated.out();
}
.infinite-scroll-loading {
  .infinite-scroll--spinner {
    .loader-animated.in();
  }
}

[data-xt-infinite-scroll-trigger] {
  .content-nomore {
    display: none;
  }
  .content {
    transition: transform @time-small @ease-out-expo, opacity @time-small @ease-out-expo;
  }
}

.infinite-scroll-loading {
  [data-xt-infinite-scroll-trigger] {
    pointer-events: none;
    > .content {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform @time-small @ease-out-expo, opacity @time-small @ease-out-expo;
    }
  }
}

.infinite-scroll-nomore {
  [data-xt-infinite-scroll-trigger] {
    .disabled();
    pointer-events: none;
    .content {
      display: none;
    }
    .content-nomore {
      display: block;
    }
  }
}