.demo--overlay-class-html, .demo--overlay-class-html-react {
  /* DO NOT APPLY to selector with descendants with position: fixed; or transforms bugs position: fixed; */
  @apply transition;
  .classhtml-custom & {
    @apply translate-x-4;
  }
}
