//////////////////////
// footer
//////////////////////

// .site_footer_bottom

.site_footer_bottom {
  .padding(top, medium);
  .padding(bottom, medium);
  font-size: 12px;
  a {
    .font-sans--semibold();
    color: @black;
    text-decoration: none;
    // animation
    &:hover, &.hover, &:active, &.active {
      color: @black;
      text-decoration: underline;
    }
  }
}

.site_footer_bottom_row {
  .flex--auto();
  @media @max-sm {
    .row-space(none);
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    text-align: center;
    .separator {
      display: none;
    }
  }
  @media @min-sm {
    .row-space(tiny);
    justify-content: space-between;
    br {
      display: none;
    }
  }
}
