/**
 * overlay-close-fixed
 */

.overlay-close-fixed {
  .btn-close {
    position: fixed !important;
    z-index: @index-btn-close;
    line-height: 1;
    .btn-close {
      position: relative !important;
    }
  }
}
