/**
 * overlay-class-html
 */

.overlay-class-html { // @NOTICE DO NOT APPLY to selector with descendants with position: fixed;
  transition: transform @time-small @ease-out;
  html.overlay-class-html-top & {
    transform: translateY(3rem);
    transition-timing-function: @ease-in;
  }
  html.overlay-class-html-left & {
    transform: translateX(3rem);
    transition-timing-function: @ease-in;
  }
  html.overlay-class-html-right & {
    transform: translateX(-3rem);
    transition-timing-function: @ease-in;
  }
}
