@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/button/button.less';
@import '~xtend-library/src/core/overlay/overlay.less';
@import '~xtend-library/src/core/typography/typography.less';

/**
 * overlay-class-html
 */

.overlay-class-html { // @NOTICE DO NOT APPLY to selector with descendants with position: fixed;
  transition: transform @time-small @ease-off;
  html.overlay-class-html-top & {
    transform: translateY(3rem);
    transition-timing-function: @ease-on;
  }
  html.overlay-class-html-left & {
    transform: translateX(3rem);
    transition-timing-function: @ease-on;
  }
  html.overlay-class-html-right & {
    transform: translateX(-3rem);
    transition-timing-function: @ease-on;
  }
}
