@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/button/button.less';
@import '~xtend-library/src/core/overlay/overlay.less';
@import '~xtend-library/src/core/typography/typography.less';

/**
 * overlay-class-html
 */

.overlay-class-html { // @NOTICE DO NOT APPLY to selector with descendants with position: fixed; or it bugs position: fixed;
  transition: transform @time-small @ease-leave;
  html.overlay-class-html-left & {
    transform: translateX(4rem);
    transition-timing-function: @ease-enter;
  }
  html.overlay-class-html-right & {
    transform: translateX(-4rem);
    transition-timing-function: @ease-enter;
  }
}
