@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/button/button.less';
@import '~xtend-library/src/core/overlay/overlay.less';
@import '~xtend-library/src/core/typography/typography.less';

/**
 * overlay-close-outside
 */

.overlay-close-outside {
  .card > .card-inner > .btn-close {
    .btn-primary() !important;
    .btn-squared() !important;
    top: 0 !important;
    left: 100% !important;
    right: auto !important;
  }
  &.overlay-position-right {
    .card > .card-inner > .btn-close {
      left: auto !important;
      right: 100% !important;
    }
  }
}
