@import (reference) '~xtend-library/src/xtend-core.less';
@import '~xtend-library/src/core/button/button.less';
@import '~xtend-library/src/core/overlay/overlay.less';
@import '~xtend-library/src/core/typography/typography.less';

/**
 * overlay-close-outside
 */

.overlay-close-outside {
  &:not(.overlay-screen) {
    .card-overlay > .btn-close {
      .btn-primary();
      .btn-squared();
      top: 0;
      left: 100%;
      right: auto;
    }
    &.overlay-position-right {
      .card-overlay > .btn-close {
        left: auto;
        right: 100%;
      }
    }
  }
}
