@import (reference) '/src/xtend-core.less';
@import '/src/core/button/button.less';
@import '/src/core/overlay/overlay.less';
@import '/src/core/typography/typography.less';

/**
 * overlay-message-outside
 */

.overlay-message-outside {
  position: fixed;
  z-index: @index-overlay !important;
  top: 50%;
  width: calc(100vw - 510px);
  text-align: center;
  @media @max-sm {
    display: none;
  }
  .overlay-position-left & {
    right: 0;
  }
  .overlay-position-right & {
    left: 0;
  }
  // animation
  opacity: 0;
  .overlay-position-left.in & {
    .anim-x-inverse.in();
  }
  .overlay-position-left.out & {
    .anim-x.out();
  }
  .overlay-position-right.in & {
    .anim-x.in();
  }
  .overlay-position-right.out & {
    .anim-x-inverse.out();
  }
}
