/**
 * overlay-message-outside
 */

.overlay-message-outside {
  position: fixed;
  z-index: @index-overlay !important;
  top: 50%;
  width: calc(100vw - 510px);
  text-align: center;
  @media @max-sm {
    display: none;
  }
}

.overlay-position-left {
  .overlay-message-outside {
    right: 0;
    opacity: 0;
  }
  &.in {
    .overlay-message-outside {
      .anim-x-inverse.in();
    }
  }
  &.out {
    .overlay-message-outside {
      .anim-x.out();
    }
  }
}

.overlay-position-right {
  .overlay-message-outside {
    left: 0;
    opacity: 0;
  }
  &.in {
    .overlay-message-outside {
      .anim-x.in();
    }
  }
  &.out {
    .overlay-message-outside {
      .anim-x-inverse.out();
    }
  }
}