@import 'xtend-library/src/addons/overlay/_position.less';

/**
 * overlay-position
 */

.overlay-position {
  .overlay-squared();
  .overlay-container {
    .overlay-position-left& {
      width: 88% !important;
      max-width: 500px !important;
    }
    .overlay-position-right& {
      width: 88% !important;
      max-width: 500px !important;
    }
  }
}
