// xtend extension: demo--overlay--content-multiple

.demo--overlay--content-multiple {
  .btn--close {
    .btn--primary();
  }
  .overlay-menu {
    .list();
    .list--default();
    .list-space(none);
    height: 63px;
    background: @primary;
    > .btn {
      display: flex;
      align-items: center;
    }
  }
  // animation
  &.active {
    .overlay-menu {
      .anim-y.active();
      animation-delay: @time--small;
    }
  }
  &.out {
    .overlay-menu {
      .anim-y-inverse.out();
    }
  }
}
