@import (reference) '~xtend-library/components/xtend';

/**
 * xtend extension: group-number
 */

.group-number-line {
  .group--light();
  .form-item {
    width: 5.5rem;
  }
}

.group-number-stack {
  .group--light();
  .form-item {
    width: 5.5rem;
  }
}

.group-number {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
