/**
 * code
 */

// code

code {
  margin: -.1em .1em;
  padding: .2em .35em;
  border-radius: 2px;
  background: fade(@gray-300, 50%) !important;
  .font-monospace();
  font-size: .8em;
}

// pre

pre {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  .overflow-style(@mode: inner);
  .margin(y, medium) !important;
  .margin(y, layout) !important;
  .padding(all, medium) !important;
  width: 100%;
  border-radius: .5em;
  border-width: 0;
  border-style: solid;
  background: @gray-100 !important;
  line-height: 0 !important;
  code {
    width: 100%;
    background: transparent !important;
    .font-monospace();
    font-size: 1.2rem !important;
    line-height: 1.6 !important;
    white-space: pre-wrap !important;
  }
}
