/**
 * media
 */

.media-container {
  .full();
  position: relative;
  overflow: hidden;
}

.media-inner {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.media {
  width: 100%;
}
