/**
 * media
 */

.media-container {
  .full();
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  border-radius: inherit;
}

.media-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.media {
  width: 100%;
  height: 100%;
}

