@import '~xtend-library/src/core/media/_media.less';

/**
 * media
 */

.media-none {
  object-fit: none;
  object-position: center center;
  font-family: 'object-fit: none; object-position: center center;';
}

.media-cover {
  object-fit: cover;
  object-position: center center;
  font-family: 'object-fit: cover; object-position: center center;';
}

.media-contain {
  object-fit: contain;
  object-position: center center;
  font-family: 'object-fit: contain; object-position: center center;';
}

.media-scale-down {
  object-fit: scale-down;
  object-position: center center;
  font-family: 'object-fit: scale-down; object-position: center center;';
}

.media-fill {
  object-fit: fill;
  object-position: center center;
  font-family: 'object-fit: fill; object-position: center center;';
}

// aspect ratio

.media-16-9 {
  .full();
  position: relative;
  height: 0;
  padding-bottom: 56.2%; /* 16:9 */
  video, iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
