@import 'xtend-library/src/core/media/_media.less';

/**
 * media
 */

.media-container {
  background: @shade-500;
}

// responsive

.media-responsive {
  .media-inner {
    position: relative;
  }
}

// aspect ratio

.media-16-9 {
  padding-bottom: 56.2%;
}

// object-fit

.media-none {
  .media {
    object-fit: none;
    object-position: center center;
  }
}

.media-cover {
  .media {
    object-fit: cover;
    object-position: center center;
  }
}

.media-contain {
  .media {
    object-fit: contain;
    object-position: center center;
  }
}

.media-scale-down {
  .media {
    object-fit: scale-down;
    object-position: center center;
  }
}

.media-fill {
  .media {
    object-fit: fill;
    object-position: center center;
  }
}
