@import 'xtend-library/src/core/media/_media.less';

/**
 * media
 */

.media-container {
  background: @shade-900;
}

// responsive

.media-container-responsive {
  .media-inner {
    position: relative;
  }
}

// aspect ratio

.media-container-16-9 {
  padding-bottom: 56.2%;
}

// object-fit

.media-none {
  object-fit: none;
  object-position: center center;
}

.media-cover {
  object-fit: cover;
  object-position: center center;
}

.media-contain {
  object-fit: contain;
  object-position: center center;
}

.media-scale-down {
  object-fit: scale-down;
  object-position: center center;
}

.media-fill {
  object-fit: fill;
  object-position: center center;
}
