/**
 * alert
 */

/*
@alert--design: ~':before'; // selector for design

.alert {
  display: flex;
  flex-direction: column;
  .flex-auto();
  width: 100%;
  position: relative;
  z-index: @index-base; // fix :before negative z-index
  .margin(y, medium);
  &@{alert--design} {
    .design-setup();
    border-radius: inherit;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
  }
  // animation
  &.active {
    .anim-x.active();
    &.inverse {
      .anim-x-inverse.active();
    }
  }
  &.out {
    .anim-x.out();
    &.inverse {
      .anim-x-inverse.out();
    }
  }
}

// variant

.alert--default {
  .alert--medium();
  color: @text;
  &@{alert--design} {
    border-color: @gray-200;
    background: @gray-200;
  }
}

.alert--primary {
  .alert--medium();
  .text--inverse();
  &@{alert--design} {
    border-color: @gray-800;
    background: @gray-800;
  }
}

// size

.alert--small {
  > .alert-content {
    padding: .5em 1em;
    font-size: 1.3rem;
  }
}

.alert--medium {
  > .alert-content {
    padding: 1em 1.5em;
    font-size: 1.4rem;
  }
}
*/
