@import '~xtend-library/src/extension/sticky/sticky-setup.less';

/**
 * sticky
 */

.sticky--moving {
  transition-property: top;
  transition-duration: @time--medium;
  transition-timing-function: @bez--out;
}
