name: Deploy

on:
  workflow_run:
    workflows: ["Release"]
    branches:
      - master
      - beta
    types:
      - completed

env:
  NODE: 20.x

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.workflow_run.head_branch }}
    # setup/action.yml composite
    - name: Node setup
      uses: actions/setup-node@v3
      with:
        node-version: "${{ env.NODE }}"
    - uses: pnpm/action-setup@v2
      with:
        version: 8
    - name: Pnpm
      run: pnpm install --frozen-lockfile --prefer-offline
    # build/action.yml composite
    - name: Build
      run: pnpm build
      env:
        CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
        CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
        SHELL: bash
    # deploy/action.yml composite
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.semantic_release_github_token }}
        BRANCH: gh-pages
        FOLDER: out
        GIT_CONFIG_NAME: minimit
        GIT_CONFIG_EMAIL: beaver82@gmail.com
