.demo--drop-animation-css, .demo--drop-animation-css-react {
  .xt-drop {
    /* initial */
    > * {
      @apply transform ease-out duration-500;
      @apply opacity-0 -translate-x-4;
    }
    /* active */
    &.in {
      > * {
        @apply opacity-100 translate-x-0;
      }
    }
    /* out */
    &.out {
      > * {
        @apply translate-x-4 opacity-0;
      }
    }
  }
}
