@import '~xtend-library/src/components/sticky/sticky-core';

//////////////////////
// sticky
//////////////////////

.sticky--moving {
  transition-property: transform;
  transition-duration: @time--medium;
  transition-timing-function: @bez--out;
}
